<ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="'category'">

        <div class="photo shine"></div>

    </ng-container>

    <ng-container *ngSwitchCase="'category-big'">

        <div class="photo-big shine"></div>

    </ng-container>

    <ng-container *ngSwitchCase="'item'">

        <div class="box shine"></div>

        <div>
            <div class="lines shine"></div>
            <div class="lines shine"></div>
            <div class="lines shine"></div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'offer'">

        <div class="offer shine"></div>

    </ng-container>

    <ng-container *ngSwitchCase="'product-image'">

        <div class="product-image shine"></div>
        <div class="lines shine"></div>
        <div class="lines shine"></div>
        <div class="lines shine"></div>
        <div class="lines shine"></div>

        <div class="lines shine"></div>

        <!-- <div> -->

        <div style="display: flex;flex-direction: row;margin-left: 5px;">
            <div style="margin-left: 5px;">

                <div class="box shine"></div>
                <div class="small-lines shine"></div>
                <div class="small-lines shine"></div>
            </div>

            <div style="margin-left: 5px;">

                <div class="box shine"></div>
                <div class="small-lines shine"></div>
                <div class="small-lines shine"></div>
            </div>
            <div style="margin-left: 5px;">

                <div class="box shine"></div>
                <div class="small-lines shine"></div>
                <div class="small-lines shine"></div>
            </div>
        </div>

        <!-- </div> -->
    </ng-container>


    <ng-container *ngSwitchCase="'coupon'">

        <div class="coupon shine"></div>

    </ng-container>


    <ng-container *ngSwitchDefault>

        <div class="box shine"></div>

        <div>
            <div class="lines shine"></div>
            <div class="lines shine"></div>
            <div class="lines shine"></div>
        </div>
    </ng-container>
</ng-container>