<form [formGroup]="preferencesForm">
  <div class="create-profile">
    <div class="container">
      <div class="back-and-welcome">
        <!-- <a href="javascript:void(0)"><img src="assets/images/back-icon.svg" alt="Back Icon"/></a> -->
        <h1>
          Welcome back,
          {{
            userProfile && userProfile?.firstName
              ? (userProfile?.firstName | titlecase)
              : "User"
          }}
        </h1>
      </div>
      <div class="flex">
        <div class="col-12">
          <div class="upload-picture">
            <div class="upload-wrap">
              <figure>
              <img
                onerror="this.src = 'assets/images/user-placeholder.png'"
                [src]="imgUrl"
                alt="Image"
              />
            </figure>
              <a class="change-image" tabindex="0">
                <img
                  (click)="file.click()"
                  src="assets/images/icons/icon_edit.svg"
                  alt="Icon"
                />
              </a>
            </div>
            <label for="upload-image">
              <input
                hidden
                #file
                type="file"
                accept="image/*"
                (change)="preview(file.files)"
              />
            </label>
          </div>
        </div>
      </div>
      <h3>Account Information</h3>
      <div class="flex">
        <div class="col-6">
          <mat-label>First Name</mat-label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input formControlName="firstName" matInput />
            <mat-error>{{
              preferencesForm
                | getControl: ["firstName"]
                | validate: "First Name"
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-label>Last Name</mat-label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input formControlName="lastName" matInput />
            <mat-error>{{
              preferencesForm | getControl: ["lastName"] | validate: "Last Name"
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="col-6">
          <mat-label>Email</mat-label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input readonly formControlName="email" matInput />
            <mat-error>{{
              preferencesForm | getControl: ["email"] | validate: "Email"
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-label>Phone Number</mat-label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              formControlName="phoneNumber"
              (keydown)="handleKeyDown($event)"
              numberOnly
              matInput
            />
            <mat-error>{{
              preferencesForm
                | getControl: ["phoneNumber"]
                | validate: "Phone Number"
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <h3>Resource Preferences</h3>
      <div class="flex">
        <div class="col-6">
          <mat-label>Goal</mat-label>
          <mat-form-field appearance="outline">
            <mat-select [multiple]="true" formControlName="goals">
              <mat-option [value]="goal._id" *ngFor="let goal of goals">{{
                goal.goalName
              }}</mat-option>
            </mat-select>
            <mat-error>{{
              preferencesForm | getControl: ["goals"] | validate: "Goal"
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-label>Sector</mat-label>
          <mat-form-field appearance="outline">
            <mat-select [multiple]="true" formControlName="sectors">
              <mat-option [value]="sector._id" *ngFor="let sector of sectors">{{
                sector.sectorName
              }}</mat-option>
            </mat-select>
            <mat-error>{{
              preferencesForm | getControl: ["sectors"] | validate: "Sector"
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="btn-wrap">
        <button (click)="savePreferences()" type="submit" class="primary-btn">
          Save Profile
        </button>
        <div class="send-code red">
          <a tabindex="0" (click)="deleteAccount()"
            ><img src="assets/images/TRASH-ALT.svg" alt="Icon" /><span>
              Delete My Account</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</form>
