.create-profile {
  padding: 140px 0;
  background: url("../../../../assets/images/create-profile-bg.png") bottom center;
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height:41px;
    margin: 15px 0;
  }
  .back-and-welcome{
    
    h1{
      font-family: 'd-din_condenseddinCnBd';
      font-size:40px;
      line-height:52.13px;
      color:#000;
      margin:15px 0 25px;
    }
  }
  .btn-wrap {
    padding: 25px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .send-code{
    a{
      display: flex;
      align-items: center;
      img{
        margin-right:10px;
      }
    }
  }
  .upload-picture {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .upload-wrap {
      width: 100px;
      height: 100px;
      //   border-radius: 50%;
      position: relative;
      figure{
        width:100%;
        height:100%;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
    label {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height:17px;
      color: #60ACE5;
      margin: 0 0 0 10px;
      display: inline-block;
      input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        display: none;
      }
    }
  }
}

.change-image {
  position: absolute;
  bottom: -5px;
  right: -10px;
  z-index: 8;
  img {
    border-radius: 0% !important;
  }
}
.send-code {
  margin-bottom: 15px;
  a {
    span{
      font-family: "Lato", sans-serif;
      color: #F52A2A;
    }
  }
  &.red {
    a {
      span{
        font-size:18px;
        line-height:25px;
        color: #F52A2A;
      }
    }
  }
}
.verified {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: green;
  display: flex;
  position: relative;
  top: -5px;
  align-items: center;
}
.unverified {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: red;
  display: flex;
  position: relative;
  top: -5px;
  align-items: center;
}

:host ::ng-deep {
  .flex{
    .col-6{
      margin: 0 !important;
    }
  }
  .create-profile{
    mat-label{
      font-size:18px;
      line-height:25px;
      color:#000000;
    }
    .primary-btn{
      width:240px;
      text-align: center;
      background:#E7825B;
      font-size:18px;
      line-height:25px;
    }
  }
}