@import 'ckeditor';
::ng-deep {
  @include ckeditor;
}

.close-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom:10px;
}
.sub-info {
    .book-icon {
      display: flex;
      align-items: center;
      span {
        font-size: 13px;
        margin-left: 10px;
      }
    }
}
.btn-wrap {
    padding: 20px 0 0;
    text-align: right;
}
.outer-content{
    height: 125px;
    overflow: hidden;
}
.ck-content-wrap{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.top-section {
    h3{
        font-family: "d-dindin-bold";
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        cursor: pointer;
        margin-bottom: 10px;
    }
}