<div class="top-section">
    <div class="close-wrap">
      <a><img (click)="close()" class="cross-icon" src="assets/images/close-tooltip.svg" alt="Icon"/></a>
    </div>
    <h3>{{ contentDetail.title }}</h3>
  </div>
  <div class="sub-info">
    <div class="top-info">
      <div  class="book-icon">
        <a class="icon">
          <img [src]="contentDetail?.contenttype | contentTypeIcon" alt="Image"/>
        </a>
        <span
          *ngIf="contentDetail.moduleName == 'SERIESCATEGORIES'"
          class="small-content"
        >
          {{ contentDetail.minduration + " - " + contentDetail.maxduration + " mins" }}
          {{ contentDetail.contenttype | contentType: "contentLabel" }}</span
        >
        <span
          *ngIf="contentDetail.moduleName == 'SERIESCONTENT'"
          class="small-content"
        >
          {{ contentDetail.duration + " " + "mins" }}
          {{ contentDetail.contenttype | contentType: "contentLabel" }}</span
        >
      </div>
    </div>
  </div>
  <div class="outer-content">
    <div class="ck-content-wrap">
      <p [innerHtml]="contentDetail.resourceData && contentDetail.resourceData.length ? contentDetail.resourceData[0].shortdesc : contentDetail.postcontent"></p>
    </div>
  </div>
  <div class="btn-wrap">
    <button (click)="utilityService.goToDetails(contentDetail);close()" type="button" class="primary-btn">
      Let's Go
    </button>
  </div>