  <div class="social_login_button_wrapper">
    <!-- <a class="social_btn">
      <img src="assets/images/fb.svg" alt="">
      <span class="text_web">Facebook</span>
      <span class="text_mobile">Login with facebook</span>      
    </a> -->
    <app-facebook (facebookLogin)="facebookLogin($event)"></app-facebook>

    <!-- <a class="social_btn">
      <img src="assets/images/Google_Icon.svg" alt="">
      <span class="text_web">Google</span>
      <span class="text_mobile">Login with google</span>
    </a> -->

    <app-google (googleSignIn)="googleLogin($event)"></app-google>
    <!-- <app-google-login (googleSignIn)="googleLogin($event)"></app-google-login> -->

    <!-- <a (click)="appleSingIn()" class="social_btn">
      <img src="assets/images/apple.svg" alt="">
      <span class="text_web">Apple</span>
      <span class="text_mobile">Login with Apple</span>
    </a> -->
    <!-- <a class="social_btn">
      <img src="assets/images/skip.svg" alt="">
      Skip Now
    </a> -->
  </div>