<mat-card-title class="module-title">List All Assets inventory</mat-card-title>
<mat-expansion-panel [disabled]="true" [expanded]="panelOpenState" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> </mat-panel-title>
    <button class="req-btn" mat-raised-button (click)="togglePanel()">
      + Add new assets declaration
    </button>
  </mat-expansion-panel-header>
  <div class="p-24">
    <form [formGroup]="assetDeclarationForm">
      <div class="flex flex-wrap ai-center g-1">
        <div *ngFor="let field of fields" class="flex-size">
          <mat-card-subtitle class="c-label"
            >{{ field.label }}
          </mat-card-subtitle>
          <mat-form-field
            class="form-field"
            appearance="outline"
            *ngIf="!(field.type === 'select')"
          >
            <input
              matInput
              type="text"
              formControlName="{{ field.formControlName }}"
              placeholder="{{ field.placeholder }}"
            />
          </mat-form-field>
          <mat-form-field
            class="form-field"
            appearance="outline"
            *ngIf="field.type === 'select'"
          >
            <mat-select
              formControlName="{{ field.formControlName }}"
              placeholder="{{ field.placeholder }}"
            >
              <mat-option
                *ngFor="let item of field.dorpDown"
                value="{{ item }}"
                >{{ item }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-size"></div>
        <div class="flex-size"></div>
        <div class="flex-size"></div>
      </div>
    </form>

    <mat-card-actions class="jc-center">
      <button
        (click)="submitHandler()"
        mat-raised-button
        class="button-primary"
      >
        Submit
      </button>
    </mat-card-actions>
  </div>
</mat-expansion-panel>
<br />

<mat-card class="p-14">
  <app-ru-table
    class="table"
    [tableColumns]="tableColumns"
    [tableData]="tableData"
    [TableClass]="'asset-inventory-table'"
    [isFilterable]="true"
  ></app-ru-table>
</mat-card>
