<div class="main-container">
  <div class="header flex jc-between ai-center">
    <mat-card-title class="title">
      Additional condition for rewards
    </mat-card-title>
    <mat-icon (click)="close()" class="icon"> close </mat-icon>
  </div>
  <div class="container" [formGroup]="referCandidateFrom">
    <div class="dash_heading">
      <mat-card-title>Job Details</mat-card-title>
    </div>

    <div class="pre-filled-form-fields">
      <div *ngFor="let field of preFilledFields">
        <mat-card-subtitle>{{ field.label }}</mat-card-subtitle>
        <mat-form-field class="field-disabled" appearance="outline">
          <input matInput formControlName="{{ field.formControlName }}" />
        </mat-form-field>
      </div>
    </div>

    <div class="dash_heading">
      <mat-card-title>Candidate Details</mat-card-title>
    </div>

    <div class="manual-fill-form-field">
      <div *ngFor="let field of ManualFillFields">
        <mat-card-subtitle>{{ field.label }}</mat-card-subtitle>
        <mat-form-field *ngIf="field.select" appearance="outline">
          <mat-select formControlName="{{ field.formControlName }}">
            <mat-option *ngFor="let location of jobLocations" [value]="location">{{location}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          [ngClass]="{'field-disabled': referCandidateFrom.get(field.formControlName)?.status == 'DISABLED'}"
          appearance="outline" *ngIf="!field.select">
          <input matInput type="{{field.type}}" formControlName="{{ field.formControlName }}" />
          <mat-error>{{
            referCandidateFrom | getControl : [field.formControlName] | validationCheck : field.formControlName |
            replaceChar : '_':' '
            }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="resume-skill-set">
      <div>
        <mat-card-subtitle>Upload CV (pdf,doc)</mat-card-subtitle>
        <mat-card class="custom-file-input-container">
          <input class="custom-file-input" (change)="getResume($event)" type="file" />
        </mat-card>
      </div>

      <div>
        <div class="flex jc-between">
          <mat-card-subtitle>Skill Set</mat-card-subtitle>
          <mat-card-subtitle>{{referCandidateFrom.get('skill')?.value.length}}/500</mat-card-subtitle>
        </div>

        <mat-form-field appearance="outline">
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" maxlength="500" cdkAutosizeMaxRows="10"
            formControlName="skill"></textarea>
          <mat-error>{{
            referCandidateFrom | getControl : ["skill"] | validationCheck : "skill"
            }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions class="actions">
      <button mat-raised-button class="button-cancel" (click)="cancelHandler()">Cancel</button>
      <button mat-raised-button class="button-primary" (click)="submitHandler()">Submit</button>
    </mat-card-actions>
  </div>
</div>