.main-container {
  max-height: 99vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #f3f3f3;
}
.container {
  padding: 25px;
  min-width: 50vw;
  mat-card-subtitle {
    color: #96a5b8;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .pre-filled-form-fields {
    display: grid;
    grid-template-columns: calc(50% - 1em) calc(50% - 1em);
    gap: 1em;
  }
  .manual-fill-form-field {
    display: grid;
    grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
    gap: 1em;
  }
  .resume-skill-set {
    display: grid;
    grid-template-columns: calc(50% - 1em) calc(50% - 1em);
    gap: 2em;
    ::ng-deep .mat-mdc-text-field-wrapper {
      background-color: white;
      min-height: 10em;
    }
    .custom-file-input-container {
      border: 1px solid #d8d8d8;
      border-radius: 3px !important;
      padding: 12px 10px !important;
      background: #fff;
    }
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    height: 2.5em;
  }
  ::ng-deep.mat-mdc-form-field-infix {
    padding-top: 8px !important;
  }
  .dash_heading {
    font-size: 25px;
    color: #606167;
    font-weight: 500;
    line-height: 1.5;
    padding-left: 1em;
    margin: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    mat-card-title {
      background-color: #ffffff;
      z-index: 1;
      margin: 4px 5px;
    }
  }

  .dash_heading:after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px dashed #96a5b8;
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .actions {
    gap: 1em;
    justify-content: flex-end !important;
  }
}
