<div class="main-container">
  <div class="header">
    <mat-card-title>Refer a Candidate</mat-card-title>
    <mat-icon>close</mat-icon>
  </div>

  <div class="container" [formGroup]="referCandidateFrom">
    <div class="dash_heading">
      <mat-card-title>My Details</mat-card-title>
    </div>

    <div class="pre-filled-form-fields">
      <div *ngFor="let field of preFilledFields">
        <mat-card-subtitle>{{ field.label }}</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <input matInput formControlName="{{ field.formControlName }}" />
        </mat-form-field>
      </div>
    </div>

    <div class="dash_heading">
      <mat-card-title>My Details</mat-card-title>
    </div>

    <div class="manual-fill-form-field">
      <div *ngFor="let field of ManualFillFields">
        <mat-card-subtitle>{{ field.label }}</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <input matInput formControlName="{{ field.formControlName }}" />
          <!-- <mat-select
          formControlName="{{ field.formControlName }}"
          
        >
          <mat-option></mat-option>
        </mat-select> -->
        </mat-form-field>
      </div>
    </div>

    <div class="resume-skill-set">
      <div>
        <mat-card-subtitle>Upload CV (pdf,doc)</mat-card-subtitle>
        <mat-card class="custom-file-input-container">
          <input
            class="custom-file-input"
            (change)="readURL($event)"
            type="file"
          />
        </mat-card>
      </div>

      <div>
        <mat-card-subtitle>Skill Set</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions class="actions">
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button>Submit</button>
    </mat-card-actions>
  </div>
</div>
