<div class="checkbox-wrapper">
  <div class="choose-item">
    <mat-checkbox
      #checkbox
      accessibilityClick
      (change)="onValueChange($event)"
      [value]="category.value[checkBoxObj.valueKey]"
      *ngFor="let category of checkBoxObj?.data | keyvalue"
    >
      <span accessibilityClick class="tab-index" tabindex="0">{{
        category.value[checkBoxObj.viewKey]
      }}</span></mat-checkbox
    >
  </div>
  <!-- <div class="choose-item">
      <mat-checkbox >Frontline</mat-checkbox>
    </div>
    <div class="choose-item">
      <mat-checkbox>Sector C</mat-checkbox>
    </div>
    <div class="choose-item">
      <mat-checkbox>Sector D</mat-checkbox>
    </div>
    <div class="choose-item">
      <mat-checkbox>Sector E</mat-checkbox>
    </div> -->
</div>
