.header {
  background: #f3f3f3 !important;
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .title {
    font-size: 1.4em;
    color: #199cff;
    line-height: 1.2;
    font-weight: 550;
  }
  .icon {
    background: white;
    border-radius: 50%;
    padding: 0.2em;
  }
}
.container {
  position: relative;
  padding: 24px;
  mat-card-subtitle {
    color: #96a5b8;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .pre-filled-form-fields {
    display: grid;
    grid-template-columns: calc(50% - 1em) calc(50% - 1em);
    gap: 1em;
  }
  .manual-fill-form-field {
    display: grid;
    grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
    gap: 1em;
  }
  .resume-skill-set {
    display: grid;
    grid-template-columns: calc(50% - 1em) calc(50% - 1em);
    gap: 2em;
    margin-top: 0.5em;
    ::ng-deep .mat-mdc-text-field-wrapper {
      background-color: white;
      min-height: 10em;
    }
    .custom-file-input-container {
      border: 1px solid #d8d8d8;
      border-radius: 3px !important;
      padding: 12px 10px !important;
      background: #fff;
    }
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    height: 2.5em;
  }
  ::ng-deep.mat-mdc-form-field-infix {
    padding-top: 8px !important;
  }

  .actions {
    gap: 1em;
    justify-content: flex-end !important;
  }
}

.field-disabled {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: #f8f8f8 !important;
      color: #a3a4a6 !important;
    }
  }
}
