<div class="profile-container">
  <mat-card class="media">
    <img src="assets/default/default_male.jpg" alt="" />
    <mat-card-content class="media-body">
      <mat-card-title>
        {{ empDetail.full_name | titlecase }}
      </mat-card-title>
      <mat-card-subtitle>
        <span
          ><strong>{{ "email : " | titlecase }}</strong></span
        >
        {{ empDetail.email }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span
          ><strong>{{ "employee ID : " | titlecase }}</strong></span
        >
        {{ empDetail.employee_id }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span
          ><strong>{{ "Designation : " | titlecase }}</strong></span
        >
        {{ empDetail.designation }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <span
          ><strong>{{ "last login : " | titlecase }}</strong></span
        >
        {{ empDetail.last_login }}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>

<div class="content-container">
  <mat-tab-group>
    <mat-tab *ngFor="let list of selectionMenu">
      <ng-template mat-tab-label>
        <mat-icon class="list-icon">{{ list?.icon }}</mat-icon>
        {{ list.name }}
      </ng-template>
      <div [ngSwitch]="list.name">
        <app-basic-info *ngSwitchCase="'basic information'"></app-basic-info>
        <app-profile-pic *ngSwitchCase="'profile picture'"></app-profile-pic>
        <app-qualification *ngSwitchCase="'qualification'"></app-qualification>
        <app-shift *ngSwitchCase="'shift'"></app-shift>
        <app-change-pass *ngSwitchCase="'change password'"></app-change-pass>
        <app-appraisal *ngSwitchCase="'appraisal'"></app-appraisal>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
