<mat-card>
  <mat-card-title>Employee Force Change Password</mat-card-title>
  <div>
    <div>
      <label>Old Password</label>
    </div>
    <mat-form-field>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <div>
      <label>New Password</label>
    </div>
    <mat-form-field>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <div>
      <label>Confirm Password</label>
    </div>
    <mat-form-field>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <app-ru-button [bText]="'Save'"></app-ru-button>
  </div>
</mat-card>
