<mat-card>
  <mat-card-title>Employee Force Change Password</mat-card-title>
    <div>
      <mat-card-subtitle>Old Password</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-card-subtitle>New Password</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-card-subtitle>Confirm Password</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input matInput />
      </mat-form-field>
    </div>
  <div>
    <app-ru-button [bText]="'Save'"></app-ru-button>
  </div>
</mat-card>
