mat-form-field {
  width: 100%;
  margin-bottom: 0.5em;
}
mat-card-title {
  font-size: 20px;
  color: #3246d3;
  font-family: "Segoe UI";
  margin-bottom: 1em;
  border-bottom: 1px solid #f3f7fc;
  font-weight: 700;
}

mat-card-subtitle {
  margin-bottom: 0.5em;
}
mat-card {
  padding: 24px;
}
