<section class="main-content">
    <div class="container">
      <div class="flex auto">
        <div class="col-6">
            <h1 class="page-title">Every workplace has a part to play in promoting the mental wellbeing of employees, clients, and their community — but every workplace culture is unique.</h1>
        </div>
        <div class="col-6">
          <div class="image-wrap">
            <div class="image-inner">
              <img src="" alt="Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-page-content">
        <div class="container">       
            <h3 class="sub-title">We provide</h3>
            <div class="wrap-slider">
                <div class="flex">
                    <div class="col-4">
                        <div class="content-inner">
                            <h3>Box Breathing</h3>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti omnis dicta consequatur molestiae pariatur aliquam sapiente illo, tenetur nulla. Magni, iure adipisci molestiae laboriosam quisquam maxime exercitationem expedita maiores perferendis.</p>
                            <div class="detail-link">
                                <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="content-inner">
                            <h3>Box Breathing</h3>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti omnis dicta consequatur molestiae pariatur aliquam sapiente illo, tenetur nulla. Magni, iure adipisci molestiae laboriosam quisquam maxime exercitationem expedita maiores perferendis.</p>
                            <div class="detail-link">
                            <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="content-inner">
                            <h3>Box Breathing</h3>
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti omnis dicta consequatur molestiae pariatur aliquam sapiente illo, tenetur nulla. Magni, iure adipisci molestiae laboriosam quisquam maxime exercitationem expedita maiores perferendis.</p>
                            <div class="detail-link">
                            <mat-icon>arrow_forward</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-page-content about-us">
        <div class="container">    
            <div class="flex">
                <div class="col-6">
                    <h3>About Us</h3>
                </div>
                <div class="col-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sit doloribus in sed, amet fugiat ut minima. Dicta voluptatum, commodi, veniam laboriosam incidunt distinctio asperiores odio at provident nobis quidem!</p>
                </div>
            </div>
        </div>
    </div>
</section>
  