@import 'ckeditor';
::ng-deep {
  @include ckeditor;
}

.main-content {
  padding: 140px 0 50px;
  .page-title {
    font-family: 'd-din_condensedregular';
    font-size: 40px;
    line-height:1;
    color:#E7825B;
    @media (max-width: 1024px) {
      font-size:30px;
    }
    @media (max-width: 767px) {
      font-size:24px;
      margin-bottom:10px;
    }
  }
  .top-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .top-action {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      a {
        margin-right: 10px;
      }
      p{
        margin-bottom:0;
      }
    }
    .tbs-listing {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
      a {
        padding: 5px 15px;
        background: #eef3f7;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
        margin: 0 10px 10px 0;
      }
    }
  }
  .flex.auto {
    margin-bottom: 30px;
    align-items: flex-start;
    p {
      font-size: 16px;
    }
  }
  .image-wrap {
    height: 292px;
    background: url("../../../../assets/images/card-shadow.png") no-repeat;
    background-size: 100% 292px;
    display: flex;
    align-items: center;
    justify-content: center;
    .image-inner{
      height:192px;
      padding: 0 50px;
    
      overflow:hidden;
      img{
        width:100%;
        height:100%;
        border-radius:15px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .sub-page-content {
    background: url("../../../../assets/images/quiz-category-image.png") no-repeat center center;
    background-size:100%;
    height:533px;
    display: flex;
    align-items: center;
    &.about-us{
        h3{
            font-size: 40px;
            color: #4C4C4C;
            text-align: center;
        }
        p{
            font-size: 16px;
            line-height: 1.2;
            color: #000000;
        }
    }
    .sub-title{
        font-family: 'd-din_condensedregular';
        font-size:40px;
        font-weight:700;
        color:#000000;
    }
    .content-inner {
      height:100%;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 25px;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      box-shadow: 10px 10px 0px #FCE082;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      .detail-link{
        width:100%;
        padding:10px 0;
        text-align: right;
        mat-icon{
          cursor: pointer;
          color:#E7825B;
        }
      }

      h3 {
        font-family: 'd-dindin-bold';
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 10px;
      }
      .description {
        font-size: 16px;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }
}