<app-header></app-header>
<div class="wrapper">
  <section class="main-content">
    <div class="discover-area">
      <div class="discover-bg">
        <figure>
          <img src="assets/images/SpeakingWithDoctor.jpg" alt="Speaking With Doctor Image"/>
        </figure>
      </div>
      <div class="container">
        <div class="content">
          <div class="inner-content">
            <h1 class="page-title">Discover Relevant Resources</h1>
            <div class="checkbox-area">
              <div class="check-row">
                <div class="check-left">
                  <h3>Sector</h3>
                </div>
                <div class="check-right">
                  <app-filter-checkbox
                    class="responsive-view"
                    [checkboxObject]="sectors"
                    (_emitSelection)="applyFilters($event)"
                  ></app-filter-checkbox>
                </div>
              </div>
              <div class="check-row">
                <div class="check-left">
                  <h3>Topic</h3>
                </div>
                <div class="check-right">
                  <app-filter-checkbox
                    class="responsive-view"
                    [checkboxObject]="goals"
                    (_emitSelection)="applyFilters($event)"
                  ></app-filter-checkbox>
                </div>
              </div>
              <div class="check-row">
                <div class="check-left">
                  <h3>Length</h3>
                </div>
                <div class="check-right length-item">
                  <app-filter-checkbox-single
                    [checkboxObject]="timeList"
                    (_emitSelection)="applyFilters($event)"
                  ></app-filter-checkbox-single>
                </div>
              </div>
            </div>
          </div>
          <div class="srch-bar-wrap">
            
            <app-search-bar
              (keyEventFired)="search($event)"
              [searchconfigSet]="searchconfig"
            >
            <div class="reset-set-default">
              <a
                tabindex="0"
                class="reset"
                #ref
                accessibilityClick
                style="right: 72px"
                (click)="saveUserFilter()"
                >Set as Default</a
              >

              <a
                class="reset"
                tabindex="0"
                accessibilityClick
                (click)="clearFilter()"
                >Reset</a
              >
            </div>
            </app-search-bar>
          </div>
        </div>
      </div>
      <form [formGroup]="filterForm">
        <div
          [@fadeInUp]
          *ngIf="selectedCategory == 'sectorSlug'"
          class="search-card-list"
        >
          <div class="radio-wrapper">
            <mat-radio-group
              formControlName="sectors"
              aria-label="Select an option"
              class="choose-button"
              (change)="applyFilters($event, 'sectors')"
            >
              <div *ngFor="let sector of sectors" class="choose-item">
                <mat-radio-button [value]="sector" class="check-item">{{
                  sector.sectorName
                }}</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div
          [@fadeInUp]
          *ngIf="selectedCategory == 'goalSlug'"
          class="search-card-list"
        >
          <div class="radio-wrapper">
            <mat-radio-group
              formControlName="goals"
              aria-label="Select an option"
              class="choose-button"
              (change)="applyFilters($event, 'goals')"
            >
              <div *ngFor="let goal of goals" class="choose-item">
                <mat-radio-button [value]="goal" class="check-item">{{
                  goal.goalName
                }}</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div
          [@fadeInUp]
          *ngIf="selectedCategory == 'timeduration'"
          class="search-card-list"
        >
          <div class="radio-wrapper">
            <mat-radio-group
              tabindex="0"
              formControlName="timeduration"
              aria-label="Select an option"
              class="choose-button"
              (change)="applyFilters($event, 'timeduration')"
            >
              <div
                *ngFor="let time of timeArray; let last = last"
                class="choose-item"
              >
                <mat-radio-button [value]="time" class="check-item"
                  >{{ time }}
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </form>
    </div>
    <div class="discover-card-wrap">
      <div class="container">
        <div *ngIf="seriesArray?.length" class="search-result">
          <h3 class="section-title">{{ total }} resources</h3>
          <div
            appScrollDirective
            [id]="'90'"
            (onScroll)="loadMore()"
            class="flex-row"
          >
            <div *ngFor="let item of seriesArray" class="col-item">
              <app-content-card [item]="item"></app-content-card>
            </div>
          </div>
        </div>
        <div *ngIf="seriesArray && seriesArray?.length == 0">
          <app-no-data></app-no-data>
        </div>
        <div
          *ngIf="seriesArray?.length && !nextPageExists"
          (click)="goToTop()"
          tabindex="0"
          class="scroll-top"
        >
          <a accessibilityClick tabindex="0"
            ><img src="assets/images/arrow-up-scroll.png" alt="Top Arrow"
          /></a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <app-footer></app-footer> -->
