<mat-card class="new-member-card">
  <div class="flex jc-between ai-center">
    <mat-card-title class="card-title">New Family Members</mat-card-title>
    <mat-card-actions class="icon-wrapper">
      <mat-icon class="arrow-icon">chevron_left</mat-icon>
      <mat-icon class="arrow-icon">chevron_right</mat-icon>
    </mat-card-actions>
  </div>

  <owl-carousel-o [options]="topCarouselRight" #OwlCarousel>
    <ng-container *ngFor="let item of newEmployee">
      <ng-template carouselSlide>
        <div class="user-card flex flex-column jc-center ai-center">
          <img
            class="new-employee-image"
            src="{{ item.path }}"
            alt="Employee Image"
          />
          <mat-card-title class="name">{{ item.name }}</mat-card-title>
          <mat-card-subtitle class="designation">
            {{ item.role }}
          </mat-card-subtitle>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</mat-card>
