.new-member-card {
  border-radius: 0.3em !important;
  gap: 1em;
  padding: 16px;
  .user-card {
    min-height: 430px;
    margin: 0 3em;
    background: url("../../../../../assets/default/new-family-card.png") no-repeat center / cover;
    text-align: center;
    .name {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
      line-height: 1.9;
      margin: 5px 0;
    }
    .designation {
      font-size: 12px;
      color: #606167;
      font-weight: 400;
      line-height: 1.2;
      margin: 5px 0;
      text-align: center;
    }
    .new-employee-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
  }
  .icon-wrapper {
    gap: 1em;
    .arrow-icon {
      border-radius: 50%;
      padding: 0.2em;
      color: #199cff;
      background: #f3f7fc;
    }
  }
}
