.card-title {
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(150, 165, 184, 0.5);
}

.jd-summary {
  margin: 0.5em;
  .form-data {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .label {
      min-width: 160px;
      color: #606167;
      font-size: 14px;
    }
    .data {
      color: #231e1e;
      font-size: 14px;
    }
  }
}

.jd-description {
  background-color: #f3f7fc;
  border-radius: 4px;
  margin-top: 15px;
  .description-text {
    margin: 0;
  }
}
