<div class="line">
  <span class="circle">
    <span class="number">1 : Suyash Saxena</span>
  </span>
  <span class="circle">
    <span class="number">2 : HR (Human Resource )</span>
  </span>
</div>
<div class="detail-grid">
  <div>
    <mat-card>
      <mat-card-title class="table-title">Leave Details</mat-card-title>
      <mat-list role="list">
        <mat-list-item
          class="list-item"
          role="listitem"
          *ngFor="let item of leaveDetail"
        >
          <div class="flex jc-between">
            <mat-card-subtitle class="tag">{{ item.tag }}</mat-card-subtitle>
            <mat-card-subtitle class="detail">{{
              item.detail
            }}</mat-card-subtitle>
          </div>
        </mat-list-item>
        <mat-card class="p-16">
          <mat-card-subtitle><strong>Reason</strong></mat-card-subtitle>
          <br />
          <mat-card-subtitle
            [innerHTML]="dataService.leaveDetail.detail"
          ></mat-card-subtitle>
          <br />
          <mat-card-subtitle >Remark : {{ dataService.leaveDetail.remark }}</mat-card-subtitle>
        </mat-card>
      </mat-list>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title class="table-title">Approval Status</mat-card-title>
      <mat-list role="list">
        <mat-list-item class="list-item" role="listitem">
          <div class="flex jc-between">
            <mat-card-subtitle class="tag">Suyash Saxena</mat-card-subtitle>
            <mat-card-subtitle>Pending</mat-card-subtitle>
          </div>
        </mat-list-item>
        <mat-list-item class="list-item" role="listitem">
          <div class="flex jc-between">
            <mat-card-subtitle class="tag"
              >HR (Human Resourse)</mat-card-subtitle
            >
            <mat-card-subtitle>Pending</mat-card-subtitle>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
