<div class="heading flex jc-between ai-center">
  <mat-card-title class="module-title">Add Pitch</mat-card-title>
  <mat-card-actions class="button-wrapper g-1">
    <button class="button-cancel" mat-raised-button>Cancel</button>
    <button class="button-primary" (click)="submitHandler()" mat-raised-button>
      Submit
    </button>
  </mat-card-actions>
</div>
<mat-card [formGroup]="ideaForm" class="pitch-container">
  <div class="dash_heading">
    <mat-card-title>My Details</mat-card-title>
  </div>
  <div class="form-field-container">
    <mat-card-subtitle>Name</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="name" />
      <mat-error>{{
        ideaForm | getControl : ["name"] | validationCheck : "name"
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-2">
    <div class="form-field-container">
      <mat-card-subtitle>Employee Id</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="employee_id" />
      </mat-form-field>
    </div>
    <div class="form-field-container">
      <mat-card-subtitle>Date of birth</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="date_of_birth" />
      </mat-form-field>
    </div>
  </div>
  <div class="dash_heading">
    <mat-card-title>Pitch Details</mat-card-title>
  </div>

  <div class="form-field-container">
    <mat-card-subtitle>Pitch Title</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <input matInput formControlName="pitch_title" />
      <mat-error>{{
        ideaForm
          | getControl : ["pitch_title"]
          | validationCheck : "pitch_title"
          | replaceChar : "_" : " "
          | titlecase
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field-container">
    <mat-card-subtitle>Industry</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <mat-select formControlName="industry">
        <div class="p-8">
          <mat-form-field class="select-search-box" appearance="outline">
            <input matInput #inputRef />
          </mat-form-field>
        </div>
        <mat-option
          *ngFor="let indus of industries | optionsFilter : inputRef"
          value="{{ indus.industry }}"
          >{{ indus.industry }}</mat-option
        >
      </mat-select>
      <mat-error>{{
        ideaForm
          | getControl : ["industry"]
          | validationCheck : "industry"
          | replaceChar : "_" : " "
          | titlecase
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field-container">
    <mat-card-subtitle>Type</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <mat-select formControlName="type">
        <div class="p-8">
          <mat-form-field class="select-search-box" appearance="outline">
            <input matInput #inputRef2 />
          </mat-form-field>
        </div>
        <mat-option
          *ngFor="let tech of technicalTypes | optionsFilter : inputRef2"
          value="{{ tech.type }}"
          >{{ tech.type }}</mat-option
        >
      </mat-select>
      <mat-error>{{
        ideaForm
          | getControl : ["type"]
          | validationCheck : "type"
          | replaceChar : "_" : " "
          | titlecase
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="editor-container">
    <mat-card-subtitle for="pitch_idea"
      >Idea - (Share your idea in brief)</mat-card-subtitle
    >
    <!-- <ckeditor formControlName="idea" [config]="editorConfig"></ckeditor> -->
  </div>

  <div>
    <mat-card-subtitle
      >Presentation - (Share your detailed presentation on the idea)
      (ppt,pdf)</mat-card-subtitle
    >
    <mat-card class="custom-file-input-container">
      <input class="custom-file-input" (change)="readURL($event)" type="file" />
    </mat-card>
  </div>
</mat-card>
