<!-- Main Content Start Here -->
<section class="main-content">
  <!-- Content Banner Start Here -->
  <div class="content-banner">
    <div class="container">
      <div class="flex-inner-wrap">
        <div class="inner-wrap">
          <div *ngIf="parentData" class="parent-title">
            <h3>{{ parentData?.categorytitle }}</h3>
            <p>Part {{ activeIndex + 1 | numberToWords }}</p>
          </div>
          <h1 class="page-title">​​{{ contentDetails?.title }}</h1>
          <div class="top-flex">
            <div class="top-action">
              <app-like
                style="margin-right: 10px"
                [isBorder]="false"
                [liked]="contentDetails?.isLiked"
                appClickStopPropagation
                [moduleId]="contentDetails?.moduleId"
                [moduleName]="contentDetails?.moduleName"
                [contentName]="contentDetails?.title"
                [contentType]="contentDetails?.contenttype"
              ></app-like>
              <app-social-share
                [contentName]="contentDetails?.title"
                [contentType]="contentDetails?.contenttype"
                [isShareUrl]="true"
              ></app-social-share>
              <!-- <ng-container *ngIf="userLoggedIn"> -->
              <app-bookmark
                [isBorder]="false"
                [moduleName]="contentDetails?.moduleName"
                [saved]="contentDetails?.isSaved"
                [moduleId]="contentDetails?.moduleId"
                [contentName]="contentDetails?.title"
                [contentType]="contentDetails?.contenttype"
              ></app-bookmark>
              <!-- </ng-container> -->
              <p class="time">{{ contentDetails?.duration }} mins</p>
            </div>
          </div>
          <div class="flex auto">
            <div class="content-image-wrap">
              <div class="content-left">
                <div class="col-12">
                  <div
                    [innerHTML]="contentDetails?.postcontent | safe: 'html'"
                    class="ck-content"
                  ></div>
                  <div
                    *ngIf="this.contentDetails && this.userLoggedIn"
                    class="mark-btn"
                  >
                    <button
                      [disabled]="this.contentDetails?.isCompleted"
                      (click)="toogleContentCompletion()"
                      type="button"
                      class="primary-btn"
                      [ngClass]="{ mark: this.contentDetails?.isCompleted }"
                    >
                      {{
                        !this.contentDetails?.isCompleted
                          ? "Mark as Complete"
                          : "You completed this on"
                      }}

                      {{
                        this.contentDetails?.isCompleted
                          ? (this.contentDetails?.completedOn
                            | date: "mediumDate")
                          : ""
                      }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="right-bg">
                <img
                  [src]="
                    contentDetails?.postimageData &&
                    contentDetails?.postimageData.length
                      ? (contentDetails?.postimageData[0].url | strapi: 'image')
                      : '/assets/images/blank.png'
                  "
                  alt="Image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Banner End Here -->
  <!-- Content Info Start Here -->
  <div *ngIf="contentDetails?.quotes" class="content-info">
    <div class="container">
      <div class="ck-content-wrap" [innerHTML]="contentDetails?.quotes"></div>
    </div>
  </div>
  <!-- Content Info End Here -->
  <!-- Content Grid Start Here -->
  <div
    *ngIf="contentDetails?.bottomImage1 || contentDetails?.bottomImage2"
    class="container"
  >
    <div class="content-grid">
      <div class="flex">
        <div *ngIf="contentDetails?.bottomImage1" class="col-6">
          <div class="img-wrap">
            <img
              [src]="contentDetails?.bottomImage1Data[0]?.url | strapi: 'image'"
            />
          </div>
          <p
            [innerHTML]="contentDetails?.bottomDescription1"
            class="ck-content"
          ></p>
        </div>
        <div class="col-6">
          <div *ngIf="contentDetails?.bottomImage2" class="img-wrap">
            <img
              [src]="contentDetails?.bottomImage2Data[0]?.url | strapi: 'image'"
            />
          </div>
          <p
            [innerHTML]="contentDetails?.bottomDescription2"
            class="ck-content"
          ></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Grid End Here -->
  <!-- More In Series Start Here -->
  <div class="container">
    <div *ngIf="nextSeriesData?.length" class="content-series">
      <h3 class="more-content">More in series</h3>
      <div class="sub-content more-in-series">
        <figure [hidden]="swiperConfig?.navigation === false">
          <img
            #prev
            src="assets/images/ic_detail_arrowleft.svg"
            alt=""
            class="arroww_icon_left"
          />
        </figure>
        <div
          class="swiper-container"
          [index]="activeIndex"
          [swiper]="swiperConfig"
        >
          <div class="swiper-wrapper">
            <div
              *ngFor="let item of nextSeriesData; let i = index"
              class="swiper-slide"
            >
              <div
                [ngStyle]="{
                  border:
                    item?.moduleId === contentDetails?.moduleId
                      ? '2px solid #E7825B'
                      : null
                }"
                (click)="utilityService.goToDetails(item, parentData)"
                class="content-inner no-like-bookmark"
                tabindex="0"
              >
                <div class="top-wrp">
                  <h4 class="sec-title">Section {{ i + 1 | numberToWords }}</h4>
                  <h3>{{ item?.title }}</h3>
                </div>
                <div class="bottom-info-wrap">
                  <div class="bottom-left">
                    <p class="time">{{ item?.duration }} mins</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <figure>
          <img
            #next
            src="assets/images/ic_detail_arrowleft.svg"
            alt=""
            class="arroww_icon_right"
          />
        </figure>
      </div>
    </div>
  </div>
  <!-- More In Series End Here -->
  <!-- Other Activities Start Here -->
  <div *ngIf="similarQuickActivities?.length" class="container">
    <div class="other-sub-content">
      <h3 class="more-content">Other Activities</h3>
      <div class="sub-content">
        <figure>
          <img
            #prevSimilar
            src="assets/images/ic_detail_arrowleft.svg"
            alt=""
            class="arroww_icon_left"
          />
        </figure>
        <div class="similar-activity other-activities">
          <div class="swiper-container" [swiper]="swiperConfigSimilarActivies">
            <div class="swiper-wrapper">
              <div
                *ngFor="let part of similarQuickActivities; let idx = index"
                (click)="utilityService.goToDetails(part)"
                class="swiper-slide"
              >
                <div class="content-inner no-like-bookmark" tabindex="0">
                  <div class="info-top">
                    <div class="resource-type-icon">
                      <figure>
                        <img
                          [src]="
                            part?.isAvailabelForQuickActivities
                              ? (contentType.QUICKFEATURED | contentTypeIcon)
                              : part?.moduleName ===
                                MODULE_NAME_ENUM.SERIESCONTENT
                              ? (part?.contenttype | contentTypeIcon)
                              : (part?.contenttype
                                | contentTypeIcon: part?.moduleName)
                          "
                          alt="Image"
                        />
                      </figure>
                    </div>
                    <div class="resource-type-content">
                      <h3>{{ part.title }}</h3>
                      <p
                        [innerHtml]="
                          part.resourceData && part.resourceData.length
                            ? part.resourceData[0].shortdesc
                            : ''
                        "
                        class="ck-content"
                      ></p>
                      <!-- : part.postcontent -->
                    </div>
                  </div>
                  <div class="bottom-info">
                    <div class="left-info">
                      <p class="time">{{ part?.duration }} mins activity</p>
                    </div>
                    <div class="right-info">
                      <!-- <ng-container *ngIf="userLoggedIn"> -->
                      <app-bookmark
                        [moduleName]="part?.moduleName"
                        [saved]="part?.isSaved"
                        [moduleId]="part?.moduleId"
                        [contentName]="part?.title"
                        [contentType]="part?.contenttype"
                      ></app-bookmark>
                      <!-- </ng-container> -->
                      <app-like
                        appClickStopPropagation
                        [moduleId]="part?.moduleId"
                        [moduleName]="part?.moduleName"
                        [liked]="part?.isLiked"
                        [contentName]="part?.title"
                        [contentType]="part?.contenttype"
                      ></app-like>
                      <div
                        *ngIf="part?.isCompleted || part?.isInProgress"
                        class="status-wrap"
                        [ngClass]="{
                          completed: part?.isCompleted,
                          'in-progress': part?.isInProgress
                        }"
                      >
                        {{
                          part
                            | resourceStatus
                              : part?.moduleName == "SERIESCATEGORIES"
                        }}
                      </div>
                      <!-- [contentType]="" -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <figure>
          <img
            #nextSimilar
            src="assets/images/ic_detail_arrowleft.svg"
            alt=""
            class="arroww_icon_right"
          />
        </figure>
      </div>
    </div>
  </div>
  <!-- Other Activities End Here -->
  <!-- Related Artical Start Here -->
  <div *ngIf="relatedArticles?.length" class="container">
    <div class="sub-page-content">
      <h2 class="sub-page-title">Related to this article</h2>
      <div class="flex-related">
        <!-- [appTooltipInfo]="item" -->
        <div *ngFor="let item of relatedArticles" class="col-4 style-relative">
          <div class="hide content-inner-tooltip">
            <div class="hover-content-tooltip">
              <div class="top-section">
                <div class="close-wrap">
                  <a
                    ><img
                      class="cross-icon"
                      src="assets/images/close-tooltip.svg"
                      alt="Icon"
                  /></a>
                </div>
                <h3>{{ item.title }}</h3>
              </div>
              <div class="sub-info">
                <div class="top-info">
                  <div class="book-icon">
                    <span
                      *ngIf="item.moduleName == 'SERIESCATEGORIES'"
                      class="small-content"
                    >
                      {{
                        item.minduration + " - " + item.maxduration + " mins"
                      }}
                      {{ item.contenttype | contentType: "contentLabel" }}</span
                    >
                    <span
                      *ngIf="item.moduleName == 'SERIESCONTENT'"
                      class="small-content"
                    >
                      {{ item.duration + " " + "mins" }}
                      {{ item.contenttype | contentType: "contentLabel" }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="content-description">
                <p
                  [innerHtml]="
                    item.resourceData && item.resourceData.length
                      ? item.resourceData[0].shortdesc
                      : ''
                  "
                  class="ck-content"
                ></p>
                <!-- : item.postcontent -->
              </div>
              <div class="btn-wrap">
                <button
                  (click)="utilityService.goToDetails(item)"
                  type="button"
                  class="primary-btn"
                >
                  Let's Go
                </button>
              </div>
            </div>
          </div>
          <div
            (click)="utilityService.goToDetails(item)"
            class="content-inner"
            tabindex="0"
          >
            <div class="info-top">
              <div class="resource-type-icon">
                <figure>
                  <img
                    [src]="
                      item?.isAvailabelForQuickActivities
                        ? (contentType.QUICKFEATURED | contentTypeIcon)
                        : item?.moduleName === MODULE_NAME_ENUM.SERIESCONTENT
                        ? (item?.contenttype | contentTypeIcon)
                        : (item?.contenttype
                          | contentTypeIcon: item?.moduleName)
                    "
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="resource-type-content">
                <h3>{{ item?.title }}</h3>
                <p
                  [innerHtml]="
                    item?.resourceData && item?.resourceData.length
                      ? item?.resourceData[0].shortdesc
                      : ''
                  "
                  class="ck-content"
                ></p>
                <!-- : item?.postcontent -->
              </div>
            </div>
            <div class="bottom-info">
              <div class="left-info">
                <p class="time">
                  {{ item?.duration }} mins
                  {{ item?.contenttype | contentType: "contentLabel" }}
                </p>
              </div>
              <div class="right-info">
                <!-- *ngIf="userLoggedIn" -->
                <app-bookmark
                  appClickStopPropagation
                  [moduleName]="item.moduleName"
                  [saved]="item?.isSaved"
                  [moduleId]="item?.moduleId"
                  [contentType]="item?.contenttype"
                  [contentName]="item?.title"
                ></app-bookmark>
                <app-like
                  appClickStopPropagation
                  [moduleId]="item?.moduleId"
                  [moduleName]="item?.moduleName"
                  [liked]="item?.isLiked"
                  [noOfLikes]="item?.nooflikes"
                  [hideLikeCount]="false"
                  [contentName]="item?.title"
                  [contentType]="item?.contenttype"
                ></app-like>
                <div
                  *ngIf="item?.isCompleted || item?.isInProgress"
                  class="status-wrap"
                  [ngClass]="{
                    completed: item?.isCompleted,
                    'in-progress': item?.isInProgress
                  }"
                >
                  {{
                    item
                      | resourceStatus: item?.moduleName == "SERIESCATEGORIES"
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Related Artical End Here -->
</section>
<!-- Main Content End Here -->
