@import "ckeditor";
::ng-deep {
  @include ckeditor;
}

.main-content {
  .content-banner {
    // min-height: 100vh;
    background-color: rgba(244, 243, 239, 0.8);
    padding-top: 105px;
    @media (max-width: 767px) {
      padding-top: 76px;
      min-height: auto;
    }
    .container {
      // min-height: 100vh;
      display: flex;
      flex-direction: column;
      @media (max-width: 767px) {
        min-height: auto;
      }
    }
  }
  .similar-activity {
    width: 100%;
  }
  .flex-inner-wrap {
    display: flex;
    // min-height: 100vh;
    padding-top: 50px;
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
  .inner-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    @media (max-width: 767px) {
      background: #f4f3ef;
    }
  }
  .content-image-wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    .content-left {
      width: calc(100% - 488px);
      padding-right: 30px;
      .ck-content {
        font-size: 20px;
        line-height: 28px;
        color: #000000;
        @media (max-width: 767px) {
          font-size: 18px;
          font-weight:400;
          line-height: 1.5;
        }
      }
      @media (max-width: 1280px) {
        width: calc(100% - 388px);
        padding-right: 25px;
      }
      @media (max-width: 1024px) {
        width: calc(100% - 288px);
        padding-right: 20px;
      }
      @media (max-width: 767px) {
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .right-bg {
    width: 488px;
    height: 488px;
    img {
      width: 100%;
      height: 488px;
      object-fit: cover;
      object-position: center center;
    }
    @media (max-width: 1280px) {
      width: 388px;
      height: 388px;
    }
    @media (max-width: 1024px) {
      width: 288px;
      width: 288px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .parent-title {
    margin-bottom: 30px;
    h3 {
      font-size: 40px;
      color: #000;
      @media (max-width: 1024px) {
        font-size: 30px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 24px;
      color: #e7825b;
      @media (max-width: 1024px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
  .page-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 46px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }
  .top-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .top-action {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .tbs-listing {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
      a {
        padding: 5px 15px;
        background: #eef3f7;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
        margin: 0 10px 10px 0;
      }
    }
  }
  .flex.auto {
    width: 100%;
    align-items: flex-start;
    @media (max-width: 767px) {
      margin: 0;
    }
    .col-12 {
      @media (max-width: 767px) {
        padding: 0;
      }
    }
    p {
      font-size: 16px;
    }
  }
  .tbs-listing {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    a {
      padding: 5px 15px;
      background: #eef3f7;
      font-size: 13px;
      font-weight: 600;
      white-space: nowrap;
      margin: 0 10px 10px 0;
    }
  }
  .image-wrap {
    height: 292px;
    background: url("../../../../../assets/images/card-shadow.png") no-repeat;
    background-size: 100% 292px;
    display: flex;
    align-items: center;
    justify-content: center;
    .image-inner {
      height: 192px;
      padding: 0 50px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .content-info {
    width: 100%;
    padding: 50px 100px 0;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: 767px) {
      padding: 50px 15px 0;
    }
    h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
    }
    .ck-content-wrap {
      font-family: "arialregular";
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      color: #000000;
      @media (max-width: 1280px) {
        font-size: 30px;
        line-height: 50;
      }
      @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 46;
      }
      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
  }
  .content-grid {
    margin-bottom: 30px;
    .img-wrap {
      max-width: 220px;
      height: 148px;
      border-radius: 15px;
      margin: 0 auto 20px auto;
      background: #fdf5ee;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    p {
      font-family: "arialregular";
      font-size: 16px;
      line-height: 22px;
      @media (max-width: 1024px) {
        font-size: 15px;
        line-height: 1.2;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .sub-content {
    padding: 10px 0 15px;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 1024px) {
      padding: 10px 30px 15px;
    }
    @media (max-width: 767px) {
      padding: 10px 0 15px;
    }
    .sec-title {
      margin-bottom: 0;
    }
    &.more-in-series {
      padding-top: 0;
      .content-inner {
        width: 247px;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .similar-activity {
      .content-inner {
        height: 195px;
        padding: 27px;
        @media (max-width: 767px) {
          height: 166px;
        }
        .bottom-info-wrap {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          p {
            line-height: initial;
          }
        }
        h3 {
          font-size: 22px;
          font-weight: 700;
          line-height: 23.89px;
          cursor: pointer;
          color: #000000;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
          margin-bottom: 4px;
          cursor: pointer;
        }
        p {
          font-size: 14px;
          line-height: 15.2px;
          color: #000000;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          @media (max-width: 1024px) {
            font-size: 16px;
          }
          @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
          }
        }

        .bottom-info {
          p {
            font-size: 12px;
            line-height: 25px;
            color: #4c4c4c;
          }
        }
      }
    }
    .similar-activity {
      &.other-activities {
        .content-inner {
          @media (max-width: 767px) {
            width: 305px;
            height: 200px;
            padding: 15px 20px;

            .resource-type-icon {
              width: 72px;
              height: 72px;
            }
            h3 {
              font-size: 18px;
              line-height: initial;
              font-weight: 700;
              color: #000000;
              margin-bottom: 10px;
              cursor: pointer;
            }
            .ck-content {
              font-family: "arialregular";
              font-size: 14px;
              line-height: 18px;
              color: #575868;
              -webkit-line-clamp: 3;
            }
            .resource-type-content {
              width: calc(100% - 72px);
              padding-left: 15px;
            }
            .bottom-info {
              p {
                font-family: "Lato", sans-serif;
                font-size: 14px;
                line-height: 17px;
                font-weight: 600;
                color: #575868;
              }
            }
          }
        }
      }
    }
    .content-inner {
      width: 387px;
      height: 116px;
      padding: 15px 35px 10px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 16px;
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (max-width: 767px) {
        width: 247px;
        height: 104px;
        padding: 15px 20px 10px;
        margin: 0 0 15px;
      }
      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 17px;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 4px;
        cursor: pointer;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .sub-page-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
    color: #000000;
    margin-bottom: 25px;
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 1.2;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  .sub-page-content {
    .content-inner {
      height: 195px;
      padding: 27px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-bottom: 25px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 4px;
        cursor: pointer;
        @media (max-width: 1024px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
      .time {
        font-family: "arialregular";
        font-size: 12px;
        line-height: 13px;
        color: #575868;
      }
      .listing-tbs {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 15px;
        a {
          padding: 5px 15px;
          background: #fff;
          font-size: 13px;
          font-weight: 600;
          color: #000;
          white-space: nowrap;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
}
.bottom-info-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-info {
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  .right-info {
    display: flex;
    align-items: center;
  }
}
.bottom-info-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bottom-left {
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  .bottom-right {
    display: flex;
    align-items: center;
  }
}
.bottom-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-info {
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  .right-info {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 10px;
    }
  }
}
:host ::ng-deep {
  .swiper-slide {
    width: 387px !important;
    @media (max-width: 767px) {
      margin-right: 10px;
      width: 247px !important;
    }
  }
  .more-in-series {
    .swiper-slide {
      width: 247px !important;
      @media (max-width: 767px) {
        margin-right: 10px;
        width: 299px !important;
      }
    }
  }
  .similar-activity {
    &.other-activities {
      .swiper-slide {
        @media (max-width: 767px) {
          width: 305px !important;
        }
      }
    }
  }
  .content-series {
    padding: 50px 0 0;
    .swiper-slide {
      @media (max-width: 767px) {
        margin-right: 10px;
      }
    }
  }
  .top-action {
    .info-right {
      margin-right: 10px;
    }
  }
}

.wrap-slider {
  padding: 0 30px;
  position: relative;
  overflow-x: auto;
  .arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .flex-row-wrap {
    white-space: nowrap;
    overflow-x: auto;
    overflow: hidden;
    .col-item {
      width: 325px;
      margin: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .content-inner {
    height: 120px !important;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0 !important;
    .sec-title {
      margin-bottom: 0;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-bottom: 4px;
      cursor: pointer;
    }
    p {
      font-size: 14px;
    }
  }
}
.close-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.sub-page-wrap {
  display: flex;
  align-items: center;
}
.arroww_icon_left {
  position: absolute;
  top: 50%;
  left: -45px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 1;
  transform: translate(0, -50%);
  @media (max-width: 1024px) {
    left: -10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.arroww_icon_right {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: rotate(-180deg);
  transform: translate(0, -57%) rotate(-180deg);
  right: -45px;
  cursor: pointer;
  z-index: 1;
  @media (max-width: 1024px) {
    right: -10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
  display: none !important;
}

.style-relative {
  position: relative;
}
.more-content {
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
  margin-bottom: 0;
  @media (max-width: 1024px) {
    font-size: 28px;
    line-height: 1.2;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
.mark-btn {
  margin: 30px 0 0;
  .primary-btn {
    padding: 15px 25px;
    &.mark {
      color: #575868;
      background-color: #fff;
      box-shadow: 0px 0px 20px 0px rgba(204, 230, 225, 0.5);
    }
  }
}

.info-top {
  display: flex;
  align-items: flex-start;
}
.resource-type-icon {
  width: 72px;
  height: 72px;
  @media (max-width: 1280px) {
    width: 62px;
    height: 62px;
  }
  @media (max-width: 1024px) {
    width: 52px;
    height: 52px;
  }
  @media (max-width: 767px) {
    width: 42px;
    height: 42px;
  }
  @media (max-width: 576px) {
    width: 32px;
    height: 32px;
  }
}
.resource-type-content {
  width: calc(100% - 72px);
  padding-left: 15px;
  @media (max-width: 1280px) {
    width: calc(100% - 62px);
    padding-left: 10px;
  }
  @media (max-width: 1024px) {
    width: calc(100% - 52px);
  }
  @media (max-width: 767px) {
    width: calc(100% - 42px);
  }
  @media (max-width: 576px) {
    width: calc(100% - 32px);
  }
  p {
    font-family: "arialregular";
    font-size: 14px;
    line-height: 18px;
    color: #575868;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    @media (max-width: 767px) {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}
.content-inner {
  p.time {
    font-family: "arialregular";
    font-size: 12px;
    line-height: 13px;
    color: #575868;
  }
}

.flex-related {
  display: flex;
  flex-wrap: wrap;
  .col-4 {
    width: 387px;
    margin: 0 30px 30px 0;
    @media (max-width: 1160px) {
      max-width: 33.33%;
      width: initial;
      flex: 0 33.33%;
    }
    @media (max-width: 767px) {
      height: 100%;
      max-width: 100%;
      flex: 0 100%;
      padding: 0 15px;
      margin: 0;
    }
    .content-inner {
      height: 195px;
      @media (max-width: 767px) {
        width: 314px;
        height: 166px;
        margin: 0 auto 15px;
        padding: 30px 15px 15px;
      }
    }
  }
}
.sub-page-content {
  padding: 50px 0 0;
}
.other-sub-content {
  padding: 50px 0 0;
}
.status-wrap {
  min-width: 93px;
  height: 24px;
  margin: 0 0 0 5px;
  border-radius: 14.4466px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "arialbold";
  font-size: 12px;
  line-height: 14px;
  &.completed {
    background: #e9f7ef;
    color: #219653;
  }
  &.in-progress {
    background: #fef6dd;
    color: #765f13;
  }
  &.locked {
    background: #f2f2f2;
    color: #000000;
  }
}
