@import "ckeditor";

::ng-deep {
  @include ckeditor;
}


.content-inner {
  height: 195px;
  padding: 27px;
  background-size:100%;
  margin-bottom: 25px;
  position: relative;
  background: #FFFFFF;
  border: 2px solid #EEEEEE;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in;
  @media (max-width: 1024px) {
    padding:20px;
    border-radius: 12px;
  }
  @media (max-width: 767px) {
    min-height: 70px;
    padding: 9px;
    border-radius: 10px;
  }

  .hover-content {
    z-index: 100;
    width: 120%;
    padding: 15px 25px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 10px #c3c3c3;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 767px) {
      width:100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 30%;
      margin-left: -5px;
      border-width: 25px;
      border-style: solid;
      border-color: #ffffff transparent transparent transparent;
    }
    .close-wrap{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-bottom:10px;
    }
    .btn-wrap {
      padding: 25px 0 0;
      text-align: right;
    }
    .sub-info {
      .book-icon {
        display: flex;
        align-items: center;
        img {
          width: 15px;
        }
        span {
          font-size: 13px;
        }
      }
    }
    .top-section {
      position: relative;
      .close-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in;
        background: transparent;
        &:hover {
          background: #e6e6e6;
        }
        .mat-icon {
          color: #ff0000;
        }
      }
    }
    .content-description {
      padding-right: 15px;
      @media (max-width: 1024px) {
        max-height:80px;
      }
      p {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color:#4C4C4C;
        @media (max-width: 1024px) {
          font-size:15px;
        }
        @media (max-width: 767px) {
          font-size:14px;
        }
      }
    }
    h3{ 
      color:#4C4C4C;
    }
  }
  h3 {
    font-size: 22px;
    font-weight:700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    cursor: pointer;
    margin-bottom: 10px;
    color:#000;
    @media (max-width: 1024px) {
      font-size:18px;
    }
    @media (max-width: 767px) {
      font-size:14px;
    }
  }
  p {
    font-size: 14px;
    &.time{
      font-size: 12px;
      line-height: 22px;
      color: #000000;
    }
  }
  .listing-tbs {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 15px;
    a {
      padding: 5px 15px;
      background: #fff;
      font-size: 13px;
      font-weight: 600;
      color: #000;
      white-space: nowrap;
      margin: 0 10px 10px 0;
    }
  }
  .top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .info-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.content-left {
  height: 100%;
  .content-inner {
    height: 100%;
    min-height: 190px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    &:focus{
      outline:1px solid #000;
    }
    @media (max-width: 1024px) {
      padding:20px;
      border-radius: 12px;
    }
    @media (max-width: 767px) {
      padding:15px;
      border-radius: 10px;
    }
    .info-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 100px;
      margin-right: 5px;
      a {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        position: relative;
        right: 5px;
      }
    }
    
    .bottom-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
      .right {
        display: flex;
        align-items: center;
      }
    }
    &.mb-0 {
      margin-bottom: 0;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-bottom: 0;
    }
    .time {
      font-size: 13px;
      color: #4c4c4c;
    }
    .listing-tbs {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-bottom: 15px;
      a {
        padding: 5px 15px;
        background: #fff;
        font-size: 13px;
        font-weight: 600;
        color: #000;
        white-space: nowrap;
        margin: 0 10px 10px 0;
      }
    }
  }
}

.bottom-info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bottom-left{
    p{
      margin-bottom:0;
    }
  }
  .bottom-right{
    display: flex;
    align-items: center;
    .icon{
      margin-right:10px;
    }
  }
}
.info-top {
  display: flex;
  align-items: flex-start;
}
.resource-type-icon{
  width:72px;
  height:72px;
  @media (max-width: 1280px) {
    width:62px;
    height:62px;
  }
  @media (max-width: 1024px) {
    width:52px;
    height:52px;
  }
  @media (max-width: 767px) {
    width:42px;
    height:42px;
  }
  @media (max-width: 576px) {
    width:32px;
    height:32px;
  }
}
.resource-type-content{
  width:calc(100% - 72px);
  padding-left:15px;
  @media (max-width: 1280px) {
    width:calc(100% - 62px);
    padding-left:10px;
  }
  @media (max-width: 1024px) {
    width:calc(100% - 52px);
  }
  @media (max-width: 767px) {
    width:calc(100% - 42px);
  }
  @media (max-width: 576px) {
    width:calc(100% - 32px);
  }
  p{
    font-family: 'arialregular';
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-bottom:0;
  }
}
.status-wrap{
  min-width: 93px;
  height: 24px;
  margin:0 0 0 5px;
  border-radius: 14.4466px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'arialbold';
  font-size: 12px;
  line-height: 14px;
  &.completed{
    background: #e9f7ef;
    color: #219653;
  }
  &.in-progress{
    background: #fef6dd;
    color: #765f13;
  }
  &.locked{
    background: #f2f2f2;
    color:#000000;
  }
}