<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title class="table-title"> Create New Ticket </mat-panel-title>
    <button mat-button class="add-button">+ Add</button>
  </mat-expansion-panel-header>
  <div class="expansion p-24">
    <div>
      <div class="project">
        <mat-card-subtitle class="c-label">Subject</mat-card-subtitle>
        <mat-form-field class="form-field" appearance="outline">
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div class="project">
        <mat-card-subtitle class="c-label">Department</mat-card-subtitle>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="project">
        <mat-card-subtitle class="c-label">Ticket Category</mat-card-subtitle>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="project">
        <mat-card-subtitle class="c-label">Priority</mat-card-subtitle>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-card-subtitle class="c-label">Description</mat-card-subtitle>
      <ckeditor [(ngModel)]="content" [config]="editorConfig"></ckeditor>
    </div>
    <mat-card-actions>
      <button mat-raised-button class="add">Add</button>
    </mat-card-actions>
  </div>
</mat-expansion-panel>
<br />
<br />
<mat-card>
  <mat-card-title class="table-title"> List All Shift </mat-card-title>
  <app-ru-table
    class="p-12"
    [tableColumns]="tableColumns"
    [tableData]="tableData"
    [TableClass]="'light-theme-table'"
    [isPageable]="true"
  ></app-ru-table>
</mat-card>
