<mat-card [formGroup]="basicInfoForm" class="basic-info-main">
  <mat-card-title>{{ "basic information" | titlecase }}</mat-card-title>
  <div class="card">
    <div class="col-3">
      <div class="field">
        <label>First Name</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="first_name" />
          <mat-error>{{
            basicInfoForm
              | getControl : ["first_name"]
              | validationCheck : "first name"
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="field">
        <label>Last Name</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="last_name" />
          <mat-error>{{
            basicInfoForm
              | getControl : ["last_name"]
              | validationCheck : "last name"
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="field">
        <label>Date of Birth</label>
        <mat-form-field appearance="outline">
          <input
            matInput
            [matDatepicker]="birthdayPicker"
            formControlName="birthday"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="birthdayPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #birthdayPicker></mat-datepicker>
          <mat-error
            *ngIf="
              basicInfoForm.get('birthday')?.hasError('matDatepickerParse')
            "
            >Invalid date format</mat-error
          >
          <mat-error
            *ngIf="basicInfoForm.get('birthday')?.hasError('birthdayInvalid')"
            >Age must be between 18 and 65</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="field">
        <label>Gender</label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of genders" value="{{ gender }}">{{
              gender | titlecase
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field">
        <label>Marital Status</label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="marital_status">
            <mat-option
              *ngFor="let status of marital_status"
              value="{{ status }}"
              >{{ status | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field">
        <label>Contact Number</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="contact_number" />
          <mat-error>{{
            basicInfoForm
              | getControl : ["contact_number"]
              | validationCheck : "phone"
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-2 exp">
      <div class="row-2">
        <label>Total Working Experience</label>
        <div class="col-2">
          <div class="field">
            <label>Years</label>
            <mat-form-field appearance="outline">
              <input matInput min="1" max="60" formControlName="working_experience_year"/>
            </mat-form-field>
          </div>
          <div class="field">
            <label>Months</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="working_experience_month"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row-2">
        <label>Relevant Experience</label>
        <div class="col-2">
          <div class="field">
            <label>Years</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="relevant_experience_year" />
            </mat-form-field>
          </div>
          <div class="field">
            <label>Months</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="relevant_experience_month"/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <label>Address</label>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="address"></textarea>
        <mat-error>{{
          basicInfoForm | getControl : ["address"] | validationCheck : "address"
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <app-ru-button
        [bText]="'Submit'"
        [bClass]="'save'"
        (btnClick)="submitHandler()"
      ></app-ru-button>
    </div>
  </div>
</mat-card>
