mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  padding: 0;
}

.login-with {
  word-break: break-word;
  width: 100%;
  border: none;
  background-color: var(--spiro) !important;
  
  color: var(--white) !important;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 0.125rem;
}

@media all and (max-width: 17em) {
  .login-with {
    height: 20px;
    font-size: 1em;
  }
}