<mat-card-title class="module-title">Upcoming Trainings</mat-card-title>

<div class="upcoming-training-grid">
  <app-ru-training-card
    [id]="training.id"
    [status]="'open'"
    *ngFor="let training of upcoming_trainings"
  >
    <img class="card-image" src="{{ training.default_img }}" alt="" />
    <span class="training-name">{{ training.name }}</span>
    <span class="current-status">{{ training.status }}</span>
    <span class="start-date">{{ training.start_date }}</span>
    <span class="end-date">{{ training.end_date }}</span>
    <span class="seat">{{ training.seat }}</span>
  </app-ru-training-card>
</div>
