<div class="popup-wrapper">
  <div class="popup-inner">
    <div class="header">
      <a (click)="onNoClick()" class="close-icon"
        ><img src="assets/images/close-icon.png" alt="Image"
      /></a>
    </div>
    <h3>Congratulations</h3>
    <figure class="trophy-icon">
      <img src="assets/images/trophy-alt.svg" alt="Image" />
    </figure>
    <div class="description">
      <p>
        Congratulations you've completed the <br />
        {{ resourceName }}!
      </p>
    </div>
    <div class="btn-center">
      <button (click)="onNoClick()" type="button" class="primary-btn">
        Similar resources
      </button>
    </div>
  </div>
</div>
