<section class="main-content">
  <div class="content-banner">
    <div class="container">
      <div class="flex-inner-wrap">
        <div class="inner-wrap">
          <div class="flex auto">
            <div class="content-image-wrap">
              <div class="content-left">
                <h1 class="page-title">​​{{ contentDetails?.title }}</h1>
                <p class="time for-mobile">
                  {{ contentDetails?.duration }} mins
                </p>
                <div class="top-flex">
                  <div class="top-action">
                    <app-like
                      [isBorder]="false"
                      [liked]="contentDetails?.isLiked"
                      appClickStopPropagation
                      [moduleId]="contentDetails?.moduleId"
                      [moduleName]="contentDetails?.moduleName"
                      [contentName]="contentDetails?.title"
                      [contentType]="contentDetails?.contenttype"
                    ></app-like>
                    <app-social-share
                      style="margin: 0 5px"
                      [contentName]="contentDetails?.title"
                      [contentType]="contentDetails?.contenttype"
                      [isShareUrl]="true"
                    ></app-social-share>
                    <!-- <ng-container *ngIf="userLoggedIn"> -->
                    <app-bookmark
                      [isBorder]="false"
                      [moduleName]="contentDetails?.moduleName"
                      [saved]="contentDetails?.isSaved"
                      [moduleId]="contentDetails?.moduleId"
                      [contentName]="contentDetails?.title"
                      [contentType]="contentDetails?.contenttype"
                    ></app-bookmark>
                    <!-- </ng-container> -->
                    <p class="time">{{ contentDetails?.duration }} mins</p>
                  </div>
                </div>
                <div class="flex">
                  <div class="col-12">
                    <div
                      [innerHTML]="contentDetails?.postcontent | safe: 'html'"
                      class="ck-content"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="right-bg">
                <img
                  [src]="
                    contentDetails?.postimageData &&
                    contentDetails?.postimageData.length
                      ? (contentDetails?.postimageData[0].url | strapi: 'image')
                      : '/assets/images/blank.png'
                  "
                  alt="Image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="showQuiz">
    <ng-container *ngIf="!isCompleted; else quizCompleted">
      <div *ngIf="!showResult" [formGroup]="quizForm" class="question-bg">
        <div formArrayName="questionData" class="container">
          <div class="quiz-listing-wrap">
            <div *ngFor="let item of quizFormArray?.controls; let i = index">
              <ng-container
                *ngIf="
                  (quizForm | getControl: ['questionData', i, 'isVisible'])
                    .value
                "
                [formGroup]="item"
              >
                <div class="quiz-wrapper main-container">
                  <div class="quiz-inner-wrapper">
                    <div class="quiz-left">
                      <div class="row-flex">
                        <div class="quiz-no">
                          <strong
                            >Q{{ i + 1
                            }}<span>/{{ quizFormArray.length }}</span></strong
                          >
                          <!-- {{correctAnswers[i]}} -->
                        </div>
                      </div>
                    </div>
                    <div class="quiz-right">
                      <div class="quiz-list">
                        <div class="quiz">
                          <h3>
                            {{ (item | getControl: ["questioTitle"]).value }}
                          </h3>
                        </div>
                        <div class="quiz-row">
                          <!-- {{
                        quizForm
                          | getControl: ["questionData", i, "selectedOption"]
                        }} -->
                          <mat-radio-group
                            (change)="selectionChanged($event, i)"
                            [formControl]="
                              quizForm
                                | getControl
                                  : ['questionData', i, 'selectedOption']
                            "
                            class="option-wrap"
                          >
                            <div
                              class="option-item answer-incorrect"
                              [ngClass]="{
                                'answer-incorrect':
                                  (reviewAnswers &&
                                    opt.option != correctAnswersArray[i] &&
                                    compareFn(
                                      opt,
                                      quizForm.value.questionData[i]
                                        .selectedOption
                                    ) &&
                                    showHint[i]) ||
                                  (oldAnswers[i]?.option == opt?.option &&
                                    opt.option != correctAnswersArray[i] &&
                                    !compareFn(
                                      opt,
                                      quizForm.value.questionData[i]
                                        .selectedOption
                                    )),
                                'answer-correct':
                                  (reviewAnswers &&
                                    opt.option == correctAnswersArray[i] &&
                                    compareFn(
                                      opt,
                                      quizForm.value.questionData[i]
                                        .selectedOption
                                    ) &&
                                    showHint[i]) ||
                                  (oldAnswers[i]?.option == opt?.option &&
                                    opt.option == correctAnswersArray[i] &&
                                    !compareFn(
                                      opt,
                                      quizForm.value.questionData[i]
                                        .selectedOption
                                    ))
                              }"
                              *ngFor="
                                let opt of (
                                  quizForm
                                  | getControl
                                    : ['questionData', i, 'optionsData']
                                ).value
                              "
                            >
                              <!-- {{correctAnswersArray[i]}}
                                {{opt.option}}
                                {{opt.option != correctAnswersArray[i]}}
                                {{opt.option == oldAnswers[i]?.option}} -->
                              <mat-radio-button
                                [checked]="
                                  compareFn(
                                    opt,
                                    quizForm.value.questionData[i]
                                      .selectedOption
                                  )
                                "
                                [value]="opt"
                                >{{ opt["option"] }}</mat-radio-button
                              >
                              <i class="answer-status" *ngIf="reviewAnswers">
                                <img
                                  *ngIf="
                                    (opt.option == correctAnswersArray[i] &&
                                      compareFn(
                                        opt,
                                        quizForm.value.questionData[i]
                                          .selectedOption
                                      ) &&
                                      showHint[i]) ||
                                    (oldAnswers[i]?.option == opt?.option &&
                                      opt.option == correctAnswersArray[i] &&
                                      !compareFn(
                                        opt,
                                        quizForm.value.questionData[i]
                                          .selectedOption
                                      ))
                                  "
                                  src="assets/images/icons/correct_answer.svg"
                                  alt="Icon"
                                />
                                <img
                                  *ngIf="
                                    (opt.option != correctAnswersArray[i] &&
                                      compareFn(
                                        opt,
                                        quizForm.value.questionData[i]
                                          .selectedOption
                                      ) &&
                                      showHint[i]) ||
                                    (oldAnswers[i]?.option == opt?.option &&
                                      opt.option != correctAnswersArray[i] &&
                                      !compareFn(
                                        opt,
                                        quizForm.value.questionData[i]
                                          .selectedOption
                                      ))
                                  "
                                  src="assets/images/icons/incorrect_answer.svg"
                                  alt="Icon"
                                />
                                <img
                                  class="r-15"
                                  *ngIf="
                                    compareFn(
                                      opt,
                                      quizForm.value.questionData[i]
                                        .selectedOption
                                    ) && showEdited[i]
                                  "
                                  src="../../../../../assets/images/edited_answer.svg"
                                  alt=""
                                  srcset=""
                                />
                              </i>
                            </div>
                          </mat-radio-group>
                        </div>
                      </div>
                      <!-- {{quizForm.value.questionData[i].selectedOption|json}} -->
                      <div
                        *ngIf="reviewAnswers"
                        class="question-description"
                        [ngClass]="{
                          correct:
                            oldAnswers[i]?.option == correctAnswersArray[i],
                          wrong: oldAnswers[i]?.option != correctAnswersArray[i]
                        }"
                      >
                        <!-- <h3>
                          {{
                            quizForm.value.questionData[i].selectedOption
                              .responseTitle
                          }}
                        </h3> -->
                        <p
                          [innerHTML]="
                            oldAnswers[i].responseDescription | safe: 'html'
                          "
                        ></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <p
              *ngIf="quizSubmitted"
              style="margin-top: 10px"
              [innerHTML]="
                quizForm.value.questionData[i].selectedOption.responseDescription
                  | safe: 'html'
              "
            ></p> -->
              </ng-container>
            </div>
            <div class="main-container">
              <div class="center-btn">
                <p
                  *ngIf="
                    (!reviewAnswers && quizForm.valid) ||
                    (reviewAnswers && canRetakeQuiz)
                  "
                  class="help-text"
                >
                  After you submit your quiz answers, they will be saved to your
                  profile. You will be able to go back and review which ones
                  were correct or incorrect at any time. You can then update
                  your answers and resubmit the quiz as many times as you would
                  like.
                </p>
                <div class="btn-wrap">
                  <button
                    *ngIf="!reviewAnswers && quizForm.valid"
                    (click)="submitQuiz()"
                    class="btn-submit big-btn"
                  >
                    Submit
                  </button>

                  <button
                    *ngIf="
                      reviewAnswers &&
                      quizForm.disabled &&
                      this.correctAnswers == this.totalAnswers
                    "
                    (click)="backToDashboard()"
                    class="btn-submit big-btn"
                  >
                    Back to Dashboard
                  </button>
                </div>

                <div class="btn-wrap">
                  <button
                    *ngIf="reviewAnswers && canRetakeQuiz"
                    (click)="submitQuiz()"
                    class="btn-submit big-btn"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showResult" class="question-details">
        <div class="main-container">
          <div class="question-details-row">
            <div class="question-no">
              <div class="question-no-inner">
                <div class="qs-no">
                  <strong
                    >{{ correctAnswers }}/<span>{{
                      totalAnswers
                    }}</span></strong
                  >
                </div>
              </div>
            </div>
            <div class="question-info">
              <h3>
                Almost there! You’ve got {{ correctAnswers }} correct and
                {{ totalAnswers - correctAnswers }} incorrect answers.
              </h3>
              <p>
                You will need to get full mark to complete the course. You can
                update your answers and resubmit the quiz as many times as you
                would like.
              </p>
              <div class="btn-wrap">
                <button
                  (click)="handleReviewAnswers()"
                  type="button"
                  class="fill-btn"
                >
                  Review Answers
                </button>
                <button
                  (click)="routeToDiscover()"
                  type="button"
                  class="outline-btn"
                >
                  Complete Later
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #quizCompleted>
      <div class="question-details">
        <div class="main-container container">
          <div class="question-details-row">
            <div class="question-no">
              <div class="question-no-inner">
                <div class="qs-no">
                  <strong
                    >{{ correctAnswers }}/<span>{{
                      totalAnswers
                    }}</span></strong
                  >
                </div>
              </div>
            </div>
            <div class="question-info">
              <h3>Congratulations, you’ve passed the quiz!</h3>
              <p>
                You did a great job in the quiz! Well done and keep up to the
                good work!
              </p>
              <div class="btn-wrap">
                <button
                  (click)="handleReviewAnswers(true)"
                  type="button"
                  class="fill-btn"
                >
                  Review Answers
                </button>
                <button
                  (click)="backToCourse()"
                  type="button"
                  class="outline-btn"
                >
                  Back to course
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</section>
