.leave-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;

  .card {
    padding: 24px;
    flex-direction: row;
    gap: 1em;

    .icon {
      font-size: 2em;
      padding: 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #02bc77;
    }

    mat-card-subtitle {
      font-size: 0.9em;
    }
  }
}

.expansion {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 1em;

  .work-time {
    gap: 1em;

    .flex-size {
      flex: 1 0 calc(33.33% - 1em);
    }
  }

  .date-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  .custom-file-input-container {
    border: 1px solid #d8d8d8;
    border-radius: 3px !important;
    padding: 12px 10px !important;
    background: #fff;
  }
  .add {
    background: #1da81b;
    border-radius: 0 !important;
    color: white;
  }

  .cancel {
    background: #d9534f;
    border-radius: 0 !important;
    color: white;
  }

  .check-box-radio {
    margin-bottom: 1em;
    .radio-group {
      padding: 0;
    }
  }
}

@media all and (max-width: 50em) {
  .leave-cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .expansion {
    grid-template-columns: auto;
  }
}
