<header class="header">
  <app-header (dataEvent)="handleIsExpandedChange($event)" [isExpanded]="isExpanded"></app-header>
</header>

<mat-sidenav-container autosize>
  <mat-sidenav
    [@slideInOut]="sidenavState"
    opened="true"
    mode="side"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-card [ngClass]="{ hide: !isExpanded, show: isExpanded }">
      <mat-accordion #accordion class="accordion">
        <mat-expansion-panel
          *ngFor="let list of items"
          disabled="{{ list.active == false }}"
          hideToggle="{{ !isExpanded || !list.categories }}"
        >
          <mat-expansion-panel-header
            routerLinkActive="active"
            [routerLink]="list.router_link | routing"
          >
            <mat-panel-title class="title" 
              ><mat-icon class="list-icon" style="font-size: 1.5em">{{
                list.icon
              }}</mat-icon>
              <span class="list-name" *ngIf="isShowing || isExpanded"
                >{{ list.name }} </span
              ><span 
                ><mat-icon
                  class="important-icon"
                  *ngIf="list.important && isExpanded"
                  [@rotate]="rotateDirection"
                  >new_releases</mat-icon
                ></span
              >
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sub-list">
            <div *ngFor="let sublist of list.categories">
              <p
                *ngIf="!sublist.blank"
                routerLinkActive="active"
                [routerLink]="sublist.router_link | routing"
              >
                <mat-icon class="list-icon" style="font-size: 1.5em">{{
                  sublist.icon
                }}</mat-icon>
                <span class="list-name" *ngIf="isShowing || isExpanded">{{
                  sublist.name
                }}</span>
              </p>

              <a
                *ngIf="sublist.blank === true"
                href="https://hrms.easysourceindia.com/Payroll/"
                target="_blank"
              >
                <p>
                  <mat-icon class="list-icon">{{ sublist.icon }}</mat-icon>
                  <span class="list-name" *ngIf="isShowing || isExpanded">{{
                    sublist.name
                  }}</span>
                </p>
              </a>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card class="content-container">
      <mat-card-content class="content">
        <router-outlet></router-outlet>
        <button (click)="openDialog()" class="covid-button" mat-raised-button>
          Covid 19 - Desk
        </button>
      </mat-card-content>
      <app-footer class="footer"></app-footer>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
