<div class="cancle-modal">
  <div>
    <mat-card-title class="title">Cancel Leave</mat-card-title>
  </div>
  <form [formGroup]="reasonForm">
    <div class="input-field">
      <mat-card-subtitle class="input-title">Please enter note <sup>*</sup></mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input type="text" matInput formControlName="reason" placeholder="Write here..."/>
      </mat-form-field>
    </div>
  </form>

  <mat-card-actions class="jc-end g-1">
    <button mat-raised-button class="button-cancel" (click)="close()">
      Close
    </button>
    <button
      mat-raised-button
      class="button-primary"
      (click)="confirmationHandler()"
    >
      Confirm
    </button>
  </mat-card-actions>
</div>
