div {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
}

@media all and (max-width: 1264px) {
  div {
    grid-template-columns: auto auto;
  }
}

@media all and (max-width: 937px) {
  mat-card-title {
    text-align: center;
  }
  div {
    grid-template-columns: auto;
    margin-bottom: 1em;
  }
}
