<div class="container">
  <div class="header flex jc-between ai-center">
    <mat-card-title class="title"> Request for training </mat-card-title>
    <mat-icon (click)="close()" class="icon"> close </mat-icon>
  </div>
</div>

<div class="p-24">
  <div class="p-8">
    <mat-card-subtitle class="c-2-label">Training name</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="p-8">
    <mat-card-subtitle class="c-2-label">Team name</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="text-area">
    <mat-card-subtitle class="c-2-label"
      >Please mention the training/learning area’s you feel can be beneficial
      for your skill enhancement and job performance *
    </mat-card-subtitle>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        maxlength="500"
        cdkAutosizeMaxRows="10"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="text-area">
    <mat-card-subtitle class="c-2-label"
      >Why do you feel these skills are needed and how they will benefit your
      personal and organizational needs *
    </mat-card-subtitle>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        maxlength="500"
        cdkAutosizeMaxRows="10"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="p-8">
    <mat-card-subtitle class="c-2-label"
      >Are you interested to give the Trainings? *
    </mat-card-subtitle>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Yes</mat-radio-button>
      <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="p-8">
    <mat-card-subtitle class="c-2-label"
      >What should be the timeline to conduct this training?
    </mat-card-subtitle>
    <mat-radio-group class="flex flex-column" aria-label="Select an option">
      <mat-radio-button value="1">Immediate</mat-radio-button>
      <mat-radio-button value="2">3-6 Months</mat-radio-button>
      <mat-radio-button value="3">More Than 6 Months</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-card-actions class="jc-end g-05">
    <button mat-raised-button class="button-cancel">Cancel</button>
    <button mat-raised-button class="button-primary">Submit</button>
  </mat-card-actions>
</div>
