$color_1: red;

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}
.card-header {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  padding-right: 500px ;
}
.card-body {
  margin: 20px;
}
.warning {
  color: $color_1;
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .card-header {
    padding-right: 100px ;
  }
}

/* Styles for devices with a max width of 480px */
@media only screen and (max-width: 480px) {
  .card-header {
    padding-right: 40px ;
  }
}
