<div class="container">
  
    <mat-card>
      <mat-card-title class="table-title"> Employee Detail </mat-card-title>
      <div class="p-14">
        <div *ngFor="let field of fields">
          <mat-card-subtitle class="c-label"
            >{{ field.label }}
          </mat-card-subtitle>
          <mat-form-field
            class="form-field"
            appearance="outline"
            *ngIf="!(field.type === 'select')"
          >
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field
            class="form-field"
            appearance="outline"
            *ngIf="field.type === 'select'"
          >
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  
  <div>
    <mat-card class="manual-punch-list">
      <div class="title">
        <mat-card-title class="table-title"> Manual Punch List </mat-card-title>
        <button mat-button class="add-button">+ Add</button>
      </div>

      <div class="p-24">
        <app-ru-table
          [tableColumns]="tableColumns"
          [tableData]="tableData"
          [TableClass]="'manual-punch-table'"
        ></app-ru-table>
      </div>
    </mat-card>
  </div>
</div>
