<mat-card>
  <mat-card-title class="table-title">Appraisal Cycle</mat-card-title>
</mat-card>
<mat-card class="appraisal-container">
  <div class="col-2">
    <div class="not-allowed">
      <mat-card-subtitle class="c-label">Appraisal Cycle</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="not-allowed">
      <mat-card-subtitle class="c-label">Appraisal Cycle</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>
