.card {
  padding: 24px;
  .title-container {
    .title {
      font-size: 1.6em;
    }
    .more {
      border-radius: 50%;
      font-size: 2em;
      padding: 0.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(36, 116, 255, 0.2);
      color: var(--spiro);
    }
  }
  .mat-divider {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .detail {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5em;
  }
  .exp-require {
    margin-top: 1em;
  }
  .tag {
    font-size: 14px;
    color: #606167;
    font-weight: 400;
    line-height: 1.5;
    min-width: 160px;
    margin: 0 10px 0 0;
  }
  .data {
    font-size: 14px;
    color: #231e1e;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    .terms-n-condition {
      font-weight: 500;
      color: var(--spiro);
    }
  }
  .tech-skills {
    .list {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1em;
      .item {
        background-color: #f1f9ff;
        color: #199cff;
        padding: 6px 12px;
        border-radius: 4px;
        text-align: center;
      }
    }
  }
  .tech-skills,
  .job-introduction,
  .job-description,
  .job-qualification {
    margin-top: 1em;
    font-size: 0.9em;
    color: #606167;
    line-height: 2em;
    .title {
      font-size: 1.2em;
      color: black;
    }
    .description-title {
      color: black;
      font-weight: 500;
    }
    .introduction-data {
      color: black;
    }
  }
  .content-container {
    padding: 24px;
    background-color: #f4f8ff;
  }
}
