$background-color_1: #bdcff9;
$background-color_2: #fff;
$background-color_3: #f7a2a2;
$background-color_4: #bfbfbf;
.card-wrapper {
  display: grid;
  grid-template-columns: calc(60% - 0.5em) calc(40% - 0.5em);
  gap: 1.5em;
  .amount-due,
  .purchase-wrap {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid #dce2e9;
    border-radius: 8px !important;
    .icon {
      font-size: 14px;
      color: #606167;
    }
    .note {
      color: #606167;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0px;
      padding-right: 10px;
    }
  }
  .amount-due {
    padding: 10px 20px;
    .view-button {
      margin-bottom: 5px;
      border: 1px solid #ccd2da;
      color: #469cf8;
      max-width: 115px;
      width: 100%;
    }
  }
  .purchase-wrap {
    padding: 27px 10px 10px;
    .purchase-button {
      background: linear-gradient(180deg, #67b0f9 0%, #368cf6 100%);
      border-radius: 5px;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      width: 100%;
      padding: 10px;
      max-width: 332px;
      margin-bottom: 10px;
    }
  }

  .amount-due {
    .avabcoupon {
      color: #469cf8;
      font-size: 18px;
    }
    .amount-title {
      font-size: 20px;
      font-weight: 500;
      color: #221e1e;
    }
    .amount {
      font-weight: 500;
      font-size: 38px;
      color: #469cf8;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  td {
    height: 137px;
    width: 14.28%;
  }

  th,
  th {
    text-align: center;
    border: 1px solid #f1f1f2;
    border-bottom: 1px solid #dddddd;
    color: #221e1e;
    font-size: 12px;
    font-weight: 500;
    border-top: 0px;
    padding: 5px 5px;
  }
  td {
    vertical-align: top;
    text-align: end;
    padding: 10px;
    border: 1px solid #f1f1f2;
    background-color: $background-color_2;
  }
  td.weekend {
    background-color: $background-color_3 !important;
  }
  td.past {
    background-color: $background-color_4;
  }
  td.current {
    background-color: $background-color_1;
    font-weight: bold;
  }
  td.future {
    background-color: $background-color_1;
  }
  td.empty {
    border: none;
  }
}

@media all and (max-width: 50em) {
  .card-wrapper {
    grid-template-columns: auto;
    .amount-due {
      .view-button {
        border: none;
        background: linear-gradient(180deg, #67b0f9 0%, #368cf6 100%);
        color: #fff;
      }
    }
  }
}
