<mat-card [formGroup]="forgotPassword">
  <mat-card-title>Reset Your Password</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-subtitle
    >We will send you a link to reset password.</mat-card-subtitle
  >
  <mat-form-field>
    <input matInput placeholder="Enter your email" formControlName="email"/>
    <mat-error>{{
      forgotPassword | getControl : ["email"] | validationCheck : "email"
    }}</mat-error>
  </mat-form-field>
  <app-ru-button
    [bText]="'Recovery Password'"
    [bClass]="'recovery'"
  ></app-ru-button>
</mat-card>
<app-ru-button
  (btnClick)="loginBack()"
  [bText]="'BACK TO LOGIN'"
  [bClass]="'login-with'"
></app-ru-button>
