mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0em 3em 3em 3em;
}

mat-card-title {
  font-size: 1em;
  color: #a3a4a6;
}
mat-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
mat-card-subtitle {
  font-size: 0.894rem;
  color: #4e5155;
  margin-bottom: 1em;
}

@media all and (max-width: 29em) {
  mat-card {
    padding: 0em 1.5em 3em 1.5em;
  }
}

mat-form-field {
  margin-bottom: 1em;
}

@media all and (max-width: 25.1em) {
  mat-card {
    padding: 0;
    padding-bottom: 1em;
  }
}
