.form {
  display: grid;
  grid-template-columns: 50% auto;
  .flex-size {
    flex: 1 0 calc(25% - 1em);
  }
}
.add {
  background: #1da81b;
  border-radius: 0 !important;
  color: white;
}

@media all and (max-width: 85em) {
  .form {
    grid-template-columns: auto;
  }
}
