<!-- <div class="signup-wrapper"> -->
<div class="back-wrapper">
  <a (click)="back.emit()" tabindex="0">
    <img src="assets/images/icons/back-arrow.svg" alt="Icon" />
    <strong>Go Back</strong>
  </a>
</div>
<ng-container *ngIf="!forgotSuccess">
  <div class="forgot-password">
    <h3>Reset Password</h3>
    <p>Please enter your email address to request a <br />password reset.</p>
    <form [formGroup]="forgotForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          formControlName="email"
          matInput
          placeholder="Email (Required)"
        />
        <mat-error>{{
          forgotForm | getControl: ["email"] | validate: "Email"
        }}</mat-error>
      </mat-form-field>
      <div *ngIf="showError" class="errorMessage">
        <label class="errror-text"
          ><img
            src="assets/images/exclamation-circle-icon.svg"
            alt="Exclamation Icon"
          /><span
            >{{ errorMessage }}

            <ng-container *ngIf="newUser">
              The email address provided was not recognized. Please enter your
              registered email address or
              <a
                (click)="openSignup()"
                style="text-decoration: underline; color: #1a76d2"
              >
                click here
              </a>
              to sign up an account
            </ng-container>
          </span></label
        >
      </div>
      <div class="btn-wrap">
        <button (click)="forgotPassword()" type="submit" class="primary-btn">
          Reset Password
        </button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="forgotSuccess">
  <div class="reset-password-link">
    <div class="check-icon">
      <figure>
        <img src="assets/images/icons/check-circle.svg" alt="Check Icon" />
      </figure>
    </div>
    <h3>Password Reset Email Sent</h3>
    <p>
      An email has been sent to your email address,
      {{ forgotForm.get("email").value }}. Follow the instructions in the email
      to reset your password.
    </p>
    <!-- <a (click)="forgotPassword()">Didn't recieve email ?</a>
    <a style="margin-top: 1em" (click)="forgotSuccess = false">Go back</a> -->
    <div class="btn-wrap">
      <button (click)="close()" type="button" class="primary-btn">Done</button>
    </div>
  </div>
</ng-container>
<!-- </div>  -->
