<mat-card class="amount-due flex-wrap g-1">
  <div class="flex flex-wrap-rev jc-between g-05">
    <mat-card-title class="amount-title">Amount Due</mat-card-title>
    <mat-card-title class="avabcoupon"
      >Available coupon for purchase: 10</mat-card-title
    >
  </div>

  <div>
    <mat-card-title class="amount">₹125</mat-card-title>
  </div>
  <div class="flex flex-wrap-rev ai-start jc-between g-05">
    <div class="flex ai-center g-05">
      <mat-icon class="icon flex jc-center ai-center">info</mat-icon>
      <mat-card-subtitle class="note">
        <strong>Note :</strong> Amount due need to paid in cash in account
        office.
      </mat-card-subtitle>
    </div>
    <button class="view-button" mat-raised-button>View Details</button>
  </div>
</mat-card>
