<div class="signup-outer-wrapper">
  <div class="signup-wrapper">
    <div class="container">
      <div class="left">
        <div class="inner">
          
          <form autocomplete="off" [formGroup]="signupForm">
            
            <div class="input-field">
              <h3>Change Password</h3>
            <mat-form-field class="example-full-width" appearance="outline">
              <div class="help-icon">
                <!-- <img src="assets/images/icons/ic-help.svg" alt="Icon" /> -->
                <div
                  [ngClass]="{ 'help-info': true, show: showPasswordCharacterstics }"
                >
                  <ul>
                    <li [ngClass]="{ active: hasEightCharacters }">
                      Longer than 8 characters
                    </li>
                    <li [ngClass]="{ active: hasSpecial }">
                      Contains a special character
                    </li>
                    <li [ngClass]="{ active: hasLowerAndUpper }">
                      Contains upper and lower case
                    </li>
                    <li [ngClass]="{ active: hasNumber }">Contains a number</li>
                  </ul>
                </div>
              </div>
              <input
                id="password"
                formControlName="password"
                type="password"
                matInput
                autofill="off"
                autocomplete="new-password"
                (focus)="showPasswordCharacterstics = true"
                (blur)="showPasswordCharacterstics = false"
                (keyup)="checkPassword($event)"
                placeholder="New Password (Required)"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <button
                style="background: none"
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                type="button"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error>{{
                signupForm | getControl: ["password"] | validate: "New Password"
              }}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <input
                formControlName="confirmPassword"
                type="password"
                matInput
                placeholder="New Password (Confirm)"
                [type]="hideConfirmPassword ? 'password' : 'text'"
              />
              <button
                style="background: none"
                mat-icon-button
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmPassword"
                type="button"
              >
                <mat-icon>{{
                  hideConfirmPassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>

              <mat-error>{{
                signupForm
                  | getControl: ["confirmPassword"]
                  | validate: "Confirm Password"
              }}</mat-error>
            </mat-form-field>
            </div>
            <div class="btn-wrap">
              <button (click)="resetPassword()" type="submit" class="primary-btn">
                Reset Password
              </button>
              <button (click)="cancel()" type="button" class="primary-btn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
