.signup-outer-wrapper{
  position: relative;
  &:before{
    width:100%;
    height:100%;
    position: absolute;
    content:"";
    background: url("../../../../../assets/images/change-password-vector.png") no-repeat center center;
    left:0;
    bottom:0;
    background-size: contain;
    @media (max-width: 767px) {
      background-position: center bottom;
    }
  }
}
.signup-wrapper {
  min-height:100vh;
  padding:105px 0 0;
  background:url("../../../../../assets/images/change-password-bg.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index:9;
  @media (max-width: 767px) {
    background:transparent;
    padding-top:54px;
  }
  .container{
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .check-box-wrap {
    margin-top: 15px;
    a {
      color: #E7825B;
    }
  }
  .or-signup {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .sign-up-with-email {
    padding: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      img {
        margin-left: 10px;
      }
    }
  }
  .help-icon {
    padding: 5px 0;
    float: right;
    position: absolute;
    right: 7px;
    img {
      width: 20px;
      cursor: pointer;
    }

    .help-info {
      margin-top: 25px;
      width: 300px;
      padding: 15px;
      background: #fefefe;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: -9;
      transition: 0.3s ease-in;
      opacity: 0;
      &.show {
        opacity: 1;
        z-index: 9;
      }
      li {
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        color: #a9a9a9;
        position: relative;
        padding-left: 22px;
        &.active {
          color: #000000;
          &:before {
            background: url("../../../../../assets/images/icons/ic-check-black.svg");
          }
        }
        &:before {
          width: 16px;
          height: 16px;
          background: url("../../../../../assets/images/icons/ic-check.svg");
          position: absolute;
          content: "";
          left: 0;
          top: 5px;
        }
      }
    }
  }
  .social-sign-in {
    padding: 15px 0;
    text-align: center;
    a {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .btn-wrap {
    padding: 25px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      margin:0 5px;
    }
  }
  .left {
    h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      line-height: 1.4;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
      @media (max-width: 767px) {
        font-size:18px;
        line-height:24px;
        text-align: left;
      }
    }
    p{
      text-align: center;
    }
  }
  .left{
    width:50%;
    padding-left:100px;
    @media (max-width: 1024px) {
      padding-left:50px;
    }
    @media (max-width: 767px) {
      width:100%;
      padding-left:0;
    }
    .inner{
      width:270px;
      @media (max-width: 767px) {
        margin:0 auto;
        min-height: 100vh;
        form{
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 100px 0 50px;
        }
      }
    }
  }
  .social-signup {
    width: 100%;
    a {
      width: 100%;
      height: 45px;
      padding: 0 15px;
      background: #fefefe;
      border: 1px solid #000000;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      span {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
      }
      img {
        margin-right: 10px;
      }
    }
  }
}

.thanks-wrapper {
  h3 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .not-receive-email {
    text-align: right;
    a {
      color: #E7825B;
    }
  }
}
