<mat-card class="profile-pic-container">
  <mat-card-title class="table-title">Profile Picture</mat-card-title>
  <div class="content-container">
    <div class="upload-area">
      <div>
        <label> Browse </label>
      </div>
      <div class="field">
        <input
          class="custom-file-input"
          (change)="getUserImage($event)"
          type="file"
        />
      </div>
    </div>

    <div class="preview-area">
      <small>
        <mat-card-subtitle class="upload-file-type">
          Upload files only : gif, png , jpg , jpeg
        </mat-card-subtitle>
      </small>

      <img
        [src]="
          utility.uploadedProfilePicture ||
          '../../../../../assets/default/default_male.jpg'
        "
        alt="User Image"
      />
    </div>

    <div>
      <app-ru-button
        [bText]="'Save'"
        [bClass]="'save'"
        (btnClick)="submitHandler()"
      >
      </app-ru-button>
    </div>
  </div>
</mat-card>
