<div class="popup-wrapper">
  <div class="popup-inner">
    <h3>Delete Account</h3>
    <div class="popup-description">
      <p class="confirm-msg">Are you sure you want to delete your account?</p>
      <p class="mb-15">
        Your data will be
        <strong>permanently removed and<br />we cannot recover it.</strong>
      </p>
      <p>
        This includes all history of your registered <br />courses, bookmarked
        resources and any <br />personalized recommendations.
      </p>
    </div>
    <div class="action-btn">
      <button (click)="close()" type="button" class="cancel">Cancel</button>
      <button (click)="accept()" type="button" class="delete-btn">
        Delete My Account
      </button>
    </div>
  </div>
</div>
