
@import 'ckeditor';
::ng-deep {
  @include ckeditor;
}

.main-content {
  background:#fff;
  padding: 0 0 50px;
  .urgent-help-banner{
    min-height: calc(526px - 105px);
    padding-top:105px;
    overflow: hidden;
    background:rgba(244,243,239,0.8);
    @media (max-width: 767px) {
      min-height: auto;
      padding:80px 0 15px;
    }
    .container{
      height:100%;
      display: flex;
    }
    .inner-content{
      min-height: calc(526px - 105px);
      width: 700px;
      padding-right: 30px;
      display: flex;
      align-items: center;
      @media (max-width: 1280px) {
        width:750px;
      }
      @media (max-width: 1100px) {
        width:680px;
      }
      @media (max-width: 1024px) {
        width:650px;
      }
      @media (max-width: 940px) {
        width:495px;
      }
      @media (max-width: 767px) {
        min-height: auto;
        width:100%;
        padding:0;
        background:#F4F3EF;
      }
      .page-title{
        font-size: 40px;
        font-weight:700;
        line-height: 140%;
        color: #D55827;
        margin-bottom:25px;
        @media (max-width: 1280px) {
          font-size:50px;
          line-height:55px;
          margin-bottom:25px;
        }
        @media (max-width: 1024px) {
          font-size:40px;
          line-height:45px;
          margin-bottom:20px;
        }
        @media (max-width: 767px) {
          font-weight:700;
          font-size: 30px;
          line-height: 35px;    
          margin-bottom:15px;      
        }
      }
      
      p{
        font-size: 20px;
        line-height: 28px;
        color: #000000;
        @media (max-width: 767px) {
          font-size: 18px;
          font-weight:400;
          line-height: 1.5;
        }
      }
    }
    .right-bg{
      width:606px;
      height:100%;
      position: absolute;
      right:-154px;
      top: 0;
      img{
          width:100%;
          height:100%;
          object-fit: cover;
          object-position: center center;
      }
      @media (max-width: 1280px) {
          width:506px;
      }
      @media (max-width: 1024px) {
          width:406px;
      }
      @media (max-width: 767px) {
          display: none;
      }
    }
  }
  .top-flex {
    display: flex;
    align-items: flex-start;
    .top-action {
      display: flex;
      align-items: center;
      margin-top: 7px;
      a {
        margin-right: 10px;
      }
    }
    .tbs-listing {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
      a {
        padding: 5px 15px;
        background: #eef3f7;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
        margin: 0 10px 10px 0;
      }
    }
  }
  .flex.auto {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      display: block;
    }
    p {
      font-family: 'arialregular';
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: #000000;
      @media (max-width: 1024px) {
        font-size:15px;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        line-height:1.2;
      }
    }
    h3{
      font-size: 45px;
      font-weight:700;
      line-height: 49px;
      color: #000000;
      @media (max-width: 1280px) {
        font-size:40px;
      }
      @media (max-width: 1024px) {
        font-size:30px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
        font-weight:500;
        line-height: 22px;
        color: #575868;
      }
    }
  }
  .tbs-listing {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    a {
      padding: 5px 15px;
      background: #eef3f7;
      font-size: 13px;
      font-weight: 600;
      white-space: nowrap;
      margin: 0 10px 10px 0;
    }
  }
  .image-wrap {
    height: 357px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-info {
    width: 100%;
    padding: 0 100px;
    margin-bottom: 30px;
    background-size:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
      
    }
    .ck-content-wrap{
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
    }
  }
  .content-grid {
    margin-bottom: 30px;
    .img-wrap {
      max-width: 220px;
      height: 148px;
      border-radius:15px;
      margin: 0 auto 20px auto;
      background: #FDF5EE;
    }
    p {
      font-size: 16px;
    }
  }
  .urgent-row{
    display: flex;
    padding:50px 0;
    @media (max-width: 767px) {
      display: block;
      padding:25px 0;
    }
    .urgent-help-content{
      padding:15px 10px 0;
      h3{
        font-family: 'arialbold';
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        @media (max-width: 1024px) {
          font-size:18px;
          line-height:1.2;
          margin-bottom:10px; 
        }
        @media (max-width: 767px) {
          font-size:16px;
        }
      }
      p{
        font-family: 'arialregular';
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        @media (max-width: 1024px) {
          font-size:15px;
          line-height:1.2;
        }
        @media (max-width: 767px) {
          font-size:14px;
        }
        a{
          color:#00C2FF;
          font-weight: 700;
        }
      }
    }
  }
}
.tags-wrapper{
  padding-top:15px;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  ul{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li{
      padding:15px 35px;
      margin:0 10px 10px 0;
      background: #E7825B;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      font-size: 16px;
      font-family: 'd-dindin-bold';
      color:#fff;
      white-space: nowrap;
      text-transform: capitalize;
      transform: skew(-10deg);
    }
  }
}
.urgent-help-small-banner{
  width:100%;
  height:180px;
  background: url("../../../../assets/images/urgent-help-small-banner.png") center center no-repeat;
  background-size: cover;
  background-position: center center;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

:host ::ng-deep{
  .ck-content p{
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    @media (max-width: 767px) {
      font-family: 'arialregular';
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .ck-content p strong{
    font-weight:400;
  }
  .ck-content ul li a{
    font-family: 'arialbold';
    color:#1A76D2;
  }
  .ck-content h2,.ck-content h2,.ck-content h3,
  .ck-content h4,.ck-content h5,.ck-content h6{
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .ck-content ul li{
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom:15px;
    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .ck-content ul li strong{
    width: 100%;
    margin:15px 0;
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
.content-urgent-help-wrap{
  max-width:724px;
  margin:0 auto;
}