.req-button,
.route-button {
  width: 15em;
  background-color: #199cff !important;
  color: white !important;
}

.message-wrapper {
  border-radius: 0.2em !important;
  font-size: 2.25em;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
