.popup-wrapper {
  margin:-24px;
  padding:24px;
  @media (max-width: 767px) {
    padding:15px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
  }
  .description {
    max-width: 425px;
    margin: 0 auto 15px;
    padding-bottom: 15px;
    position: relative;
    @media (max-width: 767px) {
      margin: 0 auto;
      padding-bottom:10px;
    }
    h3 {
      font-family: "Lato", sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 45px;
      color: #000000;
      text-align: center;
      @media (max-width: 1024px) {
        font-size: 30px;
        line-height: 35px;
      }
      @media (max-width: 767px) {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 16px;
      line-height: 23px;
      color: #000000;
      text-align: center;
      @media (max-width: 767px) {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        text-align: left;
      }
    }
  }
  .rating-section {
    .rating-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -15px 20px;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 -15px 5px;
      }
      .rating-col {
        max-width: 50%;
        flex: 0 50%;
        padding: 0 15px;
        @media (max-width: 767px) {
          max-width: 100%;
          width: 100%;
          flex: 0 100%;
          margin-bottom: 10px;
        }
        .stars {
          width: 270px;
          display: inline-block;
        }
        p {
          font-family: "Lato", sans-serif;
          font-size: 18px;
          line-height: 21.06px;
          color: #000000;
          margin-bottom: 0;
          @media (max-width: 767px) {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
            color: #000000;
          }
        }
      }
    }
  }
  .tell-us {
    width: 100%;
    padding: 0 15px;
    .tell-us-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 -15px 20px;
      @media (max-width: 767px) {
        align-items: flex-start;
        flex-direction: column;
      }
      .col-item {
        max-width: 50%;
        flex: 0 50%;
        padding: 0 15px;
        &.full-width {
          @media (max-width: 767px) {
            width: 100%;
          }
        }
        @media (max-width: 767px) {
          max-width: 100%;
          flex: 0 100%;
        }
        p {
          font-size: 18px;
          line-height: 20px;
          color: #000000;
          margin-bottom: 0;
          @media (max-width: 767px) {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 19px;
            color: #000000;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 15px;
    @media (max-width: 767px) {
      padding: 10px 0 10px;
    }
    .primary-btn {
      font-size: 18px;
      line-height: 25px;
      height: 45px;
      width: 245px;
    }
  }
  .send-us-email {
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      margin-bottom:0;
      @media (max-width: 1024px) {
        font-size:15px;
        line-height:1.2;
      }
      @media (max-width: 767px) {
        font-size:14px;
      }
      a {
        font-weight: 600;
        color: #000000;
        text-decoration: underline;
        white-space: nowrap;
      }
    }
  }
  .popup-inner {
    height: 55vh;
    padding: 0 15px;
    overflow-y: auto;
    @media (max-width: 767px) {
      height:45vh;
    }
  }
}
.star-rating-options {
  max-width: 277px;
  margin: 0 auto;
  @media (max-width: 767px) {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.textarea-wrap {
  max-width: 277px;
  margin: 0 auto;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
