<section class="main-content">
  <div class="container">
    <div class="flex auto">
      <div class="col-6">
          <h3 class="page-title">Quick and simple activities you can do anytime, anywhere.</h3>
          <p>Use these tools to help you regain and maintain your cool.</p>
      </div>
      <div class="col-6">
        <div class="image-wrap">
            <img src="assets/images/quick-image.png" alt="Image"/>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-page-content">
    <div class="container">
        <app-no-data *ngIf="total === 0" [message]="'No quick activities added yet...'" ></app-no-data>
        <div class="wrap-slider">
          <a *ngIf="quickActivitiesList.length > 3 && scrollLeftCount" (click)="scrollLeft()" class="arrow-left"><img src="assets/images/icons/back-arrow.svg" alt="Icon"/></a>
          
          <div [id]="'web-rec'" class="flex-row-wrap">
            <div  *ngFor="let item of quickActivitiesList" class="col-item">


              <div (click)="utilityService.goToDetails(item)" class="content-inner">
                <div class="title-description">
                  <div style="margin-bottom: 12px;display: flex;">

                    <img
                    [src]="item?.isAvailabelForQuickActivities ? (contentType.QUICKFEATURED | contentTypeIcon) : item.contenttype | contentTypeIcon"
                    alt="Icon"
                  />
                    <h3>{{item?.title}}</h3>
                  </div>
                  <p  [innerHTML]="item?.resourceData && item?.resourceData.length ? item?.resourceData[0].shortdesc : item?.postcontent | safe: 'html'" class="description ck-content">
                  </p>
                </div>
                <div class="bottom-info-wrap">
                  <div class="bottom-left">
                    <p class="time">{{item?.duration}} min activity</p>
                  </div>
                  <div class="bottom-right">
                    <!-- <app-bookmark></app-bookmark> -->
                    <app-like
                    appClickStopPropagation
                    [moduleName]="item.moduleName"
                    [liked]="item?.isLiked"
                    [moduleId]="item?.moduleId"
                    ></app-like>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a *ngIf="quickActivitiesList.length > 3 && showScrollRight" (click)="scrollRight()" class="arrow-right"><img src="assets/images/icons/right-arrow-icon.svg" alt="Icon"/></a>
        </div>
    </div>
  </div>
</section>