<div *ngIf="isBorder" class="info-right" [ngClass]="{ active: saved }">
  <a tabindex="0" appDebounceClick (_allowClick)="toogleSaved()"
    ><img
      [src]="
        saved
          ? 'assets/images/icons/bookmark-dark-filled.svg'
          : 'assets/images/icons/bookmark-dark.svg'
      "
      alt="Icon"
  /></a>
</div>
<!-- toogleSaved -->

<a tabindex="0" *ngIf="!isBorder" appDebounceClick (_allowClick)="toogleSaved()"
  ><img
    [src]="
      saved
        ? 'assets/images/icons/bookmark-dark-filled.svg'
        : 'assets/images/icons/bookmark-dark.svg'
    "
    alt="Icon"
/></a>
