<div class="container">
  <div class="hero-inner">
    <div class="hero-copy">
      <h3 class="hero-title mt-0">Objective :</h3>
      <p class="hero-paragraph">
        Share your innovative startup ideas with us, get funding from us and
        grow on your own. We want to give the young and brilliant ideas some
        shape and nurture them to the fullest to become potential competitors in
        the market. Validate your idea, learn and grow from here.
      </p>
      <h3 class="hero-title mt-0">
        Story about our Angel Investor (AI) <b>Saurabh Singh</b>
      </h3>
      <p class="hero-paragraph"></p>
      <ul>
        <li>
          Followed by @NarendraModi Prime Minister of India | @BarackObama
          Ex-President US | @PiyushGoyal Railway Minister India on Twitter
        </li>
        <li>
          Listed on INDIA's Top 25 Most Inspiring Startup Stories of 2013 by
          YourStory
        </li>
        <li>
          The Companies he has led have created over 4,000 jobs during his
          leadership tenure.
        </li>
        <li>
          In Past, He has built successful companies from startup (Bootstrapped)
          to multi-million dollar in revenue.
        </li>
      </ul>
      <p></p>
      <p>
        Founded passion driven niche startups where he served many Top Fortune
        companies &amp; leading brands in making their Mobile Strategy
        successful as a CEO &amp; Founder of 250+ people company AppStudioz
        "India's leading mobile app development company" ​(★Acquired in 2014).
        He also Co-founded TechAhead in 2009 &amp; was founding partner at
        C&amp;B Electronics.
      </p>
      <p></p>
      <ul>
        <li>
          16+ years of professional experience of which 11+ years are as
          Founding Partner of lean startups across diverse domains with an
          entrepreneurial drive. Always looking to innovate by bringing smart
          people together.
        </li>
        <li>Passionate for building and scaling businesses</li>
        <li>
          Strong experience in working in ambiguity to solve complex problems.
          Skilled at designing and executing successful innovative strategies.
        </li>
        <li>
          Extensive experience in developing many successful products for the
          entire spectrum of users, from conceptualising the business ideas to
          preparing product feature road map, from consumer facing front-end to
          business facing back-end, designing &amp; wire framing with unmatched
          track record of Success &amp; Performance.
        </li>
      </ul>
      <p></p>
      <div class="hero-button">
        <app-ru-button [bText]="'Share Your Idea'" [bClass]="'save'"></app-ru-button>
      </div>
    </div>
    <div class="hero-media">
      <div class="header-illustration">
        <img
          class="header-illustration-image"
          src="../../../../assets/entrepreneurship/header-illustration-light.svg"
          alt="Header illustration"
        />
      </div>
      <div class="hero-media-illustration">
        <img
          class="hero-media-illustration-image"
          src="../../../../assets/entrepreneurship/hero-media-illustration-light.svg"
          alt="Hero media illustration"
        />
      </div>
      <div class="hero-media-container">
        <img
          class="hero-media-image"
          style="width: 550px"
          src="../../../../assets/entrepreneurship/start.png"
          alt="Hero media"
        />
      </div>
    </div>
  </div>
</div>
