<div class="container">
  <div class="hero-inner">
    <div class="hero-copy">
      <div>
        <mat-card-title>{{
          entrepreneurs_data.objective.title
        }}</mat-card-title>
        <p>{{ entrepreneurs_data.objective.paragraph }}</p>
      </div>

      <div>
        <mat-card-title>{{ entrepreneurs_data.investor.title }}</mat-card-title>
        <ul>
          <li *ngFor="let item of entrepreneurs_data.investor.list">
            {{ item }}
          </li>
        </ul>
        <p>{{ entrepreneurs_data.investor.paragraph }}</p>
      </div>

      <div>
        <mat-card-title>{{
          entrepreneurs_data.experience[0].title
        }}</mat-card-title>
        <ul>
          <li *ngFor="let item of entrepreneurs_data.experience[0].list">
            {{ item }}
          </li>
        </ul>
      </div>

      <button
        class="hero-button"
        mat-raised-button
        [routerLink]="'ADD_PITCH' | routing"
      >
        Share Your Idea
      </button>
    </div>
    <div class="hero-media">
      <div class="header-illustration">
        <img
          class="header-illustration-image"
          src="../../../../assets/entrepreneurship/header-illustration-light.svg"
          alt="Header illustration"
        />
      </div>
      <div class="hero-media-illustration">
        <img
          class="hero-media-illustration-image"
          src="../../../../assets/entrepreneurship/hero-media-illustration-light.svg"
          alt="Hero media illustration"
        />
      </div>
      <div class="hero-media-container">
        <img
          class="hero-media-image"
          style="width: 550px"
          src="../../../../assets/entrepreneurship/start.png"
          alt="Hero media"
        />
      </div>
    </div>
  </div>
</div>

<!-- <editor
  [init]="{
    height: 200,
    menubar: false,
    toolbar:
      '  bold italic underline alignleft aligncenter alignright alignjustify '
  }"
></editor> -->
