<div class="popup-wrapper">
    <div class="header">
        <a (click)="close()" class="close-icon"><img src="assets/images/close-icon.png" alt="Image"/></a>
    </div>
    <div class="popup-inner">
        <div class="description">
            <h3>Industry-specific training coming soon!</h3>
            <p>The Canadian Mental Health Association’s workplace and community educators are collaborating with members of the tourism, hospitality, and community social services sector to design free courses and bite-sized learning modules for managers and employees.</p>
        </div>
        <div [formGroup]="trainingForm" class="form-section">
            <div class="flex">
                <div class="col-6">
                    <mat-label>First Name</mat-label>
                    <mat-form-field class="example-form-field input" appearance="outline" >
                        <input formControlName="firstName" matInput type="text">
                        <mat-error>{{
                            trainingForm | getControl: ["firstName"] | validate: "First Name"
                          }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-label>Last Name</mat-label>
                    <mat-form-field class="example-form-field" appearance="outline" >
                        <input formControlName="lastName" matInput type="text">
                        <mat-error>{{
                            trainingForm | getControl: ["lastName"] | validate: "Last Name"
                          }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex">
                <div class="col-6">
                    <mat-label>Email</mat-label>
                    <mat-form-field class="example-form-field" appearance="outline" >
                        <input formControlName="email" matInput type="text">
                        <mat-error>{{
                            trainingForm | getControl: ["email"] | validate: "Email"
                          }}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <ng-container formArrayName="questionanswerobj" *ngFor="let item of feedbackQuestionsFormArray.controls;let i=index;">

                <ng-container *ngIf="(item | getControl:['questiontype']).value === 'radio'; else elseTemplate">
                    <h3 [ngClass]="{'invalid': item.touched && item.invalid}" >{{(item | getControl:['question']).value}}</h3>
                    <div class="radio-listing">
                        <mat-radio-group (change)="selectionChange(item,i)" [formControl]="(item | getControl:['answer'])" aria-labelledby="example-radio-group-label" class="example-radio-group">
                            <mat-radio-button *ngFor="let list of (item | getControl:['option']).value" class="example-radio-button" [value]="list.value">{{list.viewValue}}</mat-radio-button>
                            <!-- <mat-radio-button class="example-radio-button" value="2">Hotel or motel</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="3">Adventure or vacation destination (e.g.: ski hill)</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="4">Community social service</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="5">Other</mat-radio-button> -->
                        </mat-radio-group>
                        <div *ngIf="(item | getControl:['answer']).value ==='Other'" class="input-wrap">
                            <mat-form-field class="example-form-field" appearance="outline" >
                                <input [formControl]="(item | getControl:['otherAnswer'])" matInput type="text" placeholder="Please describe">
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    
                    <mat-label>{{(item | getControl:['question']).value}}</mat-label>
                    <mat-form-field  class="example-form-field describe-area" appearance="outline">
                        <textarea matInput [formControl]="(item | getControl:['answer'])" type="text" [placeholder]="(item | getControl:['placeholdertext']).value"></textarea>
                    </mat-form-field>
                </ng-template>
                



            </ng-container>

            <!-- <h3>What best describes your workplace?</h3>
            <div class="radio-listing">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button *ngFor="let item of describesWorkplace" class="example-radio-button" [value]="item.value">{{item.viewValue}}</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">Hotel or motel</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="3">Adventure or vacation destination (e.g.: ski hill)</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="4">Community social service</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="5">Other</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="(trainingForm | getControl:['best']).value ==='Other'" class="input-wrap">
                    <mat-form-field class="example-form-field" appearance="outline" >
                        <input formControlName="otherBest" matInput type="text" placeholder="Please describe">
                    </mat-form-field>
                </div>
            </div>
            <h3>What best describes your role?</h3>
            <div class="radio-listing">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button *ngFor="let item of describeRoles" class="example-radio-button" [value]="item.value">{{item.viewValue}}</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">Administrative employee</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="3">Customer/client-facing manager or supervisor</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="4">Administrative manager or supervisor</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="5">Employer/Owner/Operator</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="6">Other</mat-radio-button>
                </mat-radio-group>
                        <div *ngIf="(trainingForm | getControl:['role']).value ==='Other'" class="input-wrap">
                            <mat-form-field class="example-form-field" appearance="outline" >
                                <input formControlName="otherRole" matInput type="text" placeholder="Please describe">
                            </mat-form-field>
                        </div>
            </div> -->
            <!-- <mat-label>Are there any comments or specific training ideas that you would like to share with us? (optional)</mat-label>
            <mat-form-field  class="example-form-field" appearance="outline" >
                <input matInput formControlName="comments" type="text" placeholder="Please describe">
            </mat-form-field> -->
        </div>
    </div>
    <div class="btn-wrap">
        <button (click)="submitTraining()" type="submit" class="primary-btn">Submit</button>
    </div>
</div>