$background-color_1: #bdcff9;
$background-color_2: #fff;
$background-color_3: #f7a2a2;
$background-color_4: #bfbfbf;

.header {
  margin-bottom: 2em;
  .back-icon {
    border: 3px solid #221e1e;
    border-radius: 50%;
    padding: 0.2em;
    margin-bottom: 0.5em;
  }
  .title {
    color: #221e1e;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 4px;
  }
}
.amount-due {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #dce2e9;
  border-radius: 8px !important;
}
.icon {
  font-size: 14px;
  color: #606167;
}
.note {
  color: #606167;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-right: 10px;
}
.amount-due {
  padding: 10px 20px;
  .avabcoupon {
    color: #469cf8;
    font-size: 18px;
  }
  .amount-title {
    font-size: 20px;
    font-weight: 500;
    color: #221e1e;
  }
  .amount {
    font-weight: 500;
    font-size: 38px;
    color: #469cf8;
  }
}

.submission-card {
  margin-top: 30px;
  padding: 30px 20px;
  border-radius: 8px !important;
  .flex-size {
    flex: 1 0 25%;
  }
  .flex-size-50 {
    flex: 1 0 45%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  td {
    height: 137px;
    width: 14.28%;
  }

  th,
  th {
    text-align: center;
    border: 1px solid #f1f1f2;
    border-bottom: 1px solid #dddddd;
    color: #221e1e;
    font-size: 12px;
    font-weight: 500;
    border-top: 0px;
    padding: 5px 5px;
  }
  td {
    vertical-align: top;
    text-align: end;
    padding: 10px;
    border: 1px solid #f1f1f2;
    background-color: $background-color_2;
  }
  td.weekend {
    background-color: $background-color_3 !important;
    mat-checkbox {
      display: none;
    }
  }
  td.past {
    background-color: $background-color_4;
  }
  td.current {
    background-color: $background-color_1;
    font-weight: bold;
  }
  td.future {
    background-color: $background-color_1;
  }
  td.empty {
    border: none;
  }
}
