<mat-card  class="google-login-main ">
  <div class="container">
    <div class="button-icon-wrapper flex ai-center jc-between primary-bg">
      <div class="google-icon">
        <asl-google-signin-button style="padding: 0;"></asl-google-signin-button>
      </div>
      <button
        mat-flat-button
        disableRipple
        class="sign"
        color="primary"
      >
        Sign in with Google
      </button>
    </div>
    <mat-card-subtitle class="sub-title"
      >Please use you official Email Id</mat-card-subtitle
    >
  </div>
</mat-card>
