<mat-card class="google-login-main none">
  <div class="container">
    <div class="button-wrapper">
      <span class="icon">
        <asl-google-signin-button size="large"></asl-google-signin-button>
      </span>
      <span><mat-card-subtitle>Sign in with Google</mat-card-subtitle></span>
    </div>
    <mat-card-subtitle class="sub-title"
      >Please use you official Email Id</mat-card-subtitle
    >
    <!-- <div class="loading">
    <button mat-raised-button class="loading" [class.spinner]="loading" [disabled]="loading"></button>
   </div> -->
  </div>
</mat-card>
