.container {
  display: grid;
  grid-template-columns: calc(30% - 1em) auto;

  gap: 2em;

  .manual-punch-list {
    .title {
      padding: 11px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media all and (max-width: 50em) {
  .container {
    grid-template-columns: auto;
  }
}
