<div class="container">
  <mat-card>
    <mat-card-title class="table-title"> Punch Log </mat-card-title>
    <div class="p-14">
      <div *ngFor="let field of fields">
        <mat-card-subtitle class="c-label"
          >{{ field.label }}
        </mat-card-subtitle>
        <mat-form-field
          class="form-field"
          appearance="outline"
          *ngIf="!(field.type === 'select')"
        >
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field
          class="form-field"
          appearance="outline"
          *ngIf="field.type === 'select'"
        >
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button class="button-primary">Get</button>
    </div>
  </mat-card>

  <div>
    <mat-card class="manual-punch-list">
      <mat-card-title class="table-title">Punch Log</mat-card-title>
      <div class="p-24">
        <app-ru-table
          [tableColumns]="tableColumns"
          [tableData]="tableData"
          [TableClass]="'manual-punch-table'"
        ></app-ru-table>
      </div>
    </mat-card>
  </div>
</div>
