<mat-toolbar>
  <span *ngIf="isExpanded"
    ><img
      class="full-logo"
      src="assets/header/applogo.png"
      alt="appinventiv full logo"
  /></span>
  <span *ngIf="!isExpanded"
    ><img class="logo" src="assets/header/ic-logo.svg" alt="appinventiv logo"
  /></span>
  <span class="arrow_forward" (click)="isExpendedValue()">
    <mat-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }"
      >arrow_forward</mat-icon
    >
  </span>
  <span class="spacer"></span>
  <mat-card class="right-side">
    <mat-card-subtitle class="last-login"
      >{{ "LAST LOGIN : "
      }}{{ "Feb-02-2023 04:08 PM from " + " 172.31.25.47" }}</mat-card-subtitle
    >
    <mat-card-content class="content-box">
      <mat-card-content class="user-card" [matMenuTriggerFor]="menu">
        <mat-card-subtitle>
          {{ "arpit dwivedi" }}
        </mat-card-subtitle>
        <img
        class="user-image"
          [src]="
            utility.uploadedProfilePicture ||
            '../../../../../assets/default/default_male.jpg'
          "
          alt="User Image"
        />
        <mat-icon>expand_more</mat-icon>
        <mat-menu class="menu" #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>key</mat-icon>
            <span>Change Password</span>
          </button>
          <button class="logout" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Sing out</span>
          </button>
        </mat-menu>
      </mat-card-content>
      <button class="help">Help</button>
      <span class="bell">
        <mat-icon>notifications</mat-icon>
      </span>
    </mat-card-content>
  </mat-card>
  <span class="menu" (click)="isExpendedValue()"
    ><mat-icon>menu</mat-icon></span
  >
</mat-toolbar>
