.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  z-index: 1;
  padding: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  min-height: 5em;
  background-color: #fff;
  .full-logo {
    height: 39px;
  }
  .logo {
    height: 39px;
  }

  .arrow_forward {
    margin-left: 1em;
    color: var(--spiro);
  }

  .chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }

  .chevron-button.rotated {
    transform: rotate(180deg);
  }

  .right-side {
    .last-login {
      color: #888;
      font-size: 0.6em;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-190%);
    }

    box-shadow: none;
    .content-box {
      display: flex;
      flex-direction: row;
      padding: 0;
      box-shadow: none;
      gap: 2em;
      .user-card {
        padding: 0;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        .user-image {
          height: 30px;
          width: 30px !important;
          border-radius: 50%;
        }
      }
      .help {
        border: none;
        background-color: #d9534f;
        color: white;
        border-radius: 2px;
        padding: 0px 8px 0px 8px;
        height: 1.2rem;
        margin-top: .5rem;
      }
      .bell {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(24, 28, 33, 0.404);
        transform: scale(1.5);
        transition: 0.2s ease-in-out;
        &:hover {
          color: var(--spiro);
          color: var(--spiro);
        }
      }
    }
  }
  .menu {
    display: none;
  }
}

.notification-box {
  margin-top: 5em;
  min-height: calc(100vh - 8em);
  width: 20em;
  position: fixed;
  right: 0;
  z-index: 1;
  border-radius: 3px;
  background: #f7f7f7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  .close {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .notify-card {
    margin-bottom: 15px;
    border: 1px solid #cac5c578;
    border-radius: 12px;
    .notify-header {
      padding: 10px;
      border-radius: 12px 12px 0 0 !important;
      background-color: #0000000f;
    }
  }
}
@media all and (max-width: 62em) {
  mat-toolbar {
    .arrow_forward {
      display: none;
    }
    .right-side {
      display: none;
    }
    .menu {
      display: unset;
    }
  }
}
