.main-content{
  padding:140px 0 50px;
}
.sub-page-title {
  font-size: 30px;
  font-weight: 700;
}

.sub-page-content {
  width: 100%;
  &.mb-30 {
    margin-bottom: 30px;
  }
  .content-inner {
    height: 200px;
    padding: 15px;
    background: #eef3f7;
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h3 {
      font-size: 22px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-bottom: 0;
    }
    .time {
      font-size: 13px;
      color: #4c4c4c;
    }
    .listing-tbs {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      a {
        padding: 5px 15px;
        background: #fff;
        font-size: 13px;
        font-weight: 600;
        color: #000;
        white-space: nowrap;
        margin: 0 10px 10px 0;
      }
    }
  }
}
