<router-outlet></router-outlet>
<div *ngIf="showCookiesPop" class="cookies-outer">
  <div class="container">
    <div class="cookies-wrap">
      <div class="description">
        <p>
          This website uses cookies to help tailor your experience based on the
          pages you visit. You can opt-out anytime using the link at the bottom
          of the page.
        </p>
      </div>
      <div class="btn-wrap">
        <button (click)="acceptCookies()" type="button" class="primary-btn">
          I Understand
        </button>
      </div>
    </div>
  </div>
</div>
<app-loader [show]="isLoading"></app-loader>
