.cookies-outer{
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    z-index:999;
    .cookies-wrap{
        padding:20px 25px;
        background: #FDF5EE;
        border-radius: 20px;
        .description{
            p{
                font-family: 'd-dindin-bold';
                font-size:18px;
                font-weight:700;
            }
        }
        .btn-wrap{
            text-align: right;
        }
    }
}