.heading {
  font-family: "Lato";
  font-size: 20px;
  color: #231e1e;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.home-container {
  .emp-basic-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    margin-bottom: 30px;
    figure {
      margin: 0;
      max-height: 80px;
      max-width: 80px;
      img {
        max-height: 80px;
        max-width: 80px;
        border-radius: 50%;
      }
    }
    .emp-name {
      padding: 0;
      word-break: break-word;
      line-height: 2.2em;
      mat-card-subtitle {
        font-size: 1.6em;
        font-weight: 300;
      }
      mat-card-title {
        font-size: 1.6em;
        font-weight: 450;
      }
    }
  }
}

.upper-card {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 1em;
  .opening-refer {
    display: grid;
    grid-template-columns: 50% 50%;
    .latest-job-openings {
      padding: 1em;
    }
  }
  .referral-bonus {
    padding: 1em;
    border-left: 2px dotted #d0d1d3;
    .ref-bonus-heading {
      font-family: "Lato";
      font-size: 1em;
      color: #199cff;
      font-weight: 600;
      line-height: 1.9;
      text-transform: uppercase;
    }
    .list-container {
      ul {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
        li {
          min-height: 150px;
          background: #f4f9ff;
          margin: 10px;
          padding: 25px 17px;
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          text-align: center;
          justify-content: center;
          .money {
            font-family: "Lato";
            font-size: 2em;
            color: #199cff;
            font-weight: 800;
            line-height: 1;
          }
          .ref-bonus {
            font-family: "Lato";
            font-size: 1em;
            color: #000000;
            font-weight: 800;
            line-height: 1.3;
            text-align: center;
          }
          .exp-req {
            font-family: "Lato";
            font-size: 14px;
            color: #606167;
            font-weight: 500;
            line-height: 1.2;
            margin: 5px 0;
            text-align: center;
          }
        }
      }
    }
  }
}
.carousel-right {
  padding: 24px;
  .heading {
    font-family: "Lato";
    font-size: 20px;
    color: #231e1e;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
  }
  .new-member-wrapper {
    margin-top: 30px;
    padding-left: 26px;

    .member-card {
      height: 392px;
      max-width: 296px;
      background-image: url(../../../../assets/default/new-family-card.png);
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 1em;

      .new-employee-image {
        height: 120px;
        width: 120px;
        border-radius: 50%;
      }
    }
  }
}

.job-opening-wrapper {
  .job-card {
    display: flex;
    .card-image {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.middle-card {
  padding-left: 24px;
  padding-right: 24px;
  mat-card {
    min-height: 30em;
  }
  .middle-card-heading {
    padding-top: 14px;
    padding-bottom: 24px;
    font-size: 20px;
    color: #231e1e;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
  }
  .inner-card-wrapper {
    padding: 24px;
  }
  .middle-card-content-wrapper {
    border: 1.5px solid rgba(150, 165, 184, 0.3);
    box-sizing: border-box;
    border-radius: 10px !important ;

    .appreciation-card {
      padding: 16px;
      padding-bottom: 6em;
      box-sizing: border-box;
      .title-wrapper {
        display: flex;
        align-items: center;
        gap: 0.2em;
        margin-bottom: 16px;
        .for {
          font-size: 1.2em;
          color: #000000;
          font-weight: 400;
          line-height: 1.9;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 2px;
        }
        .icon {
          color: #c136cd;
        }
      }
      .from {
        margin-bottom: 16px;
      }
      .view-more-button {
        position: absolute;
        bottom: 5%;
      }
    }
  }
  .award-card {
    border: 1.5px solid rgba(150, 165, 184, 0.3);
    box-sizing: border-box;
    border-radius: 10px !important ;
    padding: 16px;
    padding-bottom: 6em;
    box-sizing: border-box;
    .title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.2em;
      margin-bottom: 16px;
      .for {
        font-size: 1.2em;
        color: #000000;
        font-weight: 400;
        line-height: 1.9;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 2px;
      }
      .icon {
        color: #c136cd;
      }
    }

    .from {
      margin-bottom: 16px;
    }
    .image-wrapper {
      overflow: hidden;
      img {
        height: 150px;
      }
    }

    .message {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .cheers {
      position: absolute;
      bottom: 5%;
      .appinventiv {
        color: #199cff;
      }
    }
  }
  .birthday-celebration {
    border: 1.5px solid rgba(150, 165, 184, 0.3);
    box-sizing: border-box;
    border-radius: 10px !important ;
    padding: 16px;
    padding-bottom: 6em;
    box-sizing: border-box;
    .title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.2em;
      margin-bottom: 16px;
      .for {
        font-size: 1.2em;
        color: #000000;
        font-weight: 400;
        line-height: 1.9;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 2px;
      }
      .icon {
        color: #36c4cd;
      }
    }

    .from {
      margin-bottom: 16px;
    }
    .image-wrapper {
      overflow: hidden;
      img {
        height: 150px;
      }
    }

    .message {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .cheers {
      position: absolute;
      bottom: 5%;
      .appinventiv {
        color: #199cff;
      }
    }
  }
  .work-anniversary {
    border: 1.5px solid rgba(150, 165, 184, 0.3);
    box-sizing: border-box;
    border-radius: 10px !important ;
    padding: 16px;
    padding-bottom: 6em;
    box-sizing: border-box;
    .title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.2em;
      margin-bottom: 16px;
      .for {
        font-size: 1.2em;
        color: #000000;
        font-weight: 400;
        line-height: 1.9;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 2px;
      }
      .icon {
        color: #1657c8;
      }
    }

    .from {
      margin-bottom: 16px;
    }
    .image-wrapper {
      overflow: hidden;
      img {
        height: 150px;
      }
    }

    .message {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .cheers {
      position: absolute;
      bottom: 5%;
      .appinventiv {
        color: #199cff;
      }
    }
  }
}

.card-bottom {
  .image-wrapper {
    height: 256px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .gallery-image {
      margin-right: 1em;
    }
  }
}

.nested-wrapper {
  display: grid;
  grid-template-columns: calc(50% - 0.25em) calc(50% - 0.25em);
  gap: 0.5em;
}
.inner-card {
  .nested {
    padding: 0.5em;
    img {
      height: 150px;
    }
  }
}

@media all and (max-width: 1400px) {
  .upper-card {
    grid-template-columns: 100%;
    .carousel-right {
      .new-member-wrapper {
      }
    }
  }
}

@media all and (max-width: 700px) {
  .upper-card {
    .opening-refer {
      grid-template-columns: 100%;
      .list-container {
        ul {
          grid-template-columns: auto;
        }
      }
    }
  }
}
