.emp-basic-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 30px;
  figure,
  img {
    margin: 0;
    height: 80px;
    width: 80px;
    img {
      border-radius: 50%;
    }
  }
  .emp-name {
    padding: 0;
    word-break: break-word;
    line-height: 2.2em;
    mat-card-subtitle {
      font-size: 1.6em;
      font-weight: 300;
    }
    mat-card-title {
      font-size: 1.6em;
      font-weight: 450;
    }
  }
}

.upper-card {
  display: grid;
  grid-template-columns: calc(70% - 0.5em) calc(30% - 0.5em);
  gap: 1em;
  .opening-refer {
    border: 1px solid #dbe2ea;
    border-radius: 0.3em !important;
    display: grid;
    grid-template-columns: 50% 50%;
    .latest-job-openings {
      padding: 1em;
    }
  }
  .new-member {
    border-radius: 0.3em !important;
    border: 1px solid #dbe2ea;
  }
}

@media all and (max-width: 1400px) {
  .upper-card {
    grid-template-columns: 100%;
  }
}

@media all and (max-width: 700px) {
  .upper-card {
    .opening-refer {
      grid-template-columns: 100%;
      .list-container {
        ul {
          grid-template-columns: auto;
        }
      }
    }
  }
}
