<div class="emp-basic-info">
  <figure>
    <img src="../../../../assets/default/default_male.jpg" alt="" />
  </figure>
  <mat-card-content class="emp-name">
    <mat-card-subtitle>{{ "Hello!" }}</mat-card-subtitle>
    <mat-card-title>{{ "Arpit Dwivedi" }}</mat-card-title>
  </mat-card-content>
</div>

<div class="upper-card">
  <mat-card class="opening-refer">
    <app-latest-job-openings
      class="latest-job-openings"
    ></app-latest-job-openings>
    <app-referral-bonus></app-referral-bonus>
  </mat-card>
  <mat-card class="new-member">
    <app-new-members></app-new-members>
  </mat-card>
</div>
<div class="latest-appinventiv">
  <app-latest-at-appinventiv-carousel></app-latest-at-appinventiv-carousel>
</div>
<div class="gallery">
  <app-gallery></app-gallery>
</div>
