<div *ngIf="isBorder" class="info-right" [ngClass]="{ active: liked }">
  <a tabindex="0" appDebounceClick (_allowClick)="toggleLike()"
    ><img
      [src]="
        liked
          ? 'assets/images/icons/heart-dark-filled.svg'
          : 'assets/images/icons/heart-dark.svg'
      "
      alt="Icon"
    />
  </a>
  <span
    *ngIf="!hideLikeCount && noOfLikes > 0"
    [ngClass]="{ 'text-bold': loggedIn }"
    >{{ noOfLikes | shortNumber }}</span
  >
</div>

<a tabindex="0" appDebounceClick (_allowClick)="toggleLike()" *ngIf="!isBorder"
  ><img
    [src]="
      liked
        ? 'assets/images/icons/heart-dark-filled.svg'
        : 'assets/images/icons/heart-dark.svg'
    "
    alt="Icon"
/></a>
