.info-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 5px;
  // border-radius: 100px;
  // background-color: #575868;
  // border: solid 1px #575868;
  // &.active{
  //   background-color: #D55827;
  //   border: solid 1px #D55827;
  // }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
    }
    &:focus-visible {
      outline: 1px solid #575868;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    color: #575868;
    &.text-bold {
      font-weight: 700;
    }
  }
}
