
<div class="popup-wrapper">
    <div class="top-section">
        <h3>{{cmsData?.pageTitle}}</h3>
        <div class="content-description-wrap">
            <p [innerHTML]="cmsData?.pageContent | safe: 'html'"
            class="ck-content"></p>
        </div>
    </div>
    <ng-container *ngIf="pageType.COOKES === data.slug; else elseTemplate">
        <div class="btn-wrap">
            <button (click)="optOutCookies()" class="primary-btn">Opt Out Cookies</button>
            <button (click)="close()" class="primary-btn">Close</button>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="btn-wrap">
            <button (click)="close()" class="primary-btn">Close</button>
        </div>
    </ng-template>
</div>