<div class="main-content">
<div class="container">
<h2 class="sub-page-title">Resources I Liked</h2>

<div
  infiniteScroll
  [scrollWindow]="false"
  (scrolled)="onScroll()"
  class="flex"
  *ngIf="seriesArray?.length"
>
  <div class="sub-page-content">
    <div class="flex">
      <div *ngFor="let item of seriesArray" class="col-4">
        <app-content-card
          (statusChanged)="statusChangedLike($event)"
          [item]="item"
        ></app-content-card>
      </div>
    </div>
  </div>
</div>

<app-no-data *ngIf="seriesArray && seriesArray?.length == 0"></app-no-data>
</div>
</div>