.popup-wrapper {
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
  }
  .description {
    padding-bottom: 15px;
    position: relative;
    h3 {
      font-family: "Lato", sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 45px;
      color: #000000;
      text-align: center;
      @media (max-width: 1024px) {
        font-size: 30px;
        line-height: 35px;
      }
      @media (max-width: 767px) {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        line-height: 41px;
        text-align: left;
        color: #575868;
      }
    }
    p {
      font-size: 22px;
      line-height: 20px;
      color: #000000;
      @media (max-width: 767px) {
        font-size: 16px;
        color: #575868;
      }
    }
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 20px;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
    .primary-btn {
      width: 245px;
      height: 45px;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      line-height: 25px;
    }
    .outline-btn {
      width: 244px;
      height: 45px;
      background: #ffffff;
      border: 1px solid #e7825b;
      border-radius: 100px;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #e7825b;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      @media (max-width: 767px) {
        margin-right: 0;
        margin-top: 15px;
      }
    }
  }
  .popup-inner {
    padding: 0 15px;
    overflow-y: auto;
  }
}
