<div class="popup-wrapper">
  <div class="header">
    <a (click)="close()" class="close-icon"
      ><img src="assets/images/close-icon.png" alt="Image"
    /></a>
  </div>
  <div class="popup-inner">
    <div class="description">
      <h3>Thanks!</h3>
      <p>
        Your registration has been submitted, thank you. We will notify you when
        this course is ready, please look out for an email from us soon!
      </p>
    </div>
  </div>
  <div class="btn-wrap">
    <!-- <button (click)="goBack()" type="button" class="outline-btn">Go back to the form</button> -->
    <button (click)="close()" type="submit" class="primary-btn">Done</button>
  </div>
</div>
