.search-n-filter {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 3em;
  margin-bottom: 20px;
  
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    height: 2.5em;
  }
  ::ng-deep.mat-mdc-form-field-infix {
    padding-top: 8px !important;
  }
  .form-field-title {
    font-family: "Lato";
    font-size: 14px;
    color: #96a5b8;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 4px;
  }
  .button-group {
    display: flex;
    gap: 3em;
    .search {
      background-color: var(--spiro);
      color: var(--white);
    }
    .reset {
      color: #96a5b8;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  background-color: #f7f5ec;
  .social {
    height: 1em;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -0.5em;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .background {
    height: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    top: -0.5em;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .post_name {
    margin-top: 1em;
  }
  .email {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .cake {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    span {
      margin-top: 6px;
    }
  }
}

.card:hover {
  transform: scale(1);
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  // box-sizing: border-box;
  img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  .background {
    top: 0;
  }
  .social {
    bottom: 0;
  }
}

.card-image {
  background-color: #1369ce;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  height: 130px;
  width: 130px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  img {
    width: 100%;
    height: 130px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
}

.no-result {
  text-align: center;
  font-size: 1.7em;
}

.spinner::before {
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .search-n-filter {
    grid-template-columns: auto;
    gap: 0;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .spinner::before {
    top: 70%;
  }
}
