<div>
  <mat-card-title class="module-title">{{
    "Employee Directory"
  }}</mat-card-title>
  <mat-card-content class="search-n-filter">
    <div>
      <div>
        <mat-card-subtitle class="form-field-title">Name</mat-card-subtitle>
      </div>
      <mat-form-field appearance="outline">
        <input matInput #searchInput />
      </mat-form-field>
    </div>
    <div>
      <div>
        <mat-card-subtitle class="form-field-title"
          >Department</mat-card-subtitle
        >
      </div>
      <mat-form-field appearance="outline">
        <mat-select
          [(value)]="selected"
          #departmentSelect
          (selectionChange)="onDepartmentSelect()"
        >
          <mat-option
            *ngFor="let department of departments"
            [value]="department"
            >{{ department }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-group">
      <button mat-raised-button class="reset" (click)="reset()">
        {{ "Reset" }}
      </button>
      <button mat-raised-button class="search" (click)="search()">
        <mat-icon>search</mat-icon>{{ "Search" }}
      </button>
    </div>
  </mat-card-content>
</div>

<div class="card-container" *ngIf="loading == false">
  <div class="card" *ngFor="let employee of filteredData">
    <div class="background"></div>
    <div class="card-image">
      <img class=".picture" src="../../../../assets/default/default_male.jpg" />
    </div>
    <mat-card-title class="name">{{ employee?.name }}</mat-card-title>
    <mat-card-subtitle class="post_name">Chadwick Boseman</mat-card-subtitle>
    <mat-card-subtitle class="email">
      <mat-icon>alternate_email</mat-icon>
      <a> {{ employee?.email }}</a>
    </mat-card-subtitle>
    <mat-card-subtitle class="cake">
      <mat-icon>cake</mat-icon>
      <span>{{ "29/06" }}</span>
    </mat-card-subtitle>
    <div class="social"></div>
  </div>
</div>

<div class="loading" [class.spinner]="loading" *ngIf="loading == true"></div>

<mat-card-title class="no-result" *ngIf="this.filteredData.length == 0">{{
  "no result found !" | titlecase
}}</mat-card-title>
