<mat-card class="middle-card">
  <mat-card-title class="middle-card-heading"
    >Latest at Appinventiv</mat-card-title
  >
  <owl-carousel-o [options]="middleCarousel">
    <ng-container>
      <ng-template carouselSlide>
        <mat-card class="middle-card-content-wrapper">
          <owl-carousel-o [options]="innerCardLeft">
            <ng-container>
              <ng-template carouselSlide>
                <mat-card class="appreciation-card">
                  <div class="title-wrapper">
                    <mat-icon class="icon">fiber_manual_record</mat-icon>
                    <mat-card-subtitle class="for"
                      >Appreciation for team</mat-card-subtitle
                    >
                  </div>
                  <mat-card-subtitle class="from"
                    >Dear Moxa Team</mat-card-subtitle
                  >
                  <mat-card-subtitle
                    >We would like to really appreciate the hard work of each
                    individual and show our gratitude. We really appreciate the
                    efforts and good work. Keep Shining and growing! All of us
                    are putting our best efforts we are sure, so keep spreading
                    your awesomeness. View More</mat-card-subtitle
                  >

                  <button class="view-more-button" mat-raised-button>
                    View More
                  </button>
                </mat-card>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </mat-card>
      </ng-template>

      <ng-template carouselSlide *ngFor="let items of arr">
        <mat-card class="award-card">
          <div class="title-wrapper">
            <mat-icon class="icon">fiber_manual_record</mat-icon>
            <mat-card-subtitle class="for">Awards</mat-card-subtitle>
          </div>
          <mat-card-subtitle class="from">Dear</mat-card-subtitle>
          <div class="nested-wrapper">
            <div class="nested">
              <owl-carousel-o [options]="innerCardsRight">
                <ng-container *ngFor="let slide of gallery; let index = index">
                  <ng-template carouselSlide>
                    <div class="image-wrapper item">
                      <img class="gallery-image" src="{{ slide }}" />
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
            <div class="nested">
              <owl-carousel-o [options]="innerCardsRight">
                <ng-container *ngFor="let slide of gallery; let index = index">
                  <ng-template carouselSlide>
                    <div class="image-wrapper item">
                      <img class="gallery-image" src="{{ slide }}" />
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
          <div class="message">
            <mat-card-subtitle
              >Keep spreading your awesomeness. Congratulations !
            </mat-card-subtitle>
          </div>

          <div class="cheers">
            <mat-card-subtitle>Cheers !</mat-card-subtitle>
            <mat-card-subtitle class="appinventiv"
              >Appinventiv</mat-card-subtitle
            >
          </div>
        </mat-card>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</mat-card>
