.container {
  border-radius: 0.3em !important;
  border: 1px solid #dbe2ea;
}
.card-title {
  padding: 0.8em;
}

.mat-divider {
  color: rgba(24, 28, 33, 0.06);
}

.carousel-container {
  padding: 24px;
  border-radius: 0.3em !important;
  .innerHTML {
    ::ng-deep {
      p:first-child {
        font-size: 16px;
        color: #000000;
        line-height: 1.9;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0;
        span {
          height: 16px;
          width: 16px;

          border-radius: 50%;
        }
      }
      p:nth-child(2) {
        font-size: 12px;
        color: #606167;
        font-weight: 500;
        line-height: 1.9;
      }
      p {
        font-size: 12px;
        color: #606167;
        line-height: 1.9;
      }
    }
  }
  .carousel-slide {
    border: 1.5px solid rgba(150, 165, 184, 0.3);
    box-sizing: border-box;
    border-radius: 10px !important ;
  }

  .carousel-content-wrapper {
    padding: 16px;
    padding-bottom: 6em;
    box-sizing: border-box;
    height: 25em;
    .slide-title {
      display: flex;
      align-items: center;
      gap: 0.2em;
      margin-bottom: 16px;
      .title {
        font-size: 16px;
        color: #000000;
        line-height: 1.9;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .for {
    font: 400 1.2em/1.9 #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
  }

  .icon {
    font-size: 1em;
    color: #c136cd;
  }
}

.from {
  font-size: 12px;
  color: #606167;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 16px;
}

.image-wrapper {
  overflow: hidden;
  height: 150px;

  img {
    height: 150px;
  }
}

.msg,
.message {
  font-size: 12px;
  color: #606167;
  font-weight: 400;
  line-height: 1.9;
}

.message {
  display: block;
  margin: 1em 0;
}

.cheers {
  position: absolute;
  bottom: 5%;

  .appinventiv {
    color: #199cff;
  }
}

.view-more-button {
  position: absolute;
  bottom: 5%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    #199cff !important;
  background-blend-mode: soft-light, normal !important;
  border: 1px solid rgba(150, 165, 184, 0.2) !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 12%),
    inset 0px 2px 0px rgb(255 255 255 / 24%) !important;
  border-radius: 4px !important;
  color: #ffffff !important;
}

.inner-card-wrapper {
  padding: 24px;
}

.image-wrapper {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery-image {
    margin-right: 1em;
  }
}

.nested-wrapper {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.25em));
  gap: 0.5em;
}

.inner-card .nested {
  padding: 0.5em;

  img {
    height: 150px;
  }
}
