.account-container {
  min-height: 100%;
  background: url("../../../assets/onboarding/login/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1.5em 3em 1.5em;
  .reusable-card {
    max-width: 26em;
    display: grid;
    grid-template-rows: auto auto auto auto;
    .app-logo {
      position: relative;
      padding: 6em 3em 3em 0em;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .content-area {
      word-break: break-word;
    }
    .footer {
      padding: 1em 2em 1em 2em;
      text-align: center;
      word-break: break-word;
      mat-card-subtitle {
        color: #a3a4a6;
      }
    }
    mat-divider {
      margin-top: 1em;
    }
  }
}

@media all and (max-width: 25.1em) {
  .account-container {
    .reusable-card {
      .app-logo {
        img {
          height: 50%;
          width: 85%;
        }
      }
    }
  }
}
@media all and (max-width: 15em) {
  .account-container {
    .reusable-card {
      .app-logo {

      }
    }
  }
}

@media all and (max-width: 17em) {
  .account-container {
    padding: 1em 1em 1em 1em;
    .reusable-card {
      .app-logo {
        padding: 0em 0em 4em 0em;
      }
      .content-area {
        font-size: 0.7em;
      }
      .footer {
        padding: 0.25em 1em 0.25em 1em;
        mat-card-subtitle {
          font-size: 0.7em;
        }
      }
    }
  }
}
@media all and (max-width: 8em) {
  .account-container {
    .reusable-card {
      .app-logo {
        
      }
    }
  }
}
