<mat-card class="account-container">
  <mat-card class="reusable-card">
    <mat-card-content class="app-logo">
      <img src="../../../../assets/onboarding/login/applogo.png" alt="" />
    </mat-card-content>
    <mat-card-content class="content-area">
      <router-outlet></router-outlet>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content class="footer">
      <mat-card-subtitle>
        {{ _utility.newYear }} &#169; Appinventiv HR System</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</mat-card>
