<footer class="footer">
  <div class="container">
    <div class="partner-social-link">
      <div class="partner-logo">
        <a class="bcid-logo" tabindex="0"
          ><img
            src="assets/images/BCID_H.png"
            alt="Logo"
            width="180"
            height="83"
        /></a>
        <p>
          Funding also provided by the Government of Canada through the
          Canada-British Columbia Workforce Development Agreement
        </p>
        <a class="cmha-logo" tabindex="0"
          ><img
            src="assets/images/canadian-mental-health-association.png"
            alt="Logo"
            width="194"
            height="61"
        /></a>
      </div>
      <div class="social-links">
        <a
          href="https://www.facebook.com/CMHABCDIVISION/"
          target="_blank"
          tabindex="0"
          ><img
            src="assets/images/facebook-icon.svg"
            alt="Icon"
            width="16"
            height="22"
        /></a>
        <a href="http://twitter.com/CMHABC" target="_blank" tabindex="0"
          ><img
            src="assets/images/twitter-icon.svg"
            alt="Icon"
            width="22"
            height="20"
        /></a>
        <a
          href="https://www.instagram.com/cmha_bc/?hl=en"
          target="_blank"
          tabindex="0"
          ><img
            src="assets/images/instagram-icon.svg"
            width="23"
            height="22"
            alt="Icon"
        /></a>
        <a
          href="https://www.youtube.com/user/cmhabc/featured"
          target="_blank"
          tabindex="0"
          ><img
            src="assets/images/youtube-icon.svg"
            alt="Icon"
            width="23"
            height="17"
        /></a>
        <a
          href="https://www.linkedin.com/company/canadian-mental-health-association-bc-division/mycompany/"
          target="_blank"
          tabindex="0"
          ><img
            src="assets/images/linkedin-icon.svg"
            alt="Icon"
            width="22"
            height="21"
        /></a>
      </div>
    </div>
    <div class="copy-right">
      <p>
        © 2021
        <a
          style="margin: 0px 3px 0px 10px"
          (click)="openprivacyPages()"
          tabindex="0"
          >Privacy</a
        >—<a
          style="margin: 0px 10px 0px 3px"
          (click)="openTermsPages()"
          tabindex="0"
          >Terms</a
        >
        <a (click)="optOutCookies()" tabindex="0"> Opt Out of Cookies</a>
      </p>
    </div>
  </div>
  <!-- <div class="chat-widget-outer">
    <div class="container-outer">
      <div class="chat-widget">
        <div class="chat-widget-inner">
          <h3>Confidential Mental Health Support Chat</h3>
          <iframe
            style="width: 100%; max-height: 80px"
            [src]="
              'https://na0.icarol.com/pub/Messaging/StatusBadge.aspx?orgNum=144723&pid=647&cc=en-US'
                | safe: 'resourceUrl'
            "
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div> -->
</footer>
