.footer {
  padding: 50px 0 30px;
  background: #575868;
  position: relative;
  @media (max-width: 1024px) {
    padding: 25px 0;
  }
  @media (max-width: 767px) {
    padding: 15px 0;
  }
  .footer-menu-wrap {
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 1024px) {
      padding: 50px;
    }
    @media (max-width: 767px) {
      padding: 25px 50px;
      flex-direction: column;
    }
    .logo-wrap {
      width: 300px;
      @media (max-width: 1024px) {
        width: 200px;
      }
      @media (max-width: 767px) {
        width: 100px;
      }
    }
    .menu-left {
      ul {
        @media (max-width: 1024px) {
          justify-content: flex-end;
        }
      }
    }
    .menu-right {
      position: relative;
      z-index: 99;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1024px) {
        justify-content: flex-start;
      }
      li {
        margin-right: 30px;
        @media (max-width: 1024px) {
          margin-right: 20px;
        }
        @media (max-width: 767px) {
          margin-right: 10px;
        }
        a {
          font-family: 'd-dinregular';
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          color: #000000;
          @media (max-width: 767px) {
            font-size: 13px;
          }
          &:focus-visible {
            outline: solid 1px #fff;
          }
        }
      }
    }
  }
  .partner-social-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-top: 1px solid #cce6e1;
    padding-top: 15px;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      border: none;
      padding-top: 10px;
    }
    .partner-logo {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        margin-bottom: 10px;
        position: relative;
        padding: 15px 0 50px;
        justify-content: center;
      }
      a {
        margin-right: 15px;
        &:focus-visible {
          outline: solid 1px #fff;
        }
        @media (max-width: 767px) {
          margin-right: 0;
        }
        &.bcid-logo {
          width: 180px;
          @media (max-width: 1024px) {
            width: 150px;
          }
          @media (max-width: 767px) {
            width: 160px;
            margin: 0 10px 15px 0;
          }
          @media (max-width: 576px) {
            width: 140px;
          }
        }
        &.cmha-logo {
          width: 194px;
          @media (max-width: 1024px) {
            width: 144px;
          }
          @media (max-width: 767px) {
            width: 154px;
            margin: 0 0 15px 10px;
          }
          @media (max-width: 576px) {
            width: 140px;
          }
        }
      }
      p {
        font-family: 'd-dinregular';
        width: 215px;
        font-size: 12px;
        line-height: 1.2;
        margin: 0 15px 0 0;
        color: #fff;
        text-align: center;
        @media (max-width: 1024px) {
          width: 155px;
        }
        @media (max-width: 767px) {
          width: 90%;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      @media (max-width: 1024px) {
        margin-bottom: 20px;
      }
      @media (max-width: 1024px) {
        margin-bottom: 10px;
      }
      a {
        width: 40px;
        height: 40px;
        margin: 0 7px 0 8px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        &:focus-visible {
          outline: solid 1px #fff;
        }
        @media (max-width: 1024px) {
          margin: 0 5px;
        }
      }
    }
  }

  .logo-wrap {
    text-align: center;
    strong {
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
  }
  .copy-right {
    text-align: center;
    p {
      font-family: 'd-dinregular';
      font-size: 14px;
      line-height: 1.2;
      color: #fff;
      margin-bottom: 0;
    }

    a {
      font-family: 'd-dinregular';
      margin: 0 10px;
      display: inline-block;
      color: #fff;
      &:focus-visible {
        outline: solid 1px #fff;
      }
    }
  }
  .flex-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width: 767px) {
      p,
      address {
        text-align: center;
      }
    }
    .col-4 {
      max-width: 33.33%;
      flex: 0 33.33%;
      @media (max-width: 767px) {
        max-width: 100%;
        flex: 0 100%;
      }
      h3 {
        font-size: 20px;
        font-weight: 600;
        @media (max-width: 767px) {
          font-size: 16px;
          text-align: center;
        }
      }
      ul {
        li {
          margin-bottom: 5px;
          @media (max-width: 767px) {
            text-align: center;
          }
          a {
            font-family: 'd-dinregular';
            font-size: 14px;
            font-weight: 500;
            position: relative;
            &:focus-visible {
              outline: solid 1px #fff;
            }
            &:hover {
              color: #01b2ff;
              &:before {
                transform: scaleX(1) translateZ(0);
                transform-origin: 0 0;
                -webkit-transform: scaleX(1) translateZ(0);
                -moz-transform: scaleX(1) translateZ(0);
                -ms-transform: scaleX(1) translateZ(0);
                -o-transform: scaleX(1) translateZ(0);
              }
            }
            &:before {
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              height: 1px;
              background: #01b2ff;
              content: "";
              transform: scaleX(0) translateZ(0);
              transform-origin: 100% 100%;
              -webkit-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              -moz-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              -ms-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              -o-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
              -webkit-transform: scaleX(0) translateZ(0);
              -moz-transform: scaleX(0) translateZ(0);
              -ms-transform: scaleX(0) translateZ(0);
              -o-transform: scaleX(0) translateZ(0);
            }
          }
        }
      }
    }
  }
}
.footer-menu {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

.chat-widget {
  z-index: 100;
  width: 272px;
  padding:20px 25px 0;
  min-height: 87.37213134765625px;
  background: #ffffff;
  box-shadow: 0px 3.5093px 21.0558px rgba(0, 0, 0, 0.25);
  border-radius: 14.0372px;
  position: fixed;
  right: 35px;
  bottom: 30px;
  @media (max-width: 1024px) {
    right: 25px;
    bottom: 20px;
    padding:15px 20px 0;
  }
  @media (max-width: 767px) {
    width:210px;
    right: 20px;
    bottom: 20px;
    padding:10px 15px 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 20%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .chat-widget-inner{
    h3{
      font-size: 18px;
      font-weight:700;
      line-height: 22px;
      color: #6792BF;
      margin-bottom:0;
      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 1.2;
        color: #6792BF;
      }
    }
  }
}
.chat-widget-outer {
  position: relative;
}
