<div class="popup-wrapper">
    <div class="header">
        <a (click)="close()" class="close-icon"><img src="assets/images/close-icon.png" alt="Image"/></a>
    </div>
    <div class="popup-inner">
        <div class="description">
            <h3>Thanks!</h3>
            <p>We’ll get in touch with you regardig your training interest. In the meanwhile, please check your email and verify that you received a confirmation of your sign-up.</p>
            <p>If you didn’t receive an email, go back to the form and make sure that your email address is correct.</p>
        </div>
    </div>
    <div class="btn-wrap">
        <button (click)="goBack()" type="button" class="outline-btn">Go back to the form</button>
        <button (click)="close()" type="submit" class="primary-btn">Done</button>
    </div>
</div>