::ng-deep {
  .mat-menu-panel.social-menu {
    min-width: 125px;
  }
}

.menu-items {
  display: flex;
  .fb-share-button {
    .flex-row {
      display: flex !important;
      img {
        margin-right: 8px;
      }
      span {
        white-space: nowrap;
      }
    }
  }
}
