.flex-size {
  flex: 1 0 calc(25% - 1em);
}
sup {
  color: red;
}
.req-btn {
  background-color: #3246d3 !important;
  color: white !important;
}
.text-area {
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    min-height: 7em;
  }
}
