.add-button {
  background: transparent;
  box-shadow: 0 0 0 1px #26B4FF inset;
  color: #26B4FF !important;
  border-radius: 0 !important;
  height: 1.5em;
  width: 2em;
  padding: 0;
}

.expansion {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 1em;

  .work-time {
    gap: 1em;

    .flex-size {
      flex: 1 0 calc(33.33% - 1em);
    }
  }

  .add {
    background: #1da81b;
    border-radius: 0 !important;
    color: white;
  }
}

.project-conteiner {
  gap: 1em;

  .flex-size {
    flex: 1 0 calc(25% - 1em);
  }

  .button-container {
    width: 50%;
  }
}

.worksheets {
  border-radius: .3em !important;

  mat-card-actions{
    justify-content: flex-end;
    .refresh-button {
      background: #28c3d7;
      color: white;
      border-radius: 0 !important;
      height: 2em;
    }
  }

}

@media all and (max-width: 50em) {
  .expansion {
    grid-template-columns: auto;
  }
}

::ng-deep.mat-content {
  align-items: center;
}

//  .add-form {
//   display: grid;
//   grid-template-columns: 50% 50%;
// }

// .project-container {
//   display: grid;
//   padding: 1em;
//   grid-template-columns:
//     calc(25% - 0.25em) calc(25% - 0.25em) calc(25% - 0.25em) calc(25% - 0.25em);
//   gap: 0.25em;

//   mat-form-field {
//     width: 100%;
//   }
// }

// .expansion-penal-content {
//   display: flex;
//   flex-direction: row;
//   gap: 1em;
//   .filters {
//     .project{
//       flex: 1 0 100%;
//     }
//     .form-field {
//       width: 100%;
//     }
//   }
// }