<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Create New DSR </mat-panel-title>
    <button mat-raised-button>+ ADD</button>
  </mat-expansion-panel-header>
  <div class="add-form">
    <div class="project-container">
      <div>
        <mat-form-field appearance="outline">
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="description-container"></div>
  </div>
</mat-expansion-panel>
