<mat-expansion-panel [disabled]="true" [expanded]="panelOpenState" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title class="table-title"> Create New DSR </mat-panel-title>
    <button mat-button (click)="togglePanel()" class="add-button">+ Add</button>
  </mat-expansion-panel-header>
  <div [formGroup]="dsrForm" class="expansion p-24">
    <div>
      <div class="project">
        <mat-card-subtitle class="c-label">Project</mat-card-subtitle>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select formControlName="project_name">
            <mat-option *ngFor="let item of projects" value="{{ item }}">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="work-time flex flex-wrap ai-center">
        <div class="flex-size">
          <mat-card-subtitle class="c-label">Date</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <input formControlName="date" matInput [matDatepicker]="date" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="date"
            ></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex-size">
          <mat-card-subtitle class="c-label">Estimated Hours</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <input
              formControlName="login_hours"
              matInput
              [ngxTimepicker]="login_hours"
            />
            <ngx-material-timepicker #login_hours></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="flex-size">
          <mat-checkbox class="example-margin">No Work Done</mat-checkbox>
        </div>
      </div>
    </div>
    <div>
      <mat-card-subtitle class="c-label">Description</mat-card-subtitle>
      <ckeditor
        formControlName="editor_text"
        [config]="editorConfig"
      ></ckeditor>
    </div>
    <mat-card-actions>
      <button (click)="submitHandler()" mat-raised-button class="add">
        Add
      </button>
    </mat-card-actions>
  </div>
</mat-expansion-panel>
<br />
<br />
<mat-card class="p-24">
  <form [formGroup]="filterForm">
    <div class="project-conteiner flex flex-wrap ai-center">
      <div *ngFor="let item of formFields" class="flex-size">
        <mat-card-subtitle class="c-label">{{ item.label }}</mat-card-subtitle>
        <mat-form-field appearance="outline" *ngIf="item.type === 'select'">
          <mat-select formControlName="{{ item.formControlName }}">
            <div class="p-8">
              <mat-form-field class="select-search-box" appearance="outline">
                <input matInput  #inputRef />
              </mat-form-field>
            </div>
            <mat-option
              *ngFor="let value of item.dropDown | optionsFilter : inputRef" 
              value="{{ value }}"
              >{{ value }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="item.type === 'datePicker'">
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            formControlName="{{ item.formControlName }}"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="button-container flex g-1">
        <button (click)="search()" mat-raised-button class="button-primary">
          Search
        </button>
        <button (click)="reset()" mat-raised-button class="button-cancel">
          Reset
        </button>
      </div>
    </div>
  </form>
</mat-card>
<br />
<mat-card class="worksheets">
  <mat-card-title class="table-title">List All Worksheets</mat-card-title>
  <mat-card-actions>
    <button mat-button class="refresh-button">Refresh</button>
  </mat-card-actions>
  <mat-card-content class="p-12">
    <app-ru-table
      [tableColumns]="tableColumns"
      [tableData]="tableData"
      [isFilterable]="true"
      [isPageable]="true"
      [TableClass]="'my-dsr'"
      (clickHandler)="viewDetails($event)"
    ></app-ru-table>
  </mat-card-content>
</mat-card>
