<mat-card class="p-8">
  <div>
    <mat-card-subtitle class="c-label">Title</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <input matInput type="text" />
    </mat-form-field>
  </div>
  <br />
  <div>
    <mat-card-subtitle class="c-label">Upload CV (pdf,doc)</mat-card-subtitle>
    <mat-card class="custom-file-input-container">
      <input
        class="custom-file-input"
        (change)="getAttachment($event)"
        type="file"
      />
    </mat-card>
  </div>
  <br />
  <div class="textarea">
    <mat-card-subtitle class="c-label">Description</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        maxlength="500"
        cdkAutosizeMaxRows="10"
        formControlName="skill"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
  </div>

  <mat-card-actions>
    <button mat-raised-button class="button-primary">Save</button>
  </mat-card-actions>
  <br />

  <mat-divider></mat-divider>

  <br />

  <app-ru-table
    [tableColumns]="tableColumn"
    [tableData]="tableData"
    [isFilterable]="true"
    [TableClass]="'leave-attachment-list-table'"
  ></app-ru-table>
</mat-card>
