.c-label {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #2f3031;
}

.qualification-container {
  .qualification-form {
    padding: 24px;
    .field-container {
      padding: 24px;
      .col-2 {
        gap: 2em;
        padding-bottom: 16px;
      }
    }
  }
}

.qualifiction-table-card {
  margin-top: 1em;
  .table {
    padding: 24px;
  }
}

.text-area {
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    min-height: 5em;
  }
}

@media all and (max-width: 50em) {
  .col-2 {
    grid-template-columns: auto;
  }
}
