<mat-card>
  <mat-card-title class="table-title">Add New Qualification</mat-card-title>
</mat-card>
<div class="qualification-container">
  <mat-card class="qualification-form">
    <div class="field-container">
      <div class="col-2">
        <div>
          <mat-card-subtitle>School/University</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
        <div>
          <mat-card-subtitle>Education Level</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option>I am option no one</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-card-subtitle>Time Period</mat-card-subtitle>
        <div class="col-2">
          <div>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="picker1" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div>
          <mat-card-subtitle>Language</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option>dsafasdfa</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-card-subtitle> Professional Course (If any)</mat-card-subtitle>
          <mat-form-field appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-card-subtitle>Description</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button (click)="submitHandler()">Save</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="qualifiction-table-card">
    <mat-card-title class="table-title">List All Qualification</mat-card-title>
    <app-ru-table class="table" [tableColumns]="tableColumns" [tableData]="tableData"></app-ru-table>
  </mat-card>
</div>