@use "@angular/material" as mat;
@use "./scss/global.scss" as *;
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@include mat.core();

$HRMS_Appinventiv-primary: mat.define-palette(mat.$indigo-palette);
$HRMS_Appinventiv-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$HRMS_Appinventiv-warn: mat.define-palette(mat.$red-palette);

$HRMS_Appinventiv-theme: mat.define-light-theme(
  (
    color: (
      primary: $HRMS_Appinventiv-primary,
      accent: $HRMS_Appinventiv-accent,
      warn: $HRMS_Appinventiv-warn,
    ),
  )
);

@include mat.all-component-themes($HRMS_Appinventiv-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-break: break-word;
}

//mat form field css class
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  width: unset;
}

.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
  opacity: 0.04;
}

.mdc-text-field .mdc-text-field__input {
  caret-color: var(--mdc-theme-primary, #26b4ff);
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-line-ripple::after {
  border-bottom-color: var(--spiro);
}

.cdk-text-field-autofill-monitored {
  background-color: #26b4ff;
}

.mat-form-field-underline {
  display: none !important;
}

mat-error {
  font-size: 0.8em;
}

mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  padding: 0;
}

mat-card-content {
  padding: 0;
}



//mat-list

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
}

// mat accordion

.mat-expansion-panel-spacing {
  margin: 0 !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-expansion-indicator ::after {
  transform: rotate(-180deg) !important;
}

.mat-expansion-panel-header {
  padding: 0.5em 1.1em !important;
}
.mat-expansion-panel-header {
  height: auto !important;
}
.mat-expansion-panel-header-title {
  margin-right: none !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

//common scss

.col-1 {
  display: grid;
  grid-template-columns: auto;
}
.col-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.col-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.col-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}


// spinner code

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #a3a4a6;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}