@use "@angular/material" as mat;
@use "./scss/global.scss" as *;

@include mat.core();
/*
  $red-palette, $pink-palette, $indigo-palette,
  $purple-palette, $deep-purple-palette, $blue-palette, $light-blue-palette, $cyan-palette,
  $teal-palette, $green-palette, $light-green-palette, $lime-palette, $yellow-palette,
  $amber-palette, $orange-palette, $deep-orange-palette, $brown-palette, $grey-palette,
  $gray-palette, $blue-grey-palette, $blue-gray-palette, $light-theme-background-palette,
  $dark-theme-background-palette, $light-theme-foreground-palette, $dark-theme-foreground-palette;

  $HRMS_Appinventiv-warn: mat.define-palette(mat.$red-palette);

  define-light-theme, define-dark-theme,
  define-palette, get-contrast-color-from-palette, get-color-from-palette,
  get-color-config, get-typography-config, get-density-config,
  */

$HRMS_Appinventiv-primary: mat.define-palette(mat.$blue-palette, 500);
$HRMS_Appinventiv-accent: mat.define-palette(mat.$light-blue-palette);
$HRMS_Appinventiv-warn: mat.define-palette(mat.$pink-palette);

$HRMS_Appinventiv-theme: mat.define-light-theme(
  (
    color: (
      primary: $HRMS_Appinventiv-primary,
      accent: $HRMS_Appinventiv-accent,
      warn: $HRMS_Appinventiv-warn,
    ),
  )
);

@include mat.all-component-themes($HRMS_Appinventiv-theme);
@include include-mixin($HRMS_Appinventiv-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-break: break-word;
}

//mat form field css class

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  width: unset;
}

// .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//   background-color: transparent;
// }

// .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
//   opacity: 0.04;
// }

// .mdc-text-field .mdc-text-field__input {
//   caret-color: var(--mdc-theme-primary, #26b4ff);
// }

// .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-line-ripple::after {
//   border-bottom-color: var(--spiro);
// }

// .cdk-text-field-autofill-monitored {
//   background-color: #26b4ff;
// }

// .mat-form-field-underline {
//   display: none !important;
// }

.a {
  .mdc-dialog__container {
    border: 2em !important;
  }
}

mat-error {
  font-size: 0.8em;
}

mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  padding: 0;
}

mat-card-content {
  padding: 0;
}

/* 
// spinner code

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #a3a4a6;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
*/
