@use "@angular/material" as mat;
@use "./scss/global.scss";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@include mat.core();

$HRMS_Appinventiv-primary: mat.define-palette(mat.$indigo-palette);
$HRMS_Appinventiv-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$HRMS_Appinventiv-warn: mat.define-palette(mat.$red-palette);

$HRMS_Appinventiv-theme: mat.define-light-theme(
  (
    color: (
      primary: $HRMS_Appinventiv-primary,
      accent: $HRMS_Appinventiv-accent,
      warn: $HRMS_Appinventiv-warn,
    ),
  )
);

@include mat.all-component-themes($HRMS_Appinventiv-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-break: break-word;
}

//mat form field css class
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  width: unset;
}

.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
  opacity: 0.04;
}

.mdc-text-field .mdc-text-field__input {
  caret-color: var(--mdc-theme-primary, #26b4ff);
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-line-ripple::after {
  border-bottom-color: var(--spiro);
}

.cdk-text-field-autofill-monitored{
  background-color: #26b4ff;
}

.mat-form-field-underline{
  display: none !important;
}

mat-error {
  font-size: 0.8em;
}

mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none;
  margin: 0;
  padding: 0;
}

mat-card-content {
  padding: 0;
}

//snack bar custom class
.green-snackbar {
  &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: green !important;
  }
  &.mat-mdc-snack-bar-container .mdc-snackbar__label {
   color: white;
    &::before {
      content: "✔";
    }
  }
}
.red-snackbar {
  &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }
  &.mat-mdc-snack-bar-container .mdc-snackbar__label {
    color: white;
    &::before {
      content: "✗";
    }
  }
}

//scroll bar
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
  border-radius: 15px;
  &:hover {
    background: gray;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

//mat-list

.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
}

// mat accordian

.mat-expansion-panel-header-description {
  display: none !important;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-expansion-indicator ::after {
  transform: rotate(-180deg) !important;
}

.mat-expansion-panel-header {
  padding: 0.5em 1.1em !important;
}
.mat-expansion-panel-header {
  height: auto !important;
}
.mat-expansion-panel-header-title {
  margin-right: none !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

//common scss

.col-1 {
  display: grid;
  grid-template-columns: auto;
}
.col-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.col-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

// .owl-carousel - This is the main class that you should add to the container element for your carousel.

// .owl-theme - This class is used in conjunction with the .owl-carousel class to apply a default theme to your carousel.

// .owl-item - This class is applied to each slide in the carousel.

// .owl-nav - This class is used to create the navigation buttons for the carousel.

// .owl-prev and .owl-next - These classes are used to style the navigation buttons.

// .owl-dots - This class is used to create the pagination dots for the carousel.

// .owl-dot - This class is applied to each pagination dot.

// .owl-video - This class is used to create a video slide in the carousel.

// .owl-video-play-icon - This class is used to style the video play icon.

// .owl-video-tn - This class is used to create a thumbnail for the video slide.

// .owl-video-frame - This class is used to create the video iframe.

// .owl-prev , .owl-next{
//   background-color: #f4f9ff !important;
//   border-radius: 50% !important;
//   color: var(--spiro) !important;
//   font-size: 2em !important;
// }

// .owl-nav{
//   position: absolute;
//   top: -50px ;
//   right: 0;
// }
