.module-title {
  font-size: 1.6em;
  color: #199cff;
  line-height: 1.2;
  font-weight: 550;
  margin-bottom: 30px !important;
}

.card-title {
  font-size: 1.3em;
  color: #231e1e;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  word-spacing: 0.05em;
}

.table-title {
  font-size: 20px;
  color: #3246d3 !important;
  padding: 11px 25px 11px 15px;
  border-bottom: 1px solid #f3f7fc;
  font-weight: 500;
}

.button-primary {
  background: #199cff !important;
  color: #ffffff !important;
}
.button-cancel {
  border: 1.5px solid rgba(150, 165, 184, 0.5) !important;
  background-color: #ffffff !important;
  color: #96a5b8 !important;
}

.add-button {
  background: transparent;
  box-shadow: 0 0 0 1px #26b4ff inset;
  color: #26b4ff !important;
  border-radius: 0 !important;
  height: 1.5em !important;
  width: 2em;
  padding: 0;
}

.dash_heading {
  font-size: 25px;
  color: #606167;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 1em;
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  mat-card-title {
    background-color: #ffffff;
    z-index: 1;
    margin: 4px 5px;
  }
}

.dash_heading:after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px dashed #96a5b8;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c-label {
  font-size: 14px;
  font-weight: 400;
  color: #2f3031 !important;
  margin-bottom: 5px !important;
}

.c-2-label {
  font-size: 14px;
  color: #96a5b8 !important;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 5px !important;
  white-space: pre-wrap;
}

//common paddings
.p-24 {
  padding: 24px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-14 {
  padding: 14px;
}

.p-16 {
  padding: 16px;
}
