.module-title {
  font-size: 1.6em;
  color: #199cff;
  line-height: 1.2;
  font-weight: 550;
  margin-bottom: 30px !important;
}

.card-title {
  font-size: 1.3em;
  color: #231e1e;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  word-spacing: 0.05em;
}
