//snack bar custom class
.green-snackbar {
  &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #20c997 !important;
  }

  &.mat-mdc-snack-bar-container .mdc-snackbar__label {
    color: white;

    &::before {
      content: "✔";
    }
  }
}

.red-snackbar {
  display: none;
  &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #d9534f !important;
  }

  &.mat-mdc-snack-bar-container .mdc-snackbar__label {
    color: white;

    &::before {
      content: "✗";
    }
  }
}

//scroll bar
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
  border-radius: 15px;

  &:hover {
    background: gray;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

mat-form-field {
  width: 100%;

  .mdc-text-field--outlined
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  // .mdc-text-field--outlined:not(
  //     .mdc-text-field--disabled
  //   ).mdc-text-field--focused
  //   .mdc-notched-outline__leading,
  // .mdc-text-field--outlined:not(
  //     .mdc-text-field--disabled
  //   ).mdc-text-field--focused
  //   .mdc-notched-outline__notch,
  // .mdc-text-field--outlined:not(
  //     .mdc-text-field--disabled
  //   ).mdc-text-field--focused
  //   .mdc-notched-outline__trailing {
  //   border-color: var(--spiro);
  // }

  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
  }
  .mat-focused {
    border-color: #d9534f;
  }

  .mat-mdc-text-field-wrapper {
    background-color: white;
    height: 2.7rem;
  }

  .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    background-color: transparent;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    padding-top: 5px;
  }

  .mat-mdc-icon-button {
    --mat-mdc-button-persistent-ripple-color: transparent;
    --mat-mdc-button-ripple-color: transparent;
  }
}
// .mat-mdc-option.mdc-list-item--selected
// {
//   background: #26b4ff !important;
// }

.mdc-menu-surface.mat-mdc-select-panel {
  max-height: 260px !important;
}

// .mat-mdc-radio-button.mat-accent {
//   --mdc-radio-disabled-selected-icon-color: #000;
//   --mdc-radio-disabled-unselected-icon-color: #000;
//   --mdc-radio-unselected-focus-icon-color: #212121;
//   --mdc-radio-unselected-hover-icon-color: #212121;
//   --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
//   --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
//   --mdc-radio-selected-focus-icon-color: #26b4ff !important;
//   --mdc-radio-selected-hover-icon-color: #26b4ff !important;
//   --mdc-radio-selected-icon-color: #26b4ff !important;
//   --mdc-radio-selected-pressed-icon-color: #26b4ff !important;
//   --mat-mdc-radio-ripple-color: #000;
//   --mat-mdc-radio-checked-ripple-color: #26b4ff !important;
// }

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #fff !important;
  // --mdc-checkbox-selected-focus-icon-color: #26b4ff !important;
  // --mdc-checkbox-selected-hover-icon-color: #26b4ff !important;
  // --mdc-checkbox-selected-icon-color: #26b4ff !important;
  // --mdc-checkbox-selected-pressed-icon-color: #26b4ff !important;
  // --mdc-checkbox-unselected-focus-icon-color: #212121;
  // --mdc-checkbox-unselected-hover-icon-color: #212121;
  // --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  // --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  // --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  // --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}


// mat accordion

.mat-expansion-panel-spacing {
  margin: 0 !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-expansion-indicator ::after {
  transform: rotate(-180deg) !important;
}

.mat-expansion-panel-header {
  padding: 0.5em 1.1em !important;
}
.mat-expansion-panel-header {
  height: auto !important;
}
.mat-expansion-panel-header-title {
  margin-right: none !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
}