mat-card {
  padding: 0em 3em 3em 3em;
}

.mat-icon-button {
  background: transparent;
  border: none;
  position: absolute;
}
.icon {
  color: var(--white);
}

a {
  bottom: 21%;
  position: absolute;
  font-size: 0.8rem;
}

@media all and (max-width: 29em) {
  mat-card {
    padding: 0em 1.5em 3em 1.5em;
  }
}

@media all and (max-width: 25.1em) {
  mat-card {
    padding: 0;
  }
}

@media all and (max-width: 17em) {
  mat-form-field {
    max-height: 2.5em;
  }
  a {
    color: #1e70cd;
    font-size: 0.5rem;
    margin-top: 1em;
  }
  .login {
    height: 20px;
    font-size: 1em;
  }
}
