<mat-card [formGroup]="loginForm">
  <mat-card-content>
    <label>Email</label>
    <mat-form-field>
      <input matInput placeholder="Your Email" formControlName="email" />
      <mat-error>{{
        loginForm | getControl : ["email"] | validationCheck : "email"
      }}</mat-error>
    </mat-form-field>
    <label>Password</label>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="mat-icon-button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error>{{
        loginForm | getControl : ["password"] | validationCheck : "password"
      }}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <a [routerLink]="'FORGOT_PASSWORD' | routing">forgot password</a>
  <mat-card-actions>
    <app-ru-button
      [bClass]="'login'"
      bText="login"
      [bIcon]="'person'"
      (btnClick)="login()"
    ></app-ru-button>
  </mat-card-actions>
</mat-card>
