<mat-card [formGroup]="loginForm">
  <div>
    <label>Email</label>
    <mat-form-field>
      <input matInput placeholder="Your Email" formControlName="email" />
      <mat-error>{{
        loginForm | getControl : ["email"] | validationCheck : "email"
      }}</mat-error>
    </mat-form-field>
    <label>Password</label>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your password"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="mat-icon-button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error>{{
        loginForm | getControl : ["password"] | validationCheck : "password"
      }}</mat-error>
    </mat-form-field>
  </div>
  <a [routerLink]="'FORGOT_PASSWORD' | routing">Forgot Password</a>
  <mat-card-actions class="jc-end">
    <button mat-raised-button (click)="login()" color="primary">
      <mat-icon class="icon">person</mat-icon> Login
    </button>
  </mat-card-actions>
</mat-card>
