.popup-wrapper{
    padding:68px 0 18px;
    position: relative;
    .close-popup{
        position: absolute;
        right:40px;
        top:40px;
        z-index:9;
    }
    .popup-inner{
        figure{
            width:145px;
            margin:0 auto;
            @media (max-width: 1280px) {
                width:125px;
            }
            @media (max-width: 1024px) {
                width:100px;
            }
            @media (max-width: 767px) {
                width:75px;
            }
        }
        .already-have{
            margin-bottom:60px;
            p{
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                color: #000000;
                a{
                    font-weight:700;
                    color:#000000;
                }
            }
        }
        .btn-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:28px 0 15px;
            .submit-btn{
                min-width:203px;
                height:45px;
                background: #D55827;
                border-radius: 100px;
                text-align: center; 
                font-family: 'd-dindin-bold';
                font-size: 18px;
                line-height: 25px;
                color:#fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #000000;
            margin-bottom:0;
        }
        .join-text{
            font-family: 'arialregular';
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #575868;
        }
    }
}