<!-- Main Content Start Here -->
<section class="main-content" *ngIf="seriesData">
  <!-- Main Content Banner Start Here -->
  <div class="main-content-banner">
    <div class="container">
      <div class="inner-wrap">
        <div class="tbs-listing">
          <a *ngFor="let tag of parentData?.parentTagsdata"
            >{{ tag.tagLabel }}
          </a>
        </div>
        <div class="content-details">
          <div class="left-content">
            <h1 class="page-title">{{ parentData?.categorytitle }}</h1>
            <p class="time-duration">
              {{ total }} Sections | {{ parentData?.minduration }} -
              {{ parentData?.maxduration }} Minutes for each section
            </p>
            <div class="top-action">
              <app-like
                style="margin-right: 10px"
                [isBorder]="false"
                [moduleName]="parentData.moduleName"
                [liked]="parentData?.isLiked"
                [moduleId]="parentData?.moduleId"
                [contentName]="parentData?.categorytitle"
                [contentType]="parentData?.contenttype"
              ></app-like>
              <app-social-share [isShareUrl]="true"></app-social-share>
              <!-- appClickStopPropagation -->
              <!-- (statusChanged)="statusChangedOfSaved($event)" -->
              <ng-container *ngIf="userLoggedIn">
                <app-bookmark
                  [isBorder]="false"
                  [moduleName]="parentData.moduleName"
                  [saved]="parentData?.isSaved"
                  [moduleId]="parentData?.moduleId"
                  [contentName]="parentData?.categorytitle"
                  [contentType]="parentData?.contenttype"
                ></app-bookmark>
              </ng-container>
            </div>
            <div
              class="left-inner"
              [innerHtml]="parentData?.categorydesc"
            ></div>
          </div>
        </div>
      </div>
      <div class="right-bg">
        <img
          [src]="parentData?.categoryimageData[0]?.url | strapi: 'image'"
          alt="Image"
          width="100%"
          height="100%"
        />
      </div>
      <div class="next-series">
        <div class="sub-content">
          <app-no-data
            *ngIf="total == 0"
            [message]="'No series data added yet...'"
          ></app-no-data>
          <figure>
            <img
              #prev
              src="assets/images/ic_detail_arrowleft.svg"
              alt=""
              class="arroww_icon_left"
            />
          </figure>
          <div
            *ngIf="seriesData?.length"
            class="swiper-container"
            [swiper]="swiperConfig"
          >
            <div class="swiper-wrapper">
              <div
                (click)="routeToSubPart(part)"
                *ngFor="let part of seriesData; let idx = index"
                class="swiper-slide"
              >
                <div
                  class="content-inner no-like-bookmark"
                  [ngClass]="{
                    'status-locked':
                      parentData.completeInSequence && part.isReadable != 1
                  }"
                  tabindex="0"
                >
                  <div class="top-wrp">
                    <h4 class="sec-title">
                      Module {{ idx + 1 | numberToWords }}
                    </h4>
                    <h3>{{ part.title }}</h3>
                  </div>
                  <div class="bottom-info-wrap">
                    <div class="bottom-left">
                      <p class="time">{{ part.duration }} Mins</p>
                    </div>
                    <div
                      class="status-wrap"
                      [ngClass]="{
                        completed: part.isCompleted == 1,
                        'in-progress': part.isInProgress == 1,
                        locked:
                          parentData.completeInSequence && part.isReadable != 1
                      }"
                    >
                      <span>{{
                        part | resourceStatus: parentData.completeInSequence
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <figure>
            <img
              #next
              src="assets/images/ic_detail_arrowleft.svg"
              alt=""
              class="arroww_icon_right"
            />
          </figure>
        </div>
      </div>
      <div *ngIf="seriesData && seriesData.length" class="get-started">
        <div class="inner">
          <button
            (click)="routeToSubPart(seriesData[0])"
            type="button"
            class="primary-btn"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content Banner End Here -->
  <!-- Related Course Start Here -->
  <div class="related-course" *ngIf="relatedArticles.length">
    <div class="container">
      <h2 class="sub-page-title">Related to this course</h2>
      <div class="sub-page-content">
        <div class="flex-related">
          <!-- [appTooltipInfo]="item" -->
          <div
            *ngFor="let item of relatedArticles"
            class="col-4 style-relative"
            (click)="utilityService.goToDetails(item)"
          >
            <!-- <div class="hide content-inner-tooltip">
              <div class="hover-content-tooltip">
                <div class="top-section">
                  <div class="close-wrap">
                    <a
                      ><img
                        class="cross-icon"
                        src="assets/images/close-tooltip.svg"
                        alt="Icon"
                    /></a>
                  </div>
                  <h3>{{ item.title }}</h3>
                </div>
                <div class="sub-info">
                  <div class="top-info">
                    <div class="book-icon">
                      <span
                        *ngIf="item.moduleName == 'SERIESCATEGORIES'"
                        class="small-content"
                      >
                        {{
                          item.minduration + " - " + item.maxduration + " mins"
                        }}
                        {{
                          item.contenttype | contentType: "contentLabel"
                        }}</span
                      >
                      <span
                        *ngIf="item.moduleName == 'SERIESCONTENT'"
                        class="small-content"
                      >
                        {{ item.duration + " " + "mins" }}
                        {{
                          item.contenttype | contentType: "contentLabel"
                        }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="content-description">
                  <p
                    [innerHtml]="
                      item.resourceData && item.resourceData.length
                        ? item.resourceData[0].shortdesc
                        : item.postcontent
                    "
                    class="ck-content"
                  ></p>
                </div>
                <div class="btn-wrap">
                  <button
                    (click)="utilityService.goToDetails(item)"
                    type="button"
                    class="primary-btn"
                  >
                    Let's Go
                  </button>
                </div>
              </div>
            </div> -->
            <!-- <div class="content-inner">
              <div class="info-top">
                <div class="resource-type-icon">
                  <figure>
                    <img
                      [src]="item?.contenttype | contentTypeIcon"
                      alt="Image"
                    />
                  </figure>
                </div>
                <div class="resource-type-content">
                  <h3>{{ item?.title }}</h3>
                </div>
              </div>

              <div class="bottom-info">
                <div class="left-info">
                  <p class="time">
                    {{ item?.minduration + " - " + item?.maxduration }} mins
                    {{
                      item?.contenttype === contentType.video ? "watch" : "read"
                    }}
                  </p>
                </div>
                <div class="right-info">
                  <app-like
                    [hideLikeCount]="false"
                    appClickStopPropagation
                    [liked]="item?.moduleId"
                    [moduleId]="item?.moduleId"
                    [moduleName]="item?.moduleName"
                  >
                  </app-like>
                </div>
              </div>
            </div> -->
            <app-content-card [item]="item"></app-content-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Related Course End Here -->
</section>
<!-- Main Content End Here -->
