// @import '~swiper/dist/css/swiper.min.css';

.main-content {
  .page-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 46px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }
  .more-content {
    font-size: 30px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 0;
    @media (max-width: 1024px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  .main-content-banner {
    min-height: calc(100vh - 105px);
    margin-top: 105px;
    padding-bottom: 40px;
    background-color: #f4f3ef;
    background-size: contain;
    overflow: hidden;
    @media (max-width: 767px) {
      margin-top: 56px;
      padding: 15px 0 15px;
      min-height: auto;
    }
    .container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      @media (max-width: 767px) {
        min-height: auto;
      }
      .inner-wrap {
        width: 100%;
      }
    }
    .right-bg {
      width: 606px;
      height: 100%;
      position: absolute;
      right: -154px;
      top: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      @media (max-width: 1280px) {
        width: 506px;
      }
      @media (max-width: 1024px) {
        width: 406px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  .top-action {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    a {
      margin-right: 10px;
    }
  }
  .content-details {
    display: flex;
    margin: 0 0 25px;
    .left-content {
      a {
        color: #1a76d2;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .left-content {
      max-width: 50%;
      flex: 0 50%;
      font-size: 18px;
      line-height: 1.4;
      @media (max-width: 767px) {
        max-width: 100%;
        flex: 0 100%;
      }
      .left-inner {
        font-size: 20px;
        line-height: 28px;
        color: #000000;
        @media (max-width: 767px) {
          font-size: 18px;
          font-weight:400;
          line-height: 1.5;
        }
      }
    }
    .get-started {
      max-width: 50%;
      flex: 0 50%;
      padding: 0 15px;
      @media (max-width: 767px) {
        max-width: 100%;
        flex: 0 100%;
      }
      .inner {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 40px;
          font-weight: 700;
          line-height: 1.2;
          color: #000;
          margin-bottom: 20px;
          @media (max-width: 1280px) {
            font-size: 36px;
          }
          @media (max-width: 1024px) {
            font-size: 30px;
            margin-bottom: 15px;
          }
          @media (max-width: 875px) {
            font-size: 24px;
            margin-bottom: 10px;
          }
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 1.2;
      &.time-duration {
        font-size: 16px;
        line-height: 25px;
        color: #4c4c4c;
      }
    }
  }
  .related-course {
    padding: 25px 0;
    display: flex;
    align-items: center;
  }
  .sub-content {
    padding: 10px 0 5px;
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 1024px) {
      padding: 10px 30px 15px;
    }
    @media (max-width: 767px) {
      padding: 10px 0 5px;
    }
    .content-inner {
      width: 247px;
      height: 116px;
      position: relative;
      padding: 15px 12px 15px 30px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 16px;
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;
      &.status-locked {
        h3 {
          color: #828282;
        }
        p {
          color: #828282;
        }
        h4 {
          color: #828282;
        }
      }
      .status-wrap {
        min-width: 93px;
        height: 24px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 12px;
          line-height: 14px;
          font-family: "arialbold";
        }
        &.completed {
          background: #e9f7ef;
          span {
            color: #219653;
            font-weight: 700;
          }
        }
        &.in-progress {
          background: #fef6dd;
          span {
            color: #765f13;
          }
        }
        &.locked {
          background: #f2f2f2;
          span {
            color: #000000;
          }
        }
      }
      @media (max-width: 767px) {
        height: 104px;
        padding: 15px 20px 10px;
      }
      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.1;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 4px;
        cursor: pointer;
      }
      p {
        font-family: "arialregular";
        font-size: 12px;
        line-height: 25px;
        color: #4c4c4c;
      }
      h4 {
        font-family: "arialregular";
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 0;
      }
    }
  }
  .sub-page-title {
    font-size: 30px;
    @media (max-width: 1280px) {
      font-size: 28px;
    }
    @media (max-width: 1024px) {
      font-size: 24px;
    }
    @media (max-width: 875px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  .sub-page-content {
    .content-inner {
      height: 180px;
      padding: 27px;
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 16px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      h3 {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 0;
        cursor: pointer;
      }
      .time {
        font-family: "arialregular";
        font-size: 12px;
        line-height: 13px;
        color: #575868;
      }
      .listing-tbs {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 15px;
        a {
          padding: 5px 15px;
          background: #fff;
          font-size: 13px;
          font-weight: 600;
          color: #000;
          white-space: nowrap;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
}
.bottom-info-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .bottom-left {
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  .bottom-right {
    display: flex;
    align-items: center;
  }
}
.bottom-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-info {
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  .right-info {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 10px;
    }
  }
}

.flex-row-wrap {
  white-space: nowrap;
  overflow-x: auto;
  overflow: hidden;
  .col-item {
    width: 325px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}

.wrap-slider {
  position: relative;
  padding: 0 30px;
  overflow-x: auto;
  .arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

:host ::ng-deep {
  .content-details {
    .left-content {
      a {
        color: #1a76d2;
      }
    }
  }
  .swiper-slide {
    width: 247px !important;
  }
  .sub-content {
    app-no-data {
      .no-data-found {
        max-width: 250px;
      }
    }
  }
  .swiper-wrapper {
    .swiper-slide {
      @media (max-width: 767px) {
        width: 247px !important;
        margin-right: 15px;
      }
    }
  }
}
.style-relative {
  position: relative;
}
.close-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
}

//swiper
// .swiper-container{
//     display: flex;
//     .swiper-wrapper{
//         display: flex;
//     }
// }
.arroww_icon_left {
  position: absolute;
  top: 50%;
  left: -45px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 1;
  transform: translate(0, -50%);
  @media (max-width: 1024px) {
    left: -10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.arroww_icon_right {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: rotate(-180deg);
  transform: translate(0, -57%) rotate(-180deg);
  right: -45px;
  cursor: pointer;
  z-index: 1;
  @media (max-width: 1024px) {
    right: -10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
  display: none !important;
}

.info-top {
  display: flex;
  align-items: flex-start;
  .resource-type-icon {
    width: 72px;
    height: 72px;
  }
  .resource-type-content {
    width: calc(100% - 72px);
    padding-left: 15px;
    h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      cursor: pointer;
      margin-bottom: 10px;
      color: #575868;
      cursor: pointer;
    }
  }
}
.flex-related {
  display: flex;
  flex-wrap: wrap;
  .col-4 {
    width: 387px;
    margin: 0 30px 30px 0;
    @media (max-width: 1160px) {
      max-width: 33.33%;
      width: initial;
      flex: 0 33.33%;
    }
    @media (max-width: 767px) {
      height: 100%;
      max-width: 100%;
      flex: 0 100%;
      padding: 0 15px;
      margin-bottom: 0;
    }
    .content-inner {
      height: 195px;
      @media (max-width: 767px) {
        width: 314px;
        height: 166px;
        margin: 0 auto 15px;
        padding: 30px 15px 15px;
      }
    }
  }
}
