.main-content {
  padding: 105px 0 50px;
  @media (max-width: 767px) {
    min-height: auto;
    padding: 56px 0 15px;
  }
  .dashboard-banner {
    height: 573px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    @media (max-width: 767px) {
      height: auto;
    }
    .dashboard-left {
      width: 100%;
      height: 417px;
      background: #f1f0ec;
      position: absolute;
      top: 78px;
      .inner-left-dashboard {
        width: 855px;
        height: 417px;
        padding: 0 50px;
        background: #f1f0ec;
        position: absolute;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
        @media (max-width: 1024px) {
          width: 75%;
        }
        @media (max-width: 767px) {
          height: auto;
          padding: 15px;
          background: rgb(241,240,236, 0.8);
          position: relative;
          margin: 0 -15px;
        } 
      }
    }
  }
  .dashboard-wrapper {
    height: 573px;
    display: flex;
    position: relative;
    @media (max-width: 767px) {
      display: block;
      height: 314px;
      margin: 0 -15px;
    }
    .dashboard-left {
      width: 700px;
      padding: 30px 30px 0 15px;
      @media (max-width: 1280px) {
        width: 750px;
      }
      @media (max-width: 1100px) {
        width: 680px;
      }
      @media (max-width: 1024px) {
        width: 650px;
      }
      @media (max-width: 940px) {
        width: 495px;
      }
      @media (max-width: 767px) {
        min-height: auto;
        width: calc(100% - 40px);
        padding: 28px 30px 10px 50px;
        position: absolute;
        background: rgba(246, 245, 242, 0.95);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 8;
      }
    }
    .dashboard-right {
      width: 606px;
      height: 100%;
      position: absolute;
      right: -154px;
      top: 0;
      background: url("../../../../assets/images/dashboard-bg.png");
      @media (max-width: 1280px) {
        width: 506px;
      }
      @media (max-width: 1024px) {
        width: 406px;
      }
      @media (max-width: 767px) {
        width: 100%;
        height: 314px;
        right: 0;
        background-size: cover;
      }
      .card-img {
        width: 100%;
        height: 200px;
        padding: 30px;
        background: url("../../../../assets/images/dashboard-card-bg.png")
          no-repeat;
        background-size: 100% 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .top-alignment {
    padding: 40px 15px 0;
    background: #fff;
  }
  .page-title {
    font-size: 45px;
    font-weight: 600;
    line-height: 63px;
    color: #000000;
    margin-bottom: 10px;
    @media (max-width: 1280px) {
      font-size: 40px;
      line-height: 1.2;
    }
    @media (max-width: 1024px) {
      font-size: 30px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  .page-description {
    font-size: 20px;
    line-height: 28px;
    color: #575868;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 18.75px;
    }
  }
  .top-flex {
    display: flex;
    align-items: flex-start;
    .top-action {
      display: flex;
      align-items: center;
      margin-top: 7px;
      a {
        margin-right: 10px;
      }
    }
    .tbs-listing {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
      a {
        padding: 5px 15px;
        background: #eef3f7;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
        margin: 0 10px 10px 0;
      }
    }
  }

  .content-details {
    padding: 50px;
    background: #eef3f7;
    border-radius: 15px;
    margin-bottom: 25px;
    .info-wrap {
      max-width: 85%;
      margin: 0 auto 25px auto;
      h3 {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
      }
    }
    .video-wrap {
      max-width: 790px;
      height: 430px;
      margin: 0 auto;
      border-radius: 15px;
      background: #fff;
      position: relative;
      .play-pause-btn {
        width: 142px;
        height: 142px;
        background-color: #c4c4c4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      margin-bottom: 25px;
    }
    .view-information {
      font-size: 13px;
      text-align: center;
      color: #000;
      a {
        color: #64aee5;
        text-decoration: underline;
      }
    }
  }
  .sub-content {
    .content-inner {
      padding: 15px;
      background: #eef3f7;
      border-radius: 10px;
      margin-bottom: 25px;
      h3 {
        font-size: 22px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .sub-page-title {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;
    @media (max-width: 1024px) {
      font-size: 24px;
    }
    @media (max-width: 1024px) {
      font-size: 20px;
    }
    @media (max-width: 1024px) {
      margin: 15px 0 10px;
    }
  }
  .video-slider {
    max-width: 790px;
    margin: 0 auto 15px;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    position: relative;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    border-radius: 15px;
    h3 {
      font-size: 30px;
      line-height: 47.66px;
      font-weight: 700;
      text-align: center;
    }
    p {
      font-size: 16px;
      line-height: 25.92px;
      color: #4c4c4c;
      text-align: center;
    }

    .slider-wrap {
      width: 100%;
      height: 430px;
      overflow: hidden;
      @media (max-width: 1024px) {
        height: 400px;
      }
      @media (max-width: 767px) {
        height: 340px;
      }
      video {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .completed-wrap {
    padding: 25px 15px;
    .content-inner {
      height: 220px;
      padding: 15px;
      background: #eef3f7;
      border-radius: 10px;
      margin-bottom: 25px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      .bottom-wtap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          img {
            margin-right: 5px;
          }
        }
        .right {
          display: flex;
          align-items: center;
        }
      }
      .info-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 100px;
        margin-right: 5px;
        a {
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          position: relative;
          right: 5px;
        }
      }
      &.mb-0 {
        margin-bottom: 0;
      }
      h3 {
        font-size: 22px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 0;
      }
      .time {
        font-size: 13px;
        color: #4c4c4c;
      }
      .listing-tbs {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 15px;
        a {
          padding: 5px 15px;
          background: #fff;
          font-size: 13px;
          font-weight: 600;
          color: #000;
          white-space: nowrap;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
  .top-content {
    width: 100%;
    display: flex;
    margin: 15px -15px 30px;
    @media (max-width: 767px) {
      flex-direction: column;
      margin: 0 0 30px;
    }
    .content-left {
      width: calc(100% - 360px);
      padding: 0 15px;
      @media (max-width: 767px) {
        width: 100%;
      }
      .content-inner {
        height: 100%;
        padding: 15px;
        background: #eef3f7;
        border-radius: 10px;
        margin-bottom: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        .info-right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: 30px;
          height: 30px;
          background-color: #fff;
          border-radius: 100px;
          margin-right: 5px;
          a {
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            position: relative;
            right: 5px;
          }
        }
        .bottom-wtap {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .left {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
          }
          .right {
            display: flex;
            align-items: center;
          }
        }
        &.mb-0 {
          margin-bottom: 0;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
          margin-bottom: 0;
        }
        .time {
          font-size: 13px;
          color: #4c4c4c;
        }
        .listing-tbs {
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;
          margin-bottom: 15px;
          a {
            padding: 5px 15px;
            background: #fff;
            font-size: 13px;
            font-weight: 600;
            color: #000;
            white-space: nowrap;
            margin: 0 10px 10px 0;
          }
        }
      }
    }

    .content-left-card {
      width: calc(100% - 387px);
      height: 408px;
      padding: 0 15px;
      @media (max-width: 1280px) {
        height: 350px;
      }
      @media (max-width: 767px) {
        width: 100%;
        height: 253px;
        margin-bottom: 15px;
        padding: 0;
      }
      .left-card-inner {
        height: 100%;
        padding: 20px;
        background: #fff;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media (max-width: 767px) {
          margin-bottom: 15px;
        }
        h3 {
          font-size: 22px;
          line-height: 1.2;
          font-weight: 700;
          color: #000000;
          @media (max-width: 1280px) {
            font-size: 20px;
          }
          @media (max-width: 1024px) {
            font-size: 18px;
          }
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
        .basic-info {
          display: flex;
          align-items: center;
          .box-circle {
            width: 169px;
            height: 169px;
            border-radius: 50%;
            background: #cce6e1;
            box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.02),
              -8px -8px 20px 10px rgba(199, 199, 199, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media (max-width: 767px) {
              width: 110px;
              height: 110px;
            }
            span {
              font-weight: bold;
              font-size: 20px;
              line-height: 1.4;
              color: #000;
              @media (max-width: 767px) {
                font-size: 16px;
                line-height: 1.2;
              }
            }
          }
        }
        .content-info {
          width: calc(100% - 170px);
          padding-left: 40px;
          @media (max-width: 767px) {
            padding-left: 20px;
            width: calc(100% - 110px);
          }
          h4 {
            font-size: 40px;
            line-height: 1.2;
            color: #000000;
            @media (max-width: 1280px) {
              font-size: 28px;
            }
            @media (max-width: 1024px) {
              font-size: 24px;
            }
            @media (max-width: 767px) {
              font-size: 20px;
            }
          }
        }
        .bottom-info {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin-bottom: 0;
          }
          .info-right {
            display: flex;
            align-items: center;
            margin-left: 15px;
            .bookmark-wrap {
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 100px;
              margin-right: 5px;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
              }
            }
            .like-wrap {
              align-items: center;
              justify-content: center;
              min-width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 100px;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .content-right-card {
      width: 387px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      @media (max-width: 767px) {
        width: 100%;
        padding: 0;
      }
      .right-card-inner {
        width: 100%;
        height:195px;
        padding: 20px;
        border: 1px solid #eeeeee;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h3 {
          font-size: 24px;
          line-height: 1.2;
          font-weight: 700;
          color: #000000;
          @media (max-width: 1024px) {
            font-size: 20px;
          }
        }
        .basic-info {
          display: flex;
          align-items: center;
          .box-circle {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background: #fbdb70;
            box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.02),
              -8px -8px 20px 10px rgba(199, 199, 199, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media (max-width: 767px) {
              width: 110px;
              height: 110px;
            }
            span {
              font-weight: bold;
              font-size: 14px;
              line-height: 1.2;
              color: #ffffff;
            }
          }
        }
        .content-info {
          width: calc(100% - 54px);
          padding-left: 15px;
          @media (max-width: 767px) {
            width: calc(100% - 110px);
            padding-left: 20px;
          }
          h4 {
            font-size: 30px;
            line-height: 1.2;
            color: #000000;
            @media (max-width: 1024px) {
              font-size: 24px;
            }
            @media (max-width: 767px) {
              font-size: 20px;
            }
          }
        }
        .bottom-info {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin-bottom: 0;
          }
          .info-right {
            display: flex;
            align-items: center;
            margin-left: 15px;
            .bookmark-wrap {
              display: flex;
              align-items: center;
              justify-content: center;
              min-width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 100px;
              margin-right: 5px;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
              }
            }
            .like-wrap {
              align-items: center;
              justify-content: center;
              min-width: 30px;
              height: 30px;
              background-color: #fff;
              border-radius: 100px;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .sub-page-content {
    &.mb-30 {
      margin-bottom: 30px;
    }
    .content-inner {
      height: 200px;
      padding: 15px;
      background: #eef3f7;
      border-radius: 10px;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      h3 {
        font-size: 22px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 0;
      }
      .time {
        font-size: 13px;
        color: #4c4c4c;
      }
      .listing-tbs {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        a {
          padding: 5px 15px;
          background: #fff;
          font-size: 13px;
          font-weight: 600;
          color: #000;
          white-space: nowrap;
          margin: 0 10px 10px 0;
        }
      }
    }
  }
}
.sub-content {
  .right-card-inner {
    height: 100%;
    padding: 20px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 10px 10px 0px #fce082;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
    h3 {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 700;
      color: #000000;
      @media (max-width: 1024px) {
        font-size: 20px;
      }
    }
    .basic-info {
      display: flex;
      align-items: center;
      .box-circle {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background: #fbdb70;
        box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.02),
          -8px -8px 20px 10px rgba(199, 199, 199, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        span {
          font-weight: bold;
          font-size: 14px;
          line-height: 1.2;
          color: #ffffff;
        }
      }
    }
    .content-info {
      width: calc(100% - 54px);
      padding-left: 15px;
      h4 {
        font-size: 30px;
        line-height: 1.2;
        color: #000000;
      }
    }
    .bottom-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
      .info-right {
        display: flex;
        align-items: center;
        margin-left: 15px;
        .bookmark-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 30px;
          height: 30px;
          background-color: #fff;
          border-radius: 100px;
          margin-right: 5px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
          }
        }
        .like-wrap {
          align-items: center;
          justify-content: center;
          min-width: 30px;
          height: 30px;
          background-color: #fff;
          border-radius: 100px;
          margin-right: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  .top-content {
    app-content-card {
      .content-inner {
        height: calc(50% - 12px);
      }
      .content-left {
        .content-inner {
          display: block;
        }
      }
      .top-info {
        width: 100%;
      }
    }
  }
  .flex-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .outline-btn {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      transition: 0.3s ease-in;
      background: #fff;
      &:hover {
        color: #e7825b;
      }
    }
  }
}
.btn-right {
  position: absolute;
  right: 0;
  top: -50px;
  .view-all {
    font-size: 17px;
    font-family: "arialbold";
    line-height: 20px;
    text-decoration: underline;
    color: #d55827;
    transition: 0.3s ease-in;
    background: #fff;
  }
}

:host ::ng-deep {
  .main-content {
    .mat-tab-body-wrapper {
      overflow: visible;
    }
    .mat-tab-body.mat-tab-body-active {
      overflow-x: visible;
      overflow-y: visible;
    }
    .mat-tab-body-content {
      overflow: visible;
    }
    .content-left-card {
      .big-card {
        .content-left {
          .content-inner {
            min-height: 460px;
          }
        }
      }
    }
  }
}

.slider_sec_wrapper {
  overflow: hidden;
  .property_card_img_wrapper {
    width: 100% !important;
    height: 300px !important;
    position: relative;
    overflow: hidden;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
      background: #00000069;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      .btn_empty {
        padding: 10px 20px;
        color: #fff;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
    &:hover {
      .overlay {
        top: 0;
        transition: all 0.4s ease;
      }
    }
  }
}
.text-right {
  text-align: right;
  a {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
}
.courses-title {
  font-family: "d-din_condensedregular";
  font-size: 40px;
  color: #000000;
  position: relative;
  top: 52px;
  @media (max-width: 1280px) {
    font-size: 30px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 767px) {
    top: 0;
    font-size: 20px;
    line-height: 21.72px;
    font-weight: 700;
  }
}
:host ::ng-deep {
  .mat-ink-bar.mat-ink-bar {
    background: transparent !important;
  }
  .mat-tab-label {
    &.mat-tab-label-active {
      &:before {
        width: 69px;
        height: 3px;
        background: #d55827;
        position: absolute;
        content: "";
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }
  .main-content {
    @media (max-width: 767px) {
      .content-inner {
        height: 104px;
        justify-content: center;
        .resource-type-content {
          h3 {
            font-family: "d-dindin-bold";
            font-size: 16px;
            line-height: 17.38px;
            color: #000;
          }
          .ck-content {
            display: none;
          }
        }
      }
      .info-top {
        .resource-type-icon {
          display: none;
        }
        .resource-type-content {
          width: 100%;
          padding: 0 20px;
        }
      }
      .bottom-info-wrap {
        padding: 0 20px;
        .bottom-right {
          display: none !important;
        }
        .bottom-left {
          .time {
            font-size: 14px;
            line-height: 25px;
            color: #4c4c4c;
          }
        }
      }
    }
  }
  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none;
  }
  .mat-tab-label {
    padding: 0;
    min-width: auto;
    margin-right: 30px;
    opacity: 1 !important;
    .mat-tab-label-content {
      color: #444444;
      font-size: 24px;
      line-height: 45px;
      @media (max-width: 1024px) {
        font-size: 20px;
        line-height: 1.2;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    &.mat-tab-label-active {
      .mat-tab-label-content {
        color: #d55827;
      }
    }
  }
  .mat-ink-bar {
    height: 3px;
    border-radius: 100px;
    bottom: 0;
    margin: 0 auto;
  }

  .slider_sec_wrapper {
    .swiper-container {
      max-height: 240px;
    }
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-button-next {
      display: none;
    }
    .swiper-slide {
      border-radius: 15px;
    }
    .swiper-wrapper {
      height: 238px;
    }
  }
}

.completed-wrap {
  .col-4 {
    position: relative;
    .completed-circle {
      width: 69px;
      height: 69px;
      border-radius: 50%;
      background: #fbdb70;
      box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.02);
      position: absolute;
      top: -25px;
      right: -10px;
      z-index: 99;
      @media (max-width: 1280px) {
        width: 59px;
        height: 59px;
      }
      @media (max-width: 1024px) {
        width: 49px;
        height: 49px;
      }
      @media (max-width: 767px) {
        right: 0;
        width: 29px;
        height: 29px;
        top: -10px;
      }
    }
  }
}

.swiper-slide {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center center;
}

.title-sec {
  font-size: 32px;
  font-weight: normal;
  line-height: 60px;
  color: #000000;
  margin-bottom: 0;
}
.main-content {
  .top-content {
    &.completed-tabs {
      .content-left-card {
        width: calc(100% - 387px);
        height: 408px;
        padding: 0 15px;
        @media (max-width: 1280px) {
          height: 340px;
        }
        @media (max-width: 767px) {
          width: 100%;
          height: 260px;
          margin-bottom: 15px;
          padding: 0;
        }
        .left-card-inner {
          height: 100%;
          padding: 20px;
          background: #fff;
          border: 1px solid #eeeeee;
          box-sizing: border-box;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          border-radius: 16px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          position: relative;
          @media (max-width: 767px) {
            margin-bottom: 15px;
          }
          .primary-btn {
            font-size: 18px;
            line-height: 25px;
            color: #fff;
          }
          h3 {
            font-size: 22px;
            line-height: 41px;
            color: #000000;
            margin-bottom: 0;
            @media (max-width: 1280px) {
              font-size: 20px;
              line-height: 1.2;
            }
            @media (max-width: 1024px) {
              font-size: 18px;
            }
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
          .basic-info {
            display: flex;
            align-items: flex-start;
            height: 100%;
            position: relative;
            z-index: 9;
            .box-circle {
              width: 200px;
              height: 200px;
              border-radius: 50%;
              background: #cce6e1;
              box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.02),
                -8px -8px 20px 10px rgba(199, 199, 199, 0.05);
              position: absolute;
              top: 7px;
              left: 0;
              flex-direction: column;
              @media (max-width: 767px) {
                width: 110px;
                height: 110px;
              }
              span {
                font-weight: bold;
                font-size: 20px;
                line-height: 1.4;
                color: #000;
                @media (max-width: 767px) {
                  font-size: 16px;
                  line-height: 1.2;
                }
              }
            }
          }
          .content-info {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px 25px 0 75px;
            position: relative;
            h4 {
              font-family: "arialregular";
              font-size: 22px;
              line-height: 25px;
              color: #000000;
              margin: 0 0 10px;
            }
          }
          .bottom-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              margin-bottom: 0;
            }
            .info-right {
              display: flex;
              align-items: center;
              margin-left: 15px;
              .bookmark-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 100px;
                margin-right: 5px;
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 5px;
                }
              }
              .like-wrap {
                align-items: center;
                justify-content: center;
                min-width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 100px;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
      .content-right-card {
        width: 387px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media (max-width: 767px) {
          width: 100%;
          padding: 0;
        }
        .right-card-inner {
          width: 100%;
          height: 195px;
          padding: 20px;
          border: 1px solid #eeeeee;
          background: #fff;
          box-sizing: border-box;
          box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
          border-radius: 16px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          position: relative;
          @media (max-width: 767px) {
            height: 253px;
            margin-bottom: 15px;
          }
          &:first-child {
            margin-bottom: 30px;
            @media (max-width: 767px) {
              margin-bottom: 15px;
            }
          }
          h3 {
            font-size: 22px;
            line-height: 41px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 0;
            @media (max-width: 1024px) {
              font-size: 20px;
            }
          }
          .basic-info {
            display: flex;
            align-items: center;
            height: 100%;
            .box-circle {
              width: 126px;
              height: 126px;
              border-radius: 50%;
              background: #e9f7ef;
              position: absolute;
              left: 17px;
              top: 30px;
              @media (max-width: 767px) {
                width: 110px;
                height: 110px;
              }
              span {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.2;
                color: #ffffff;
              }
            }
          }
          .content-info {
            width: 100%;
            height: 100%;
            padding: 30px 0 15px 40px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4 {
              font-size: 18px;
              line-height: 20px;
              color: #000000;
              margin-bottom: 0;
            }
          }
          .bottom-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              margin-bottom: 0;
            }
            .info-right {
              display: flex;
              align-items: center;
              margin-left: 15px;
              .bookmark-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 100px;
                margin-right: 5px;
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 5px;
                }
              }
              .like-wrap {
                align-items: center;
                justify-content: center;
                min-width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 100px;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.saved-liked-wrap {
  padding: 40px 15px 15px;
  background: #f1f0ec;
  .sub-page-title {
    font-size: 32px;
    line-height: 60px;
    color: #000000;
  }
  .view-links {
    font-family: "arialbold";
    font-size: 17px;
    line-height: 20px;
    text-decoration: underline;
    color: #d55827;
    border: none;
    background: transparent;
  }
}

.desc-wrap {
  &.short-content {
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }
}

.no-data-found{
  max-width:360px;
  margin:0 auto 25px;
  
  figure {
      margin: 0 auto 15px;
      @media (max-width: 1280px) {
          width: 300px;
      }
      @media (max-width: 1024px) {
          width: 260px;
      }
      @media (max-width: 767px) {
          width: 200px;
      }
  }
  p{
    font-family: 'arialregular';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    a{
      color:#1a76d2;
      text-decoration: underline;
    }
  }
}