<section class="main-content">
  <div class="dashboard-banner">
    <div class="dashboard-left">
      <div class="container">
        <div class="inner-left-dashboard">
          <h1 class="page-title">
            Welcome back,
            {{
              profileData && profileData?.firstName
                ? (profileData?.firstName | titlecase)
                : "User"
            }}
          </h1>
          <p class="page-description">
            See what you’ve already completed and what you have in progress.
            Find more resources and support under Discover.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="dashboard-wrapper">
        <div class="dashboard-right"></div>
      </div>
    </div>
  </div>
  <div class="container top-alignment">
    <!-- <h3 class="title-sec">Courses</h3> -->
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="In Progress">
        <div class="btn-right text-right">
          <a
            *ngIf="inProgressContentList?.length > 0"
            [routerLink]="['INPROGRESS_RESOURCES' | absolutePath]"
            class="view-all"
          >
            View All
          </a>
        </div>
        <div *ngIf="inProgressContentList?.length > 0" class="top-content">
          <div
            (click)="goToDetails(inProgressContentList[0], true)"
            class="content-left-card"
          >
            <div class="left-card-inner" tabindex="0">
              <h3>
                {{ inProgressContentList[0]?.parentData[0]?.categorytitle }}
              </h3>
              <div class="basic-info">
                <div class="box-circle">
                  <img
                    style="width: 100%; height: 100%; border-radius: 50%"
                    *ngIf="
                      inProgressContentList[0] &&
                        inProgressContentList[0].parentImageData[0] &&
                        inProgressContentList[0].parentImageData[0].url;
                      else elseBlock
                    "
                    [src]="
                      inProgressContentList[0]?.parentImageData[0].url
                        | strapi: 'image'
                    "
                    alt="logo"
                  />
                  <ng-template #elseBlock>
                    <span>Encouraging Illustration</span>
                  </ng-template>
                </div>
                <div class="content-info">
                  <h4>
                    {{
                      inProgressContentList[0]
                        .completedresourcescountunderparent
                    }}/{{
                      inProgressContentList[0].totalresourcescountunderparent
                    }}
                    Completed
                  </h4>
                  <button
                    (click)="goToDetails(inProgressContentList[0], true)"
                    type="button"
                    class="primary-btn"
                  >
                    Continue
                  </button>
                </div>
              </div>
              <div class="bottom-info">
                <p>
                  {{
                    moduleType.SERIESCATEGORIES ===
                    inProgressContentList[0].moduleName
                      ? inProgressContentList[0]?.parentData[0]?.minduration +
                        " - " +
                        inProgressContentList[0]?.parentData[0]?.maxduration
                      : inProgressContentList[0].duration
                  }}
                  mins
                  {{
                    contentType.video === inProgressContentList[0].contenttype
                      ? "watch"
                      : "read"
                  }}
                </p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <!-- commented -->
                    <!-- <app-bookmark
                  appClickStopPropagation
                  [moduleId]="inProgressContentList[0].moduleId"
                  [moduleName]="inProgressContentList[0].moduleName"
                  >

                  </app-bookmark> -->
                    <!-- <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a> -->
                  </div>
                  <div class="like-wrap">
                    <app-like
                      (statusChanged)="statusChangedLike()"
                      appClickStopPropagation
                      [moduleId]="inProgressContentList[0].moduleId"
                      [moduleName]="inProgressContentList[0].moduleName"
                      [hideLikeCount]="false"
                      [liked]="inProgressContentList[0]?.isLiked"
                    ></app-like>
                    <!-- <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-right-card">
            <div
              *ngFor="
                let item of inProgressContentList
                  | slice
                    : 1
                    : (inProgressContentList.length > 3
                        ? inProgressContentList.length - 1
                        : inProgressContentList.length)
              "
              class="right-card-inner"
              tabindex="0"
              (click)="goToDetails(item, true)"
            >
              <h3>{{ item?.parentData[0]?.categorytitle }}</h3>
              <div class="basic-info">
                <div class="box-circle">
                  <img
                    style="width: 100%; height: 100%; border-radius: 50%"
                    *ngIf="
                      item &&
                      item.parentImageData[0] &&
                      item.parentImageData[0].url
                    "
                    [src]="item?.parentImageData[0].url | strapi: 'image'"
                    alt="logo"
                  />
                  <!-- <ng-template #elseBlock>
                    <span>Encouraging Illustration</span>
                  </ng-template> -->
                </div>
                <div class="content-info">
                  <h4>
                    {{ item?.completedresourcescountunderparent }}/{{
                      item?.totalresourcescountunderparent
                    }}
                    Completed
                  </h4>
                </div>
              </div>
              <div class="bottom-info">
                <p>
                  {{
                    moduleType.SERIESCATEGORIES === item?.moduleName
                      ? item?.parentData[0]?.minduration +
                        " - " +
                        item?.parentData[0]?.maxduration
                      : item?.duration
                  }}
                  mins

                  {{
                    contentType.video === item?.contenttype ? "watch" : "read"
                  }}
                </p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <!-- commented -->
                    <!-- <app-bookmark
                  appClickStopPropagation
                  [moduleId]="item?.moduleId"
                  [moduleName]="item?.moduleName"
                  >

                  </app-bookmark> -->
                  </div>
                  <div class="like-wrap">
                    <app-like
                      appClickStopPropagation
                      (statusChanged)="statusChangedLike()"
                      [moduleId]="item?.moduleId"
                      [moduleName]="item?.moduleName"
                      [hideLikeCount]="false"
                      [liked]="item?.isLiked"
                    >
                    </app-like>
                    <!-- <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="right-card-inner">
            <h3>Training Program: A field guide to self-care</h3>
            <div class="basic-info">
              <div class="box-circle">
              </div>
              <div class="content-info">
                <h4>3/4 Completed</h4>
              </div>
            </div>
            <div class="bottom-info">
              <p>10 mins watch</p>
              <div class="info-right">
                <div class="bookmark-wrap">
                  <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                </div>
                <div class="like-wrap">
                  <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
        <!-- <h3 class="sub-page-title">Saved for Later</h3>
      <div class="sub-content">
        <div class="flex">
          <div class="col-4">
            <div class="right-card-inner">
              <h3>Training Program: A field guide to self-care</h3>
              <div class="bottom-info">
                <p>10 mins watch</p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                  </div>
                  <div class="like-wrap">
                    <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="right-card-inner">
              <h3>Training Program: A field guide to self-care</h3>
              <div class="bottom-info">
                <p>10 mins watch</p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                  </div>
                  <div class="like-wrap">
                    <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="right-card-inner">
              <h3>Training Program: A field guide to self-care</h3>
              <div class="bottom-info">
                <p>10 mins watch</p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                  </div>
                  <div class="like-wrap">
                    <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="sub-page-title">Resources I liked</h3>
      <div class="sub-content">
        <div class="flex">
          <div class="col-4">
            <div class="right-card-inner">
              <h3>Training Program: A field guide to self-care</h3>
              <div class="bottom-info">
                <p>10 mins watch</p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                  </div>
                  <div class="like-wrap">
                    <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="right-card-inner">
              <h3>Training Program: A field guide to self-care</h3>
              <div class="bottom-info">
                <p>10 mins watch</p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                  </div>
                  <div class="like-wrap">
                    <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="right-card-inner">
              <h3>Training Program: A field guide to self-care</h3>
              <div class="bottom-info">
                <p>10 mins watch</p>
                <div class="info-right">
                  <div class="bookmark-wrap">
                    <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                  </div>
                  <div class="like-wrap">
                    <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
        <div *ngIf="inProgressContentList?.length == 0">
          <!-- <app-no-data></app-no-data> -->
          <div class="no-data-found">
            <figure>
              <img src="assets/images/no-data-found.jpg" alt="Image" />
            </figure>
            <p>
              You don’t currently have anything in progress. Click on
              <a [routerLink]="'DISCOVER' | absolutePath">Discover</a> to start
              learning
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Completed">
        <div class="btn-right">
          <button
            *ngIf="completedContentList?.length > 0"
            [routerLink]="['COMPLETED_RESOURCES' | absolutePath]"
            class="view-all"
          >
            View All
          </button>
        </div>
        <!-- <div *ngIf="completedContentList?.length > 0" class="completed-wrap">
          <div class="flex">
            <div
              *ngFor="
                let item of completedContentList
                  | slice
                    : 0
                    : (completedContentList.length > 3
                        ? completedContentList.length - 1
                        : completedContentList.length)
              "
              class="col-4"
            >
              <div class="completed-circle"></div>
              <app-content-card
                (statusChanged)="statusChangedLike()"
                (statusChangedSaved)="savedStatusChanged()"
                [item]="item"
              ></app-content-card>
            </div>
          </div>
        </div> -->
        <div
          *ngIf="completedContentList?.length > 0"
          class="top-content completed-tabs"
        >
          <div
            (click)="goToDetails(completedContentList[0], true)"
            class="content-left-card"
          >
            <div class="left-card-inner" tabindex="0">
              <div class="basic-info">
                <div class="box-circle"></div>
                <div class="content-info">
                  <div class="top-info">
                    <h4>
                      {{
                        completedContentList[0]
                          .completedresourcescountunderparent
                      }}{{
                        completedContentList[0].totalresourcescountunderparent
                      }}
                      Completed
                    </h4>
                    <ng-template #elseBlock>
                      <span>Encouraging Illustration</span>
                    </ng-template>
                    <h3>
                      {{
                        completedContentList[0]?.parentData[0]?.categorytitle
                      }}
                    </h3>
                    <div class="desc-wrap short-content">
                      <p
                        [innerHtml]="
                          completedContentList[0]?.parentData[0]?.categorydesc
                        "
                      ></p>
                    </div>
                    <!-- <button
                      (click)="goToDetails(completedContentList[0], true)"
                      type="button"
                      class="primary-btn"
                    >
                      Review answer
                    </button> -->
                  </div>
                  <div class="bottom-info">
                    <p>
                      {{
                        moduleType.SERIESCATEGORIES ===
                        completedContentList[0].moduleName
                          ? completedContentList[0]?.parentData[0]
                              ?.noofsessions + " Modules"
                          : completedContentList[0].duration
                      }}
                    </p>
                    <div class="info-right">
                      <div class="bookmark-wrap">
                        <!-- commented -->
                        <!-- <app-bookmark
                      appClickStopPropagation
                      [moduleId]="inProgressContentList[0].moduleId"
                      [moduleName]="inProgressContentList[0].moduleName"
                      >
    
                      </app-bookmark> -->
                        <!-- <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a> -->
                      </div>
                      <div class="like-wrap">
                        <app-like
                          (statusChanged)="statusChangedLike()"
                          appClickStopPropagation
                          [moduleId]="completedContentList[0].moduleId"
                          [moduleName]="completedContentList[0].moduleName"
                          [hideLikeCount]="false"
                          [liked]="completedContentList[0]?.isLiked"
                        ></app-like>
                        <!-- <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-right-card">
            <div
              *ngFor="
                let item of completedContentList
                  | slice
                    : 1
                    : (completedContentList.length > 3
                        ? completedContentList.length - 1
                        : completedContentList.length)
              "
              class="right-card-inner"
              tabindex="0"
              (click)="goToDetails(item, true)"
            >
              <div class="basic-info">
                <div class="box-circle"></div>
                <div class="content-info">
                  <div class="top-info">
                    <h4>
                      {{ item?.completedresourcescountunderparent
                      }}{{ item?.totalresourcescountunderparent }}
                      Completed
                    </h4>
                    <h3>{{ item?.parentData[0]?.categorytitle }}</h3>
                    <ng-template #elseBlock>
                      <span>Encouraging Illustration</span>
                    </ng-template>
                  </div>
                  <div class="bottom-info">
                    <p>
                      {{
                        moduleType.SERIESCATEGORIES ===
                        completedContentList[0].moduleName
                          ? completedContentList[0]?.parentData[0]
                              ?.noofsessions + " Modules"
                          : completedContentList[0].duration
                      }}
                    </p>
                    <div class="info-right">
                      <div class="bookmark-wrap">
                        <!-- commented -->
                        <!-- <app-bookmark
                      appClickStopPropagation
                      [moduleId]="item?.moduleId"
                      [moduleName]="item?.moduleName"
                      >
    
                      </app-bookmark> -->
                      </div>
                      <div class="like-wrap">
                        <app-like
                          appClickStopPropagation
                          (statusChanged)="statusChangedLike()"
                          [moduleId]="item?.moduleId"
                          [moduleName]="item?.moduleName"
                          [hideLikeCount]="false"
                          [liked]="item?.isLiked"
                        >
                        </app-like>
                        <!-- <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="right-card-inner">
            <h3>Training Program: A field guide to self-care</h3>
            <div class="basic-info">
              <div class="box-circle">
              </div>
              <div class="content-info">
                <h4>3/4 Completed</h4>
              </div>
            </div>
            <div class="bottom-info">
              <p>10 mins watch</p>
              <div class="info-right">
                <div class="bookmark-wrap">
                  <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                </div>
                <div class="like-wrap">
                  <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
        <div *ngIf="completedContentList?.length == 0">
          <!-- <app-no-data></app-no-data> -->
          <div class="no-data-found">
            <figure>
              <img src="assets/images/no-data-found.jpg" alt="Image" />
            </figure>
            <p>
              You don’t currently have anything in completed. Click on
              <a [routerLink]="'DISCOVER' | absolutePath">Discover</a> to start
              learning
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Saved">
        <div class="btn-right">
          <button
            *ngIf="savedCoursesList?.length > 0"
            [routerLink]="['COMPLETED_RESOURCES' | absolutePath]"
            class="view-all"
          >
            View All
          </button>
        </div>
        <!-- <div *ngIf="savedCoursesList?.length > 0" class="completed-wrap">
          <div class="flex">
            <div
              *ngFor="
                let item of savedCoursesList
                  | slice
                    : 0
                    : (savedCoursesList.length > 3
                        ? savedCoursesList.length - 1
                        : savedCoursesList.length)
              "
              class="col-4"
            >
              <div class="completed-circle"></div>
              <app-content-card
                (statusChanged)="statusChangedLike()"
                (statusChangedSaved)="savedStatusChanged()"
                [item]="item"
              ></app-content-card>
            </div>
          </div>
        </div> -->
        <div
          *ngIf="savedCoursesList?.length > 0"
          class="top-content completed-tabs"
        >
          <div
            (click)="goToDetails(savedCoursesList[0], true)"
            class="content-left-card"
          >
            <div class="left-card-inner" tabindex="0">
              <div class="basic-info">
                <div class="box-circle"></div>
                <div class="content-info">
                  <div class="top-info">
                    <h4>
                      {{ savedCoursesList[0].completedresourcescountunderparent
                      }}{{ savedCoursesList[0].totalresourcescountunderparent }}
                      Saved
                    </h4>
                    <h3>
                      {{ savedCoursesList[0]?.parentData[0]?.categorytitle }}
                    </h3>
                    <div class="desc-wrap short-content">
                      <p
                        [innerHtml]="
                          savedCoursesList[0]?.parentData[0]?.categorydesc
                        "
                      ></p>
                    </div>
                    <ng-template #elseBlock>
                      <span>Encouraging Illustration</span>
                    </ng-template>

                    <!-- <button
                      (click)="goToDetails(savedCoursesList[0], true)"
                      type="button"
                      class="primary-btn"
                    >
                      Review answer
                    </button> -->
                  </div>
                  <div class="bottom-info">
                    <p>
                      {{
                        moduleType.SERIESCATEGORIES ===
                        savedCoursesList[0].moduleName
                          ? savedCoursesList[0]?.parentData[0]?.noofsessions +
                            " Modules"
                          : savedCoursesList[0].duration
                      }}
                    </p>
                    <div class="info-right">
                      <div class="bookmark-wrap">
                        <!-- commented -->
                        <!-- <app-bookmark
                      appClickStopPropagation
                      [moduleId]="inProgressContentList[0].moduleId"
                      [moduleName]="inProgressContentList[0].moduleName"
                      >
    
                      </app-bookmark> -->
                        <!-- <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a> -->
                      </div>
                      <div class="like-wrap">
                        <app-like
                          (statusChanged)="statusChangedLike()"
                          appClickStopPropagation
                          [moduleId]="savedCoursesList[0].moduleId"
                          [moduleName]="savedCoursesList[0].moduleName"
                          [hideLikeCount]="false"
                          [liked]="savedCoursesList[0]?.isLiked"
                        ></app-like>
                        <!-- <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-right-card">
            <div
              *ngFor="
                let item of savedCoursesList
                  | slice
                    : 1
                    : (savedCoursesList.length > 3
                        ? savedCoursesList.length - 1
                        : savedCoursesList.length)
              "
              class="right-card-inner"
              tabindex="0"
              (click)="goToDetails(item, true)"
            >
              <div class="basic-info">
                <div class="box-circle"></div>
                <div class="content-info">
                  <div class="top-info">
                    <h4>
                      {{ item?.completedresourcescountunderparent
                      }}{{ item?.totalresourcescountunderparent }}
                      Saved
                    </h4>
                    <h3>{{ item?.parentData[0]?.categorytitle }}</h3>
                    <ng-template #elseBlock>
                      <span>Encouraging Illustration</span>
                    </ng-template>
                  </div>
                  <div class="bottom-info">
                    <p>
                      {{
                        moduleType.SERIESCATEGORIES ===
                        savedCoursesList[0].moduleName
                          ? savedCoursesList[0]?.parentData[0]?.noofsessions +
                            " Modules"
                          : savedCoursesList[0].duration
                      }}
                    </p>
                    <div class="info-right">
                      <div class="bookmark-wrap">
                        <!-- commented -->
                        <!-- <app-bookmark
                      appClickStopPropagation
                      [moduleId]="item?.moduleId"
                      [moduleName]="item?.moduleName"
                      >
    
                      </app-bookmark> -->
                      </div>
                      <div class="like-wrap">
                        <app-like
                          appClickStopPropagation
                          (statusChanged)="statusChangedLike()"
                          [moduleId]="item?.moduleId"
                          [moduleName]="item?.moduleName"
                          [hideLikeCount]="false"
                          [liked]="item?.isLiked"
                        >
                        </app-like>
                        <!-- <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="right-card-inner">
            <h3>Training Program: A field guide to self-care</h3>
            <div class="basic-info">
              <div class="box-circle">
              </div>
              <div class="content-info">
                <h4>3/4 Completed</h4>
              </div>
            </div>
            <div class="bottom-info">
              <p>10 mins watch</p>
              <div class="info-right">
                <div class="bookmark-wrap">
                  <a><img src="assets/images/icons/bookmark.svg" alt="Icon" ></a>
                </div>
                <div class="like-wrap">
                  <a><img src="assets/images/icons/heart.svg" alt="Icon"></a><span>1</span>
                </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
        <div *ngIf="savedCoursesList?.length == 0">
          <!-- <app-no-data></app-no-data> -->
          <div class="no-data-found">
            <figure>
              <img src="assets/images/no-data-found.jpg" alt="Image" />
            </figure>
            <p>
              You don’t currently have anything in saved. Click on
              <a [routerLink]="'DISCOVER' | absolutePath">Discover</a> to start
              learning
            </p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!-- <h3 class="sub-page-title">Recommended</h3>
    <div class="video-slider">
      <p>
        We continue provide resources for you to learn about anxiety management,
        <br />here are some highlighted resources for you.
      </p>
      <div class="slider_sec_wrapper">
        <swiper
          #hSlider
          [config]="homeConfig"
          (indexChange)="changeSliderIndex($event)"
          class="swiper-wrapper"
        >
          <div class="swiper-slide">
            <video width="100%" height="100%" controls>
              <source
                src="https://www.w3schools.com/html/movie.mp4"
                type="video/mp4"
              />
              <source
                src="https://www.w3schools.com/html/movie.ogg"
                type="video/ogg"
              />
            </video>
          </div>

          <div class="swiper-slide">
            <video width="100%" height="100%" controls>
              <source
                src="https://www.w3schools.com/html/movie.mp4"
                type="video/mp4"
              />
              <source
                src="https://www.w3schools.com/html/movie.ogg"
                type="video/ogg"
              />
            </video>
          </div>
        </swiper>
      </div>
    </div>
    <div class="next_btn" (click)="slideNext()" *ngIf="nextBtn">
      <img src="assets/images/arrow-down-s-line.svg" alt="" />
    </div>

    <div class="prev_btn" (click)="slidePrev()" *ngIf="prevBtn">
      <img src="assets/images/arrow-down-s-line.svg" alt="" />
    </div> -->
  </div>
</section>
<section class="saved-liked-wrap">
  <div class="container">
    <ng-container *ngIf="savedContentList && savedContentList.length">
      <div class="flex-title">
        <h2 class="sub-page-title">Saved for Later</h2>
        <button
          *ngIf="savedContentList.length && savedContentList.length > 3"
          [routerLink]="['SAVED_RESOURCES' | absolutePath]"
          class="view-links"
        >
          View All
        </button>
      </div>
      <div class="sub-page-content mb-30">
        <div class="flex">
          <div
            *ngFor="
              let item of savedContentList
                | slice
                  : 0
                  : (savedContentList.length > 3
                      ? savedContentList.length - 1
                      : savedContentList.length)
            "
            class="col-4"
          >
            <app-content-card
              [isDashboardCard]="true"
              (statusChanged)="statusChangedLike()"
              (statusChangedSaved)="savedStatusChanged()"
              [item]="item"
            ></app-content-card>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="likedContentList && likedContentList.length">
      <div class="flex-title">
        <h2 class="sub-page-title">Resources I Liked</h2>
        <button
          *ngIf="likedContentList.length && likedContentList.length > 3"
          [routerLink]="['LIKED_RESOURCES' | absolutePath]"
          class="view-links"
        >
          View All
        </button>
      </div>
      <div class="sub-page-content">
        <div class="flex">
          <div
            *ngFor="
              let item of likedContentList
                | slice
                  : 0
                  : (likedContentList.length > 3
                      ? likedContentList.length - 1
                      : likedContentList.length)
            "
            class="col-4"
          >
            <app-content-card
              [isDashboardCard]="true"
              (statusChanged)="statusChangedLike()"
              (statusChangedSaved)="savedStatusChanged()"
              [item]="item"
            ></app-content-card>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
