<mat-card-title class="module-title"> List All Candidates </mat-card-title>
<mat-card class="container">
  <div class="select-filters">
    <div class="select-filters">
      <div class="grid-item">
        <mat-card-subtitle class="c-2-label">Department</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <mat-select>
            <mat-option *ngFor="let item of departments" value="{{ item }}">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-card-subtitle class="c-2-label">Status</mat-card-subtitle>
        <mat-form-field appearance="outline">
          <mat-select>
            <mat-option *ngFor="let item of status" value="{{ item }}">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-ru-table
    class="table"
    [TableClass]="'my-interview-table'"
    [tableColumns]="tableColumns"
    [tableData]="tableData"
    [isFilterable]="true"
    [isPageable]="true"
  ></app-ru-table>
</mat-card>
