<mat-card-title class="module-title"> List All Candidates </mat-card-title>
<mat-card class="container">
  <div class="select-filters">
    <div *ngFor="let item of selectFilter">
      <mat-card-subtitle class="label">{{ item.label }}</mat-card-subtitle>
      <mat-form-field appearance="outline" id="{{ item.label }}">
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="search-filters">
    <div *ngFor="let item of searchFilter" class="form-field-container">
      <mat-card-subtitle class="label-horizontal">{{
        item.label_horizontal_left
      }}</mat-card-subtitle>
      <mat-form-field
        *ngIf="item.type == 'select'"
        appearance="outline"
        class="number-select"
      >
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="item.type == 'input'" appearance="outline">
        <input matInput type="text" />
      </mat-form-field>
      <mat-card-subtitle class="label-horizontal">{{
        item.label_horizontal_right
      }}</mat-card-subtitle>
    </div>
  </div>

  <app-ru-table
    class="table"
    [TableClass]="'my-interview-table'"
    [tableColumns]="tableColumns"
    [tableData]="tableData"
  ></app-ru-table>
</mat-card>
