.container {
  padding: 24px 12px;

  .select-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns, each with equal width */
    grid-gap: 10px;
    /* Space between grid items */
  }

  @media screen and (max-width: 600px) {
    .select-filters {
      grid-template-columns: repeat(1, 1fr);
      /* One column with full width */
    }
  }

  .grid-item {
    width: 100%;
    /* Each item takes up full width of its column */
  }

  @media screen and (min-width: 600px) {
    .grid-item {
      width: 100%;
      /* Each item takes up half width of its column */
    }
  }

}