.header {
  background: #f3f3f3 !important;
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .title {
    font-size: 1.4em;
    color: #199cff;
    line-height: 1.2;
    font-weight: 550;
  }
  .icon {
    background: white;
    border-radius: 50%;
    padding: 0.2em;
  }
}

.feed-back-container {
  .form-data {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    .label {
      min-width: 100px;
      color: #606167;
      font-size: 14px;
    }
    .data {
      color: #231e1e;
      font-size: 14px;
    }
  }
  .radio-group {
    gap: 0.5em;
  }
  .question {
    margin-bottom: 1em;
    font-size: 14px;
  }
  .degrade {
    color: #d9534f;
    font-size: 14px;
  }
  .enhance {
    color: #02bc77;
    font-size: 14px;
  }
  .mat-divider {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .action {
    padding-top: 1em;
    gap: 0.5em;
    justify-content: flex-end;
  }
  .text-area {
    ::ng-deep .mat-mdc-text-field-wrapper {
      background-color: white;
      min-height: 10em;
    }
  }
}

@media all and (max-width: 80em) {
  .feed-back-container {
    .form-data {
      width: 100%;
      .label {
        min-width: auto;
      }
    }
    .radio-group-wrapper {
      flex-direction: column;
      align-items: flex-start !important;

      .radio-group {
        flex-direction: column;
      }
    }
  }
}
