<!-- Main Content Start Here -->
<section class="main-content">
  <!-- Main Content Banner Start Here -->
  <div class="main-content-banner">
    <div class="container">
      <div class="inner-wrap">
        <div class="content-details">
          <div class="left-content">
            <h1 class="page-title">{{ parentData?.courseTitle }}</h1>
            <div class="top-action">
              <!-- <app-like
                          style="margin-right: 10px"
                          [isBorder]="false"
                          [moduleName]="parentData.moduleName"
                          [liked]="parentData?.isLiked"
                          [moduleId]="parentData?.moduleId"
                          [contentName]="parentData?.categorytitle"
                          [contentType]="parentData?.contenttype"
                      ></app-like> -->
              <!-- <app-social-share [isShareUrl]="true"></app-social-share>
                    <ng-container *ngIf="userLoggedIn">
                      <app-bookmark
                        [isBorder]="false"
                        [moduleName]="parentData.moduleName"
                        [saved]="parentData?.isSaved"
                        [moduleId]="parentData?.moduleId"
                        [contentName]="parentData?.categorytitle"
                        [contentType]="parentData?.contenttype"
                      ></app-bookmark> -->
            </div>
            <div
              class="left-inner"
              [innerHtml]="parentData?.courseDescription"
            ></div>
            <div class="btn-holder">
              <button type="button" class="register-btn" (click)="onRegister()">
                Register
              </button>
              <!-- <button type="button" class="enrolled-btn">Enrolled</button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="right-bg">
        <img
          [src]="parentData?.categoryimageData[0]?.url | strapi: 'image'"
          alt="Image"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
  <!-- Main Content Banner End Here -->
</section>
<!-- Main Content End Here -->
<section class="skill-developed">
  <div class="container">
    <div class="skill-listing-wrap">
      <div class="skill-circle-area">
        <div class="skill-circle">
          <div class="skill-circle-inner">
            <h3>Skills <br />developed</h3>
            <p>In this course you will learn how to</p>
          </div>
        </div>
      </div>
      <div class="skill-list-wrap">
        <div class="skill-list">
          <div
            *ngFor="let skill of parentData?.courseskillsData"
            class="skill-card"
          >
            <div class="skill-card-inner">
              <figure>
                <img src="assets/images/icons/check-circle.svg" alt="Icon" />
              </figure>
              <p>{{ skill.skilldescription }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="course-curriculum">
  <div class="container">
    <div class="flex-course">
      <div class="accrordian-wrap">
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="
              let module of parentData?.coursePageResourcesData;
              let i = index
            "
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong
                  ><span>{{ i + 1 }}</span
                  >{{ module.courseResourceTitle }}</strong
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ module.courseResourceDescription }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="course-curriculum-info">
        <h3>{{ parentData?.courseTitle1 }}</h3>
        <div class="desc-wrap" [ngClass]="{ 'short-content': !showMore1 }">
          <p [innerHtml]="parentData?.courseDescription1"></p>
        </div>
        <div
          *ngIf="parentData?.courseDescription1.length >= 600"
          class="more-detail"
        >
          <a (click)="showDetail1()">{{
            showMore1 ? "Less Detail" : "More detail"
          }}</a>
        </div>
      </div>
    </div>
    <div class="flex-course">
      <div class="course-curriculum-info">
        <h3>{{ parentData?.courseTitle2 }}</h3>
        <div class="desc-wrap" [ngClass]="{ 'short-content': !showMore2 }">
          <p [innerHtml]="parentData?.courseDescription2"></p>
        </div>
        <div
          *ngIf="parentData?.courseDescription2.length >= 600"
          class="more-detail"
        >
          <a (click)="showDetail2()">{{
            showMore2 ? "Less Detail" : "More detail"
          }}</a>
        </div>
      </div>
      <div class="video-section">
        <div class="video-inner">
          <!-- {{ parentData?.courseVideoData[0]?.url | strapi: "video" }} -->
          <video
            #videoPlayer
            *ngIf="parentData && parentData.courseVideoData.length"
            [src]="parentData?.courseVideoData[0]?.url | strapi: 'video'"
            type="video/mp4"
            controls
          >
            <source
              [src]="parentData?.courseVideoData[0]?.url | strapi: 'video'"
              type="video/mp4"
            />
            <source
              [src]="parentData?.courseVideoData?.url | strapi: 'video'"
              type="video/ogg"
            />
            Your browser does not support HTML video.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="related-course" *ngIf="relatedArticles.length">
  <div class="container">
    <h2 class="sub-page-title">Related to this course</h2>
    <div class="sub-page-content">
      <div class="flex-related">
        <!-- [appTooltipInfo]="item" -->
        <div
          *ngFor="let item of relatedArticles"
          class="col-4 style-relative"
          (click)="utilityService.goToDetails(item)"
        >
          <!-- <div class="hide content-inner-tooltip">
            <div class="hover-content-tooltip">
              <div class="top-section">
                <div class="close-wrap">
                  <a
                    ><img
                      class="cross-icon"
                      src="assets/images/close-tooltip.svg"
                      alt="Icon"
                  /></a>
                </div>
                <h3>{{ item.title }}</h3>
              </div>
              <div class="sub-info">
                <div class="top-info">
                  <div class="book-icon">
                    <span
                      *ngIf="item.moduleName == 'SERIESCATEGORIES'"
                      class="small-content"
                    >
                      {{
                        item.minduration + " - " + item.maxduration + " mins"
                      }}
                      {{
                        item.contenttype | contentType: "contentLabel"
                      }}</span
                    >
                    <span
                      *ngIf="item.moduleName == 'SERIESCONTENT'"
                      class="small-content"
                    >
                      {{ item.duration + " " + "mins" }}
                      {{
                        item.contenttype | contentType: "contentLabel"
                      }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="content-description">
                <p
                  [innerHtml]="
                    item.resourceData && item.resourceData.length
                      ? item.resourceData[0].shortdesc
                      : item.postcontent
                  "
                  class="ck-content"
                ></p>
              </div>
              <div class="btn-wrap">
                <button
                  (click)="utilityService.goToDetails(item)"
                  type="button"
                  class="primary-btn"
                >
                  Let's Go
                </button>
              </div>
            </div>
          </div> -->
          <!-- <div class="content-inner">
            <div class="info-top">
              <div class="resource-type-icon">
                <figure>
                  <img
                    [src]="item?.contenttype | contentTypeIcon"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="resource-type-content">
                <h3>{{ item?.title }}</h3>
              </div>
            </div>

            <div class="bottom-info">
              <div class="left-info">
                <p class="time">
                  {{ item?.minduration + " - " + item?.maxduration }} mins
                  {{
                    item?.contenttype === contentType.video ? "watch" : "read"
                  }}
                </p>
              </div>
              <div class="right-info">
                <app-like
                  [hideLikeCount]="false"
                  appClickStopPropagation
                  [liked]="item?.moduleId"
                  [moduleId]="item?.moduleId"
                  [moduleName]="item?.moduleName"
                >
                </app-like>
              </div>
            </div>
          </div> -->
          <app-content-card [item]="item"></app-content-card>
        </div>
      </div>
    </div>
  </div>
</div>
