div {
  display: grid;
  grid-template-columns: calc(100% / 3 - 0.5em) calc(100% / 3 - 0.5em) calc(
      100% / 3 - 0.5em
    );
  gap: 1.5em;
}

@media all and (max-width: 1264px) {
  div {
    grid-template-columns: auto auto;
  }
}

@media all and (max-width: 937px) {
  mat-card-title {
    text-align: center;
  }
  div {
    grid-template-columns: auto;
    margin-bottom: 1em;
  }
}
