.wrapper {
  padding: 0.875rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(24, 28, 33, 0.06);
  .button-group {
    background-color: #f3f7fc;
    padding: 6px;
    gap: 0.1em;
    .btn {
      padding: 0.5em 2em;
    }
    .active {
      background-color: var(--spiro);
      color: white;
    }
  }
  .button-cancel {
    .icon {
      color: rgb(126, 211, 33);
    }
  }
}
