<div>
  <mat-card-title class="module-title">
    Lorem ipsum dolor sit amet.
  </mat-card-title>
  <mat-card>
    <div class="wrapper flex jc-between ai-center">
      <div class="button-group flex">
        <button
          mat-button
          class="btn"
          [ngClass]="{ active: selectedTab === 'training detail' }"
          (click)="selectedTab = 'training detail'"
        >
          Training Details
        </button>
        <button
          mat-button
          class="btn"
          [ngClass]="{ active: selectedTab === 'sub topic' }"
          (click)="selectedTab = 'sub topic'"
        >
          Sub-Topics
        </button>
        <button
          mat-button
          class="btn"
          [ngClass]="{ active: selectedTab === 'attendance' }"
          (click)="selectedTab = 'attendance'"
        >
          Attendance
        </button>
      </div>

      <button mat-button class="button-cancel">
        <mat-icon class="icon">fiber_manual_record</mat-icon>
        {{ "Completed" }}
      </button>
    </div>
  </mat-card>
  <div [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'training detail'">
      <app-training-details></app-training-details>
    </div>
    <div *ngSwitchCase="'sub topic'">
      <app-sub-topics></app-sub-topics>
    </div>
    <div *ngSwitchCase="'attendance'">
      <app-attendance></app-attendance>
    </div>
    <div *ngSwitchDefault>
      <app-training-details></app-training-details>
    </div>
  </div>
</div>
