<header [ngClass]="{ active: isActiveClass }" class="header">
  <div class="container">
    <div class="header-inner">
      <div class="brand">
        <a [routerLink]="['HOME' | absolutePath]" tabindex="0"
          ><img src="assets/images/wmhh-logo.svg" alt="Mental Health Hub"
        /></a>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="center-menu">
            <ul>
              <li
                [routerLink]="['URGENT_HELP' | absolutePath]"
                accessibilityClick
                tabindex="1"
                routerLinkActive="active"
              >
                <a tabindex="0">Urgent Help</a>
              </li>
              <li
                routerLinkActive="active"
                accessibilityClick
                [routerLink]="['DISCOVER' | absolutePath]"
                [queryParams]="{ savedFilters: 'true' }"
                tabindex="1"
              >
                <a tabindex="0">Discover</a>
              </li>
              <li accessibilityClick tabindex="1" (click)="openHelpUs()">
                <a tabindex="0">Contact Us</a>
              </li>
              <li
                accessibilityClick
                routerLinkActive="active"
                [routerLink]="['DASHBOARD' | absolutePath]"
                *ngIf="userLoggedIn"
                tabindex="1"
              >
                <a tabindex="0">Dashboard</a>
              </li>
              <!-- <li
            *ngIf="userLoggedIn"
            [routerLink]="['PREFERENCCES' | absolutePath]"
            tabindex="1"
          >
            <a tabindex="0">Preferences</a>
          </li> -->
            </ul>
          </div>
          <div class="right-menu">
            <ul>
              <li
                accessibilityClick
                *ngIf="!userLoggedIn"
                (click)="openLogin()"
                tabindex="1"
              >
                <a tabindex="0">Sign In</a>
              </li>

              <li
                accessibilityClick
                *ngIf="!userLoggedIn"
                (click)="openSignUp()"
                tabindex="1"
              >
                <a tabindex="0" class="signup-btn">Sign Up</a>
              </li>
              <li
                accessibilityClick
                *ngIf="userLoggedIn"
                (click)="logout()"
                tabindex="1"
              >
                <a tabindex="0">Logout</a>
              </li>
              <li class="profile-details">
                <a tabindex="0"   accessibilityClick
                *ngIf="userLoggedIn"
                [routerLink]="['PREFERENCCES' | absolutePath]">
                <figure>
                  <img
                    [src]="
                     this.profileData && this.profileData?.profilePictureData &&this.profileData.profilePictureData[0]?.url
                        ? this.profileData?.profilePictureData[0]?.url
                        : 'assets/images/user-placeholder.png'
                    "
                    alt="Image"
                  />
                </figure>
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mobile-menu">
        <a [matMenuTriggerFor]="beforeMenu" tabindex="0"
          ><img src="assets/images/icons/menu.svg" alt="Hamburger Icon"
        /></a>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button [routerLink]="['HOME' | absolutePath]" mat-menu-item>
            <img src="assets/images/icons/ic_home.svg" alt="Icon" /><span
              >Home</span
            >
          </button>
          <button [routerLink]="['DISCOVER' | absolutePath]" mat-menu-item>
            <img src="assets/images/icons/ic_search.svg" alt="Icon" /><span
              >Discover</span
            >
          </button>
          <button [routerLink]="['URGENT_HELP' | absolutePath]" mat-menu-item>
            <img src="assets/images/icons/ic_exclamation.svg" alt="Icon" /><span
              >Urgent Help</span
            >
          </button>
          <button (click)="openHelpUs()" mat-menu-item>
            <img src="assets/images/icons/ic_comment.svg" alt="Icon" /><span
              >Contact Us</span
            >
          </button>
          <button *ngIf="!userLoggedIn" (click)="openLogin()" mat-menu-item>
            <img src="assets/images/icons/ic_home.svg" alt="Icon" /><span
              >Sign In</span
            >
          </button>
          <button *ngIf="!userLoggedIn" (click)="openSignUp()" mat-menu-item>
            <img src="assets/images/icons/ic_search.svg" alt="Icon" /><span
              >Sign Up</span
            >
          </button>
          <button
            *ngIf="userLoggedIn"
            [routerLink]="['PREFERENCCES' | absolutePath]"
            mat-menu-item
          >
            <img src="assets/images/icons/ic_exclamation.svg" alt="Icon" /><span
              >Profile</span
            >
          </button>
          <button
            *ngIf="userLoggedIn"
            [routerLink]="['DASHBOARD' | absolutePath]"
            mat-menu-item
          >
            <img src="assets/images/icons/ic_comment.svg" alt="Icon" /><span
              >Dashboard</span
            >
          </button>

          <button *ngIf="userLoggedIn" (click)="logout()" mat-menu-item>
            <img src="assets/images/icons/ic_comment.svg" alt="Icon" /><span
              >Logout</span
            >
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
